<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p style="text-align: center;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Surah Araf</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">And Its Significance</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Rayyan</p></td></tr>
  </table></a></p>
  <hr>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
The surah I will be talking about today is Surah Araf. Surah Araf is the 7th Surah in the Quran with 206 ayahs, also being a Meccan surah. Surah araf is a surah that talks about the origins of creation, along with the story of the Prophets. There is also an important topic surah Araf talks about which is the place between Jannah and Jahannam, which is called Araf. An ayah that talks about the place between Jannah and Jahannam is ayah 46 of Surah A’raf. Ayah 46 of Surah A’raf states “And between them will be a partition, and on [its] elevations are men who recognize all by their mark. And they call out to the companions of Paradise, "Peace be upon you." They have not [yet] entered it, but they long intensely.” This tells us that there will be a partition between some people and Jannah. This ayah talks about the A’raf. Surah Araf also covers a big topic which is the lives of the Prophets. Knowing the lives of the Prophets are important. These Prophet stories teach us important lessons. For example, surah A’raf says the story of Adam and teaches us a lesson, which is that Shaytan is a big enemy to all of mankind. In Ayahs 20-21, Surah A’raf says But Satan whispered to them to make apparent to them that which was concealed from them of their  private parts. He said, "Your Lord did not forbid you this tree except  that you become angels or become of the immortal." And he swore [by  Allah] to them, "Indeed, I am to you from among the sincere advisors." This tells us that shaytan has caused Adam’s demise. That is what lesson the story of Adam teaches. There are also many other prophet stories in Surah A’raf that teach us different lessons such as Prophet Musa, which is that we can’t see Allah but we have to believe in him without seeing him. Ayah 143 of Surah A’raf says “ And when Moses came at Our appointment, and his Lord spoke to him, he said: 'O my Lord! Reveal Yourself to me, that I may look upon You!' He replied: 'Never can you see Me. However, behold this mount; if it remains firm in its place, only then you will be able to see Me.' And as soon as his Lord unveiled His glory to the mount, He crushed it into fine dust, and Moses fell down in a swoon. And when he recovered, he said: 'Glory be to You!” This teaches us that we will not be able to see Allah in this life. However, even if we can’t see Allah, we have to worship him.  There is also Prophet Nuh which has a lesson of Tawheed, which is believing in one God. “ Indeed We sent Nuh to his people and he said “O my people! Worship Allah! You have no other God but him. None has the right to be worshipped but Allah… (Surah A’raf; Ayah 59).” This tells us what lesson that the Story of Nuh tells us about Tawheed and to believe in one God only. The people of Nuh didn’t believe in Allah, and they were wiped out as a punishment.  Another prophet that Surah A’raf talks about is Prophet Salih. The lesson from the story of Prophet Salih is that we shouldn’t try challenging him, asking him for proof that he exists, when the world that we live in is proof that Allah exists. There is also another lesson that the story of Prophet Salih teaches. That lesson is that we shouldn’t disobey Allah, and we should listen to his prophets and messengers and listen to what they say. There is also another lesson which is that we should keep our promises to Allah. We ask for what we want and promise to worship him, but when we get what we want, we turn back on our promises and revert back to what we used to do. The people of Thamud had good land and crops but didn’t believe in Allah. The people of Thamud didn’t believe in Allah and didn’t listen to Prophet Salih. As a result, the people of Salih were destroyed. These are the lessons that the story of Prophet Salih teaches. Another prophet that Surah A’raf talks about is Prophet Shuayb. The lessons taught by the story of Prophet Shuayb are lessons about sins. For example, one lesson about the story of Prophet Shuayb is that robbing and stealing is a sin. The people of Shuaib also used to get wealth by cheating in their businesses. Shuayb tries to stop them. In ayah 85 of Surah A’raf, it says “ And to the people of Midian We sent their brother Shuaib.  He said:  ‘O my people! Worship God! You have no other God but Him”. He also tries to convince them that he is trying to do it for their own good. In the end, they were all wiped out by an earthquake from Allah. Ayahs 91-93 in Surah A’raf says “ Then Shuayb turned from them and said: "0 my people! I have indeed conveyed my Lord's Messages unto you and I have given you good advice. Then how can I sorrow for the disbelieving people's (destruction)." In conclusion, the lessons we can learn from the story of Prophet Shuayb is not to steal or get wealthy by cheating, as well as the fact that at the end, the disbelievers will always lose. These are just some of the Prophets that are mentioned in Surah A’raf and some of the lessons that they teach. There are still many Prophet stories that have important lessons. As a result, Surah A’raf is important because it talks about 2 main topics which are the stories of many prophets, and the place between Jannah and Jahannam called the A’raf.  
</p>
<br>

  </div>
  </body>