<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>

  <body>
  <div class="container">
    <p style="text-align: center;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Tuhfatul Atfal</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">A Gift for the Children</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Al-Jamzuri RA</p></td></tr>
  </table></a></p>
  <hr>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
The following poem, named Tuhfatul Atfal - A Gift for the Children, is a classic poem on Tajweed, which was written by Al-Jamzuri RA, who learned from Al-Mihi RA. This post will include the audio, arabic, and translation of the poem. This is not the full poem because I didn't finish memorizing it but I will update it as I continue memorizing.
</p>
<br>
<p style="text-align:center;"><audio controls style="width:75%;"><source src="https://cdn.discordapp.com/attachments/761736282459734048/1133484945491374090/First_.m4a"</audio></p>
<p style="text-align:center;"><img src="https://cdn.discordapp.com/attachments/761736282459734048/1133571476960854146/output-onlinepngtools_5.png" style="width:75%;"></p>
<br>
<p style="text-align:center;"><audio controls style="width:75%"><source src="https://cdn.discordapp.com/attachments/761736282459734048/1133484944782528673/Second.m4a"</audio></p>
<p style="text-align:center;"><img src="https://cdn.discordapp.com/attachments/761736282459734048/1133572252382802062/image.png" style="width:75%;"><img src="https://cdn.discordapp.com/attachments/761736282459734048/1133572649612742708/image.png" style="width:75%;"></p>
<br>
<p style="text-align:center;"><audio controls style="width:75%;"><source src="https://cdn.discordapp.com/attachments/761736282459734048/1133484944476352693/Third.m4a"</audio></p>
<p style="text-align:center;"><img src="https://cdn.discordapp.com/attachments/761736282459734048/1133573618916405348/image.png" style="width:75%;"></p>
<br>
<p style="text-align:center;"><audio controls style="width:75%;"><source src="https://cdn.discordapp.com/attachments/761736282459734048/1133484945147428874/Fourth_.m4a"</audio></p>
<p style="text-align:center;"><img src="https://cdn.discordapp.com/attachments/761736282459734048/1133574345462128690/image.png" style="width:75%;"></p>
<br>
<p style="text-align:center;"><audio controls style="width:75%;"><source src="https://cdn.discordapp.com/attachments/761736282459734048/1133484945776578662/Fifth.m4a"</audio></p>
<p style="text-align:center;"><img src="https://cdn.discordapp.com/attachments/761736282459734048/1133575327927513178/image.png" style="width:75%;"></p>
  </div>
  </body>