<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p style="text-align: center;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Salah</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Its Conditions, Pillars, and Obligations</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Adnan</p></td></tr>
  </table></a></p>
  <hr>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">
The 9 Conditions
</p>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: left;">
1. You must be muslim.
<br>
2. You must have a sound mind and be mentally sane. (Those with a mental illness are excused from salah)
<br>
3. You have to be at the age of understanding. (7 years old)
<br>
4. You must face the qibla.
<br>
5. You have to perform wudu.
<br>
6. You must be clean. (Have clean clothes and pray in a clean area)
<br>
7. You have to cover your awrah (private parts). Men must cover themselves from around their neck area to the area below the knees, but slightly above the ankles. Women should cover their whole body. (Face and hands are not mandatory to cover)
<br>
8. You must have the correct intention.
<br>
9. Pray within the time that's given. (ex: You can't pray fajr at 9am, or dhuhr at 5pm)
    </p>
<br>

<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">
    The 14 Pillars
    </p>
    <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: left;">
1. Standing before salah. 
<br>
2. Only the first allahu akbar. (opening)
<br>    
3. Surah Fatiha in every raka’at.
<br>    
4. The position of rukoot. (bowing)
<br>    
5. The rising from rukoot. 
<br>    
6. The standing right after rukoot.
<br>    
7. Sujood. (prostration)
<br>    
8. The rising from the sujood.
<br>    
9. The sitting after sujood.
<br>    
10. Must be tranquil and focused.
<br>    
11. Must perform all in order. 
<br>    
12. The final tashahhud ONLY. (ex: salatul asr has tashahhud in the middle and end, but this pillar is only for the end)
<br>    
13. Giving salam to the prophet. (mandatory only in after reciting the tashahhud in the ending) 
<br>    
14. Saying “assalamualaykum warahmatullah” twice at the end.
</p><br><p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">We must always complete these pillars while praying. It is mandatory to do so, but if you forget a pillar of salah, (maybe you forget to recite surah fatiha or don't say that beginning allahu akbar) you have to get up and pray an extra raka’at.</p>
        
        </p>
    <br>
    <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">
        The 8 Obligations
        </p>
        <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: left;">
1. The rest of the allahuakbars.
<br>
2. saying “Subhaana Rabbi al-‘Adheem” in rukoot.
<br>        
3. Saying “Sami’a Allaahu Liman Hamidah” when coming up from rukoot. 
<br>         
4. Saying “Rabbanaa wa Lakal-Hamd” while standing after the rukoot. 
<br>        
5. Saying “Subhaana Rabby al-A’alaa” while in sujood.
<br>        
6. Saying “Rabb Ighfir Lee” while in between the two prostrations.
<br>        
7. The first tashahud. (ex: salatul dhuhr has a middle and ending tashahhud, but this obligation is for the middle only and you don't have to give salam to the prophet)
<br>        
8. The sitting in the middle tashahhud. 
</p><br><p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">It is also mandatory to complete these obligations. But the difference between the obligations and the pillars is that if you miss an obligation, you only have to perform two sujood as sahw after salah finishes.</p>
            
        <br>
  </div>
  </body>