<style>
  body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
  .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
  a { text-decoration: none; }
  @font-face {
  font-family: arabic;
  src: url(/assets/arabic.ttf);
}
</style>

<body>
<div class="container">
  <p style="text-align: center;"><table style="width:100%;margin:0px;">
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Allah's Mercy</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Spoken Word</p></td></tr>
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Emam</p></td></tr>
</table></a></p>
<hr>

<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
In Allah's mercy all will find light<br>Never despair cause he is listening, even in the darkest of night<br>Don't distress and don't lose sight,<br>for he will make your days infinitely bright<br>His love is like the ocean, which is eternally deep<br>Without a doubt he will forgive us,<br>this is a promise he will always keep<br>From the river to the sea<br>Undoubtedly, you'll find his mercy<br>His mercy knows no bound<br>He will pick you up, no matter how many times you drowned<br>He is ar-rahman and ar-raheem<br>Whenever you're down, he is there, to boost your self-esteem<br>He is al-ghafoor and al-wadood<br>He forgives and loves and to his servant he is always good<br>With open arms, a mother is there to comfort,<br>A priceless blessing of incredible worth<br>The unconditional love of a mother has a beautiful shine<br>Her love for her child so great, a love that is so sublime<br>But know this, Allah's love for you surpasses hers by seventy times<br>Allah loves his servant no matter how many times he crossed the line<br>His love is so infinite and so divine<br>No sin too great, no soul too far astray,<br>For Allah's mercy guides us all on the correct way<br>The greatness of his mercy is clear to see<br>A gift given to all, which will make you feel free<br>No one can comprehend the extent of his love,<br>A gift given from him, sent from above<br>In the darkest hours, his mercy is the guide<br>When thinking about it, our hearts cried<br>He watches over us with a kind, guiding hand<br>Forgiving our misdeeds and helping us to understand<br>No sin too big, no burden too great<br>It's not the sinners, but the sins that he hates<br>In his compassion and mercy, we find our way and fate<br>He hears our heartfelt prayers, our tears and pleas<br>Granting us hope, bringing us to our knees<br>No sin too deep, no burden that can't be eased<br>In his compassion, all worries are appeased<br>With boundless love, his forgiveness always embrace,<br>A chance to start again, to seek his grace<br>When the storms of this life appear,<br>Have faith, for Allah's love is always near<br>In trials and tribulations, stand faithful and strong<br>For Allah's mercy and compassion are never wrong<br>No matter how heavy the burdens you bear,<br>His mercy and kindness will always be there<br>When the world feels heavy, and full of stains,<br>Remember, Allah's mercy can heal every pain<br>So, do not despair, for his mercy is vast,<br>A love that will forever last<br>In every corner, in every prayer, you'll find,<br>Allah's mercy, so warm, gentle and kind<br>So now you see that Allah's mercy reaches every soul<br>Comforting it, making it feel whole<br>So let us turn to him, with hearts sincere and humble<br>In his mercy and forgiveness, we find comfort when we stumble<br>In submission to Allah, the soul shall taste peace<br>His infinite mercy will never cease<br>For Allah's grace is vast, his love complete<br>In his boundless mercy our souls will find tranquility and retreat
</p>
<br>
</div>
</body>