<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p style="text-align: center;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">I Dream of a Day</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Spoken Word</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Zaman</p></td></tr>
  </table></a></p>
  <hr>
  
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
    A cycle,<br>
    A series of event that is regularly repeated in the same order,<br>
    The news, A series of event that is regularly repeated in the same order,<br>
    Do you see a difference?<br>
    Some say it’s a coincidence, but no, it really is just a repetitiveness<br>
    When I look at this world, it just continues to get worse<br>
    It’s like a never-ending curse, and I dream of a day when this world and all its problems will be reversed<br>
    Where we can talk about our Muslim ummah with all due respect and every last bit of pride<br>
    Where we can talk about Palestine, and talk about how no more deaths go by, no more children that died, no more crying parents, and no more good bye’s<br>
    No more, missiles raining down from the darkness of the sky, smoke screens and screaming “shots fired” (all denied, buildings furnished with the happiest families inside.<br>
    I dream of a day, that will exist this way<br>
    Where I can say that there are no more children in Yemen who have to worry about water being clean, they no longer have to make their parents plea, and they no longer have to make them cry because of their kid’s future destiny.<br>
    I dream of a day, when I see no more deaths, Torture, and war crimes, happening not only in Palestine but all other countries that go by<br>
    Wasn’t it said in the Quran that had been sent<br>
    Allah (swt) had said “Enter this city and eat from it wherever you will in [ease and] abundance, and enter the gate bowing humbly and say, 'Relieve us of our burdens.<br>
    A city of great peace, now a city of war terror, and constant fighting over thee.<br>
    Continue to look at this world, as it continues to fall, is a dream just a dream or are we just asleep?<br>
    It’s as if we continue, and continue, and continue to bleed<br>
    But it never ends, does it? Look at the news, and you find new blends<br>
    You find new trends, and no, it’s not something that they pretend, it’s more of something that depends, on our ummah to commend, on our beliefs to transcend, and on our life we must defend.<br>
    Do the problems ever end?<br>
    Life isn’t so dark, but we decide to ignore all it’s scars, knowing that it will continue) on and on<br>
    When I look at this world, I see a little boy walking down the street, no phone, and no parents to be seen. It’s only him and Allah in this small reality.<br>
    We might not see this in our country, yet 86% of countries are third-world countries.<br>
    The story of us is nothing but cruelty but Alhamdulillah, for all the happiness we get, All of it from the Almighty.<br>
    Only he knows the solution to the next problem that will surround my dreams.<br>
    And so, I return that this world is a cycle,<br>
    A dream that will never recycle<br>
    When I look at this world, with all eyes, all free, with no love to be deemed<br>
    I see problems that have already been seen,<br>
    A fire that has charred our country, no heroes to be seen<br>
    Where had we been? Are we thinking about all the third-world countries?<br>
    Or are we thinking about what’s next on our shopping spree?<br>
    Because the news is just a seen reality<br>
    Talking about schemes and different themes, this is an issue that’s more than what's seen and so now we turn to the unseen.<br>
    May Allah save them from all calamities.<br>
    May Allah give them hospitality<br>
    One day, I will wake up, and find myself sitting this close to reality,<br>
    And one day, I will really realize, that this brutality, is more than a cycle, it’s insanity.<br>
    When I look at this world, all I see now is the upcoming calamity.    
  </p>
  <br>
  </div>
  </body>