<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p style="text-align: center;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Achieving Ihsan</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Spoken Word</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Zeeshan</p></td></tr>
  </table></a></p>
  <hr>
  
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
    My brothers and sisters in Islam<br>
    Our beloved prophet said about Ihsan<br>
    That it is to worship as if Allah is seen<br>
    Or to worship as if you know you're seen<br>
    Let these words of our prophet resonate<br>
    And let us try to reach this state<br><br>
    Ihsan is a deep personal connection to Allah<br>
    Through more ibadah and salah<br>
    Also through helping wherever you are<br>
    Anybody, both near and far<br>
    But the most important part of the quest<br>
    Is seeking forgiveness, the first step<br><br>
    Allah is the most merciful of the merciful<br>
    He will forgive any sin if you're remorseful<br>
    What sin have you ever committed<br>
    That made you think Allah couldn't forgive it<br>
    There was once a man that tried to murder the prophet<br>
    And accepted Islam before he could do it<br>
    And got all his sins wiped, like a newborn<br>
    Just like an ugly larva that forms<br>
    A cocoon, in which it is enclosed<br>
    Then breaking through it, new and transformed<br><br>
    That same man became one of the greatest, earning him<br>
    The title of may Allah be pleased with him<br>
    And became the second khalifah, who<br>
    Now we know as Umar Al Farooq, رضي الله عنه<br>
    Just like how that same butterfly goes on to pollinate<br>
    Small flower to small flower, a big impact it does make<br>
    So continue on your quest<br>
    And increase in good deeds to reach your best<br>
    Even if they're little, don't be hesitant<br>
    Since the best deeds are the ones that are consistent<br><br>
    So my brothers and sisters in Islam<br>
    In repentance, let us bend<br>
    And in good deeds, let us ascend<br>
    Like Umar when he was mending<br>
    From trying to kill the prophet<br>
    To getting buried next to him<br>
    Or the caterpillar transforming<br>
    From a larva to a pollinating butterfly<br>
    If we do these on top of our existing faith<br>
    Then Allah promises to replace<br>
    Our bad deeds with good deeds
</p>
  <br>
  </div>
  </body>