<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p style="text-align: center;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Story of Dawud and Jalut</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Trust in Allah (Nuraz's First Khutbah 11/17/23)</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Nuraz</p></td></tr>
  </table></a></p>
  <hr>
  
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
    فَلَمَّا فَصَلَ طَالُوتُ بِٱلۡجُنُودِ قَالَ إِنَّ ٱللَّهَ مُبۡتَلِيكُم بِنَهَرٖ فَمَن شَرِبَ مِنۡهُ فَلَيۡسَ مِنِّي وَمَن لَّمۡ يَطۡعَمۡهُ فَإِنَّهُۥ مِنِّيٓ إِلَّا مَنِ ٱغۡتَرَفَ غُرۡفَةَۢ بِيَدِهِۦۚ فَشَرِبُواْ مِنۡهُ إِلَّا قَلِيلٗا مِّنۡهُمۡۚ فَلَمَّا جَاوَزَهُۥ هُوَ وَٱلَّذِينَ ءَامَنُواْ مَعَهُۥ قَالُواْ لَا طَاقَةَ لَنَا ٱلۡيَوۡمَ بِجَالُوتَ وَجُنُودِهِۦۚ قَالَ ٱلَّذِينَ يَظُنُّونَ أَنَّهُم مُّلَٰقُواْ ٱللَّهِ كَم مِّن فِئَةٖ قَلِيلَةٍ غَلَبَتۡ فِئَةٗ كَثِيرَةَۢ بِإِذۡنِ ٱللَّهِۗ وَٱللَّهُ مَعَ ٱلصَّـٰبِرِينَ [ البقرة:249]
    <br>
    Translation - “When Talut set forth with the armies, he said: “Allah will test you at the stream: if any drinks of its water, He goes not with my army: Only those who taste not of it go with me: A mere sip out of the hand is excused.” but they all drank of it, except a few. When they crossed the river,- He and the faithful ones with him,- they said: “This day We cannot cope with Goliath and his forces.” but those who were convinced that they must meet Allah, said: “How often, by Allah’s will, Hath a small force vanquish a big one? Allah is with those who steadfastly persevere.”
    <br><br>
    First and foremost I want to thank Allah (SWT) for blessing us to be standing here in another Jumah and seeking forgiveness from Allah (SWT), as he is the one and only creator and the Most Merciful. 
    <br><br>
    Before I head into the main idea of today’s khutbah, I just want to give an ovation to Abdurahman and Sr Houria for both helping me make this khutbah altogether. 
    <br><br>
    When one is tested with the remembrance of Allah (SWT), he shall remember the past experiences in which were presented from Allah (SWT) the outstanding miracles in which he produces. And for those who do not consist of any remembrance, Imaan or Taqwa, A question arises, “And have you not seen the people in which suffered from the dire consequences simply from disbelieving Allah (SWT)?”
    <br><br>
    Throughout Islamic history there have been examples of situations of a minority that beats the majority. Take some examples, like the Battle of Badr or Battle of Yarmuk. 
    <br><br>
    In today’s khutbah we will focus on one of these miraculous situations, thus being the story of David vs Goliath. This story is prominent in all Abrahamic faiths. This story is mentioned in Surah Baqarah ayat 246-252 which is also towards the exact ending of the second juz. And also regarding the events in Palestine, I considered that this can be a good topic to relate with the ongoing conflict. Without further ado let us get started. 
    <br><br>
    During Prophet Musa (AS)’s reign as prophet he had once saw a dream of him being in this holy land and had an urgency of him conquering the land. What is this land you may ask? This land is none other than the Philistines or in other words Ancient Palestine. As a matter of fact the first place in which Prophet Musa (AS) was thinking to send fellow Jewish people was the land of Palestine. But it wouldn’t for 40 years until after circling and through the punishments of Allah (SWT), it would then be found. Unfortunately Prophet Musa (AS) would not fulfill his anticipated dream in conquering Palestine due to the passing of old age and multiple failed attempts. 
    <br><br>
    Then once Prophet Musa (AS), comes Yusha (AS). The thing about Yusha (AS) is that there is little context and background information about him. But what we do know about him is that he was a servant of Prophet Musa (AS) and is also mentioned in the Quran in the story of Khidr which is in Surah Kahf. 
    <br><br>
    He would then conquer Bani Israil fulfilling the dream of Prophet Musa (AS). The major key to his victory was having Allah (SWT) by his side. As is in a hadith reported from Abu Hurairah he mentions,
    <br><br>
    “Surely, the sun has never been stopped from setting down for a human being except for Yusha (AS) on the evening he invaded the Bayt al-Maqdis”
    <br><br>
    Then after the evening of the invasion of the land of Philistine he would reign for another 127 years with the Bani Israel living with him until he would pass. 
    <br><br>
    And after Yusha (AS) passes away comes a time for the Bani Israel in which had no guidance from any Prophet whatsoever.  To summarize, they would go and start worshiping multiple gods and would also fall for the same trap that their pagan ancestors once had done. Due to all of this, Allah (SWT) was very angry and divided to kick Bani Israel through the rebellions of the Philistines. 
    <br><br>
    After the rebellions the Bani Israel were now living a nomadic lifestyle, moving from one place to another in the deserts, which was located on the outskirts of Palestine. During this period, it was said that another Prophet would bring light into their living of darkness. That prophet was Prophet Shamil (AS). He is mentioned to be somewhere after Prophet Musa (AS), and Yusha (AS). 
    <br><br>
    That light being the command from Allah (SWT) to Prophet Shamil (AS) to gather up an army in which can retrieve back glory. When you think of the basic requirements of an army you would think of a leader. Well this story is no different as there is a leader that was chosen. Just one thing, this leader was very unusual. That leader being none other than Talut. Talut prior to being here in this position, was just a poor farmer. This caused the other rich candidates to be furious and started protesting, The people also protested alongside them. And all this controversy can only lead towards one figure. That being Prophet Shammil (AS). Receiving these enraged comments, he would then ask Allah (SWT) himself whether Talut was supposed to be the leader. Then the people too asked Allah (SWT) if Talut was supposed to be leader and to show a sign in which they would believe then that Talut was king. Until then they would not budge. 
    <br><br>
    Allah (SWT) responds in the Quran Surah Baqarah Ayat 248, 
    <br><br>
    وَقَالَ لَهُمْ نَبِيُّهُمْ إِنَّ ءَايَةَ مُلْكِهِۦٓ أَن يَأْتِيَكُمُ ٱلتَّابُوتُ فِيهِ سَكِينَةٌۭ مِّن رَّبِّكُمْ وَبَقِيَّةٌۭ مِّمَّا تَرَكَ ءَالُ مُوسَىٰ وَءَالُ هَـٰرُونَ تَحْمِلُهُ ٱلْمَلَـٰٓئِكَةُ ۚ إِنَّ فِى ذَ ٰلِكَ لَءَايَةًۭ لَّكُمْ إِن كُنتُم مُّؤْمِنِينَ<br>
    Translation - And their prophets said to them, “Indeed, a sign of his kingship is that the chest will come to you in which assurance from your lord and is a remnant of what the family of Moses and the family of Aaron had left, carried by the angels. Indeed that is a sign for you, If you are believers.”
    <br><br>
    To sum the ark of the covenant, it was a treasure like chest that contains verses from the Torah as well as belongings from the family of Musa (AS) and the family of Harun (AS). And to them, this was their lucky charm. The lucky charm that can establish victory for the Bani Israel. 
    <br><br>
    After the Bani Israel were patiently waiting for the ark of covenant to appear, it was then all of a sudden that the ark of covenant would come flying from the heart of Philistine to the people of Bani Israel. Which meant that Talut was officially titled king or the main leader.  Soon from there it would be the beginning of the march towards the land of Philistines. 
    <br><br>
    After marching a rough 100-200 kilometers of land through the tough desert climate, they had finally made it to the exact borders of Philistine. Some lessons we can intake here are having faith and Imaan from Allah (SWT). Could you imagine walking and marching 100-200 kilometers of rough desert, with no advanced technology and having little to no water? Surely then it would be impossible. To that I would say you are incorrect. Remember that ayat that I was covering in the beginning, it would then fit into this context as Allah (SWT) would forbid this marching army to drink this water. But because of Allah’s (SWT) mercy it can be excused up to a mere sip out of the hand. And due to this rough journey the temptations cause the Bani Israel to get greedy. The greed emerges and shreks as they bathe, drink and overall quench with the thirst. Due to this, they were discontinued from the army and had to go back with their families. 
    <br><br>
    And this leaves them with all of the faithful fighters to be into the territory of Philistine. They would be met with an aghast worthy amount of men. 
    <br><br>
    FIrst of all, the Bani Israel had approximately 33,000 men. Meanwhile the army of the Philistines had around 250,000 to 450,000 men. And amongst those men lies a 10 foot tall giant named Goliath. As both armies would approach each other they would first have to start off with a battle tradition. That battle tradition being a duel. How a duel worked is that each side would send one man to fight it off with the hopes of winning, making that same side have high morale and a strong mentality for the remainder of the war. And for the losing side, it would certainly be already a disadvantage of war. 
    <br><br>
    The Philistines had sent off the obvious choice, sending Goliath. This choice caused everyone in the Bani Israel to be hesitant and frightened, as they all knew they stood no chance. All of them except for one person. That one person was a youth boy at the time, named Dawood (AS). Dawood (AS) would beg and insist that he can handle this. Due to his lack of weaponry and him being a youth like boy, perhaps hitting his teens, he would be met with sorrowful remarks as they felt bad for the young boy. But after a lot of begging, they sent him. 
    <br><br>
    Before we advance into finishing the story, I want to tell you that Dawood (AS)’s weapon was the best of the best. What is this weapon you may ask? It’s not necessarily a weapon, more so a tool to victory. It’s none other than Allah (SWT) himself. With having the trust and faith of Allah (SWT), as he is AL-MAKIR, the best of planners. With this tool, it would help him earn the victory and begin the war. The weapon he had taken down Goliath with was a slingshot with 5 smooth stones. As this specific story is mentioned prominently in both in the Quran and in biblical texts. 
    <br><br>
    So then the battle would commence. And with the help of Allah (SWT), the Bani Israel would be victorious and once more the Bani Israel would conquer this land. Some history after that, Prophet Dawood (AS) would be then crowned king. Once he passes it would pass to his son Suleyman (AS). And that my brothers and sisters marks an end to this incredible story. 
    <br><br>
    Before I wrap up the khutbah I would like to share another ayah regarding my story.
    <br><br>
    وَلَمَّا بَرَزُوا۟ لِجَالُوتَ وَجُنُودِهِۦ قَالُوا۟ رَبَّنَآ أَفْرِغْ عَلَيْنَا صَبْرًۭا وَثَبِّتْ أَقْدَامَنَا وَٱنصُرْنَا عَلَى ٱلْقَوْمِ ٱلْكَـٰفِرِينَ
    <br>
    فَهَزَمُوهُم بِإِذْنِ ٱللَّهِ وَقَتَلَ دَاوُۥدُ جَالُوتَ وَءَاتَىٰهُ ٱللَّهُ ٱلْمُلْكَ وَٱلْحِكْمَةَ وَعَلَّمَهُۥ مِمَّا يَشَآءُ ۗ وَلَوْلَا دَفْعُ ٱللَّهِ ٱلنَّاسَ بَعْضَهُم بِبَعْضٍۢ لَّفَسَدَتِ ٱلْأَرْضُ وَلَـٰكِنَّ ٱللَّهَ ذُو فَضْلٍ عَلَى ٱلْعَـٰلَمِينَ
    <br>
    Translation - So they defeated them by the permission of Allah, and David killed Goliath. Allah gave David the kingship and Prophet hood, and taught him from that which He willed. And if it were not for Allah checking [some] people using others, the Earth would certainly have been corrupted, But Allah is full of bounty to the worlds.    
  </p>
  <br>
  </div>
  </body>