<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p style="text-align: center;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Miracles of the Prophet</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Halaqah 1 Summary</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Taught by Br. Luai</p></td></tr>
  </table></a></p>
  <hr>
  
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
This is a summary of the first halaqah on the seerah of the prophet, which is taught by Br. Luai. The first halaqah delved into some of the miracles of the prophet to show us how special he is that we extensively study his life. The purpose of these miracles is to prove prophethood and increase our iman. However, for the arrogant, these miracles will never work for them. As Allah mentions in Surah Isra in ayahs 90-93, even though they witnessed all these miracles, they asked for more miracles, but they were in reality asking for the prophet to give them money. In fact, not even the enemies of Islam doubted the prophethood of the prophet.
<br><br>
● The first group of miracles we discussed is the miracles with inanimate objects. One of them is when many people drank from his hand and his meal was saying tasbeeh. Another was when the prophet used to give sermons at a tree, but when the tree got replaced by a pulpit, the tree grieved (Ibn Majah 1417). The same tree is still at Masjid An Nabawi today.<br><br>
● The second category of miracles that was discussed is miracles with animals. One instance was when a camel complained to the prophet about its owner not feeding it (Riyad As Saliheen 967).<br><br>
● The third category was miracles with food and water. When the muslims were building the trench for the battle of khandaq, the muslims were starving. Then the entire army was fed by the prophet with 1 goat and 1 bread with some food still remaining.<br><br>
● The next category is divine protection from Allah. One instance was when the prophet prayed at the Kabah. Then, Abu Jahl went to attack him. Suddenly, he ran away and said that he saw fire and angel wings (Muslim 2797).<br><br>
● Next, we talked about the prophecies. One of the most unbelieveable prophecies that he made was that Muslims would conquer Yemen, Busra, Sham, Bayt Al Maqdis, Egypt, Persia, Constantinople, and Hind. At that time, the Muslims were few so nobody expected this to eventually happen. This is just one of the many prophecies that he made.<br><br>
● Then, we talked about his healing miracles. One instance was when the prophet put his spit on Ali's sore eyes so he can go to war, and he got cured from it (Muslim 1807a).<br><br>
● The next category we talked about is the miracle of his duas being accepted. One example of this is when Abu Hurairah's mom curses the prophet, but then he makes dua for her and then she ends up accepting Islam on the same day (Muslim 2491).<br><br>
● Then, we talked about the miracle of the prophet stories that he taught. He knew stories of prophets without reading the scriptures or witnessing. He said stories like Isa sculpting bird from clay, which were not in the bibles of that time. In fact, they were recently discovered in the Gospel of Thomas in Egypt 70 years ago.<br><br>
● Finally, the greatest miracle that the prophet came with is the Quran, the greatest proof which we can see today. It is a guidance, healing, literary miracle, and a historical miracle. And it has been preserved by Allah, without a single change in vowel.
</p>
  <br>
  </div>
  </body>