<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Qualities of the Prophet</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Halaqah 2 Summary</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Taught by Br. Luai</p></td></tr>
  </table></p>
  <hr>
  
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
In our second Halaqah, we talked about the qualities of the prophet that make him the best person to walk the earth and how Allah honored him above the other prophets. We talked about his names, status, appearance, and character.</p>
<br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Names</p>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: left;">
● Muhammad - Constantly praised<br>
● Ahmad - Worthy of praise<br>
● Mahi - Eraser of evil<br>
● Hashir - First to be resurrected<br>
● Aqib - No prophet after<br>
● Nabi Arrahmah - Prophet of mercy<br>
● Nabi Attawbah - Prophet of repentance<br>
● Muqaffa - Completes<br>
● Malahim - Fierce battles
</p>
<br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Appearance</p>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
This is a description from Um Mabad, who saw him once while he was migrating to Madinah<br></p>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: left;">
● Handsome<br>
● Fit and didn't have a small head<br>
● Deep black and large eyes and very white around pupils<br>
● Lush eyelashes<br>
● Soft mellow voice<br>
● Long neck and beard<br>
● Dignified when silent<br>
● Like falling pearls when spoke, precise and clear<br>
● Medium height<br>
● Surrounded by companions who listened to him<br>
● Didn't frown nor criticize<br>
</p>
<br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Character</p>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: left;">
● Honest - When Abu Sufyan was a disbeliever, he told Heraclius that he never lied (Bukhari 7). He also repayed his debts to the people even after they tried to kill him<br>
● Simple - No mattress, would go without fire and only water and dates for a month, only left knowledge behind after death<br>
● Humble - When he was offered to ride camel while his companions walk, he said that they're no stronger than him and that he is not in less need of reward than them, even though all his sins are forgiven<br>
● Manners - Never complained to Anas when he played instead of doing errands<br>
● Brave - At the battle of Badr, the companions seeked shelter near him and he was the closest one to the enemies<br>
● Generous<br>
● Trust in Allah<br>
● Love for his Ummah - Made dua for the ummah's forgiveness during every salah
</p>
<br>
  </div>
  </body>