<style>
  body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
  .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
  a { text-decoration: none; }
  @font-face {
  font-family: arabic;
  src: url(/assets/arabic.ttf);
}
</style>

<body>
<div class="container">
  <p><table style="width:100%;margin:0px;">
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Welcoming Rajab</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Significance and Bidahs</p></td></tr>
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Zeeshan</p></td></tr>
</table></p>
<hr>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
Brothers and sisters in Islam, alhamdulillah by the grace of Allah we are now about to enter the hijri month of rajab tonight after maghrib. Rajab is a very significant month, and it is in fact one of the sacred months. As Allah says in surah tawbah that the number of months that Allah decreed since the day he created the heavens and the earth is 12, and 4 of them are sacred. These sacred months are Muharram, Rajab, Dhul Qadah, and Dhul Hijjah, as the prophet mentions in a hadith. And Allah tells us in Surah Yunus that he created the sun and the moon so that we can keep track of time. And Allah created these for a purpose. And he makes the signs clear to those that have knowledge. So it is from the mercy of Allah that he made it easy upon us to keep track of salah times by looking at the sun and the time of the month and other acts of worship like the 3 white days by looking at the moon. So following Islam is practical in any time and any place. So Rajab literally means respected, and this month was considered sacred by even the idol worshippers before the prophet. So if even they did it, and then later the prophet and the companions treated this month with significance, we should too. And in the sacred months, fighting is prohibited, unless the enemy starts it. Fighting was prohibited in dhul qadah, dhul hijjah, and muharram, because these are the months people go to hajj and perform hajj and come back from hajj. And it was reported that during the jahiliyyah, when it was rajab, they would take off the tips of their weapons and put them aside. Rajab is the 7th month in the hijri calendar, the next month is shaban, and the 9th month is Ramadan, and we ask Allah to allow us to reach it. Therefore Rajab is a perfect time to prepare for Ramadan, and it is important that we do so because we must first build the habits that we will continue and build on in Ramadan. And Allah continues in the ayah and says so do not wrong yourselves in them, meaning abstain from sinning during the sacred months, since they weigh more. The good deeds also weigh more because it is a sacred month, so we should try to increase ourselves in doing goodness while avoiding wrongdoing. And not just war should be avoided, but all types of wrongdoing, even between 2 individuals. Let us try to avoid fighting even verbally with our brothers and sisters. Remember that the prophet said that he guarantees a house in the middle of jannah for the one that gives up arguing even when he is in the right. Missing any obligatory acts is also an act of wrongdoing. So, if we have any fard that we are missing out on, especially if it is salah, we should repent and rectify ourselves. Therefore, the wise muslim uses this time to repent from past sins and fix themselves and increase their good deeds because it is a sacred month where deeds weigh more, and it also is a preparation for ramadan. Allah says in the Quran in surah Hajj that whoever honors what Allah has made sacred, then it is good for him in the sight of his lord. Although it is good for us to honor the sacred month of Rajab by increasing our acts of worship, which is what we should do, one thing we must be cautious about is doing actions that are not from the sunnah of the prophet, or in other words we should avoid doing any bidah. The prophet used to say in his sermons, as I said in the beginning of the khutbah that the worst affairs are the newly invented ones, and every one of them is an innovation, and every one of them is misguidance, and every misguidance is in the fire. So this is why we should be careful to not do acts of worship that the prophet, the best of mankind, did not tell us to do. And so for the month of Rajab, there are a couple of invented acts that we should not partake in. There is no special salah for the first night of Rajab, and there is no evidence that isra wal miraj occurred in this month and it was never celebrated by the prophet. However, we should try to increase acts of worship that the prophet did do, such as the weekly and monthly voluntary fasts and make it a habit so we can continue them throughout the year. And also make sure to not wrong yourselves by sinning in this month. Tonight, make sure to make dua before maghrib, as Allah responds to dua during that time, especially for the people in palestine who continue to suffer despite it being a holy month. Also, if you see the new crescent moon of Rajab tonight, try to say the dua that the prophet used to say, which is allahumma ahillahu alayna bilamni waleeman wassalamati walislam rabbee warabbukallah, which means allah bring the new moon upon us with security and faith, and peace and islam, my lord and your lord is allah.
</p>
<br>
</div>
</body>