
<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Shukr: Gratefulness</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Speech Competition 2024</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Adnan, Adyan, and Zeeshan</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
  
      Brothers and sisters, we complain about the fortunes we have and we always want more, but we should take a step back and look at everything we already have. We have our family, we have food, we have shelter, and most importantly, we were guided to islam. Allah tells us our blessings throughout the quran, and tells us how little we are grateful. If you were handed a million dollars, you would immediately take the offer, but if the condition was added that you would lose your eyesight, would you still take the offer? Ofcourse you wouldnt. Just eyesight is worth more than a million dollars to us, so why can’t we be grateful to Allah for all that he gave us. Realize that in the akhirah, there are greater darajat, ranks. Do we want to chase the high ranks in this dunya, or the higher ranks of the akhirah by being grateful?
  
  Shukr not only gives you contentment, but we are promised to gain more from Shukr. Allah says in surah Ibrahim, ayah 7,  'If you are grateful [to Me], I shall most certainly give you more and more; but if you are ungrateful, verily, My chastisement will be severe indeed!" On top of that, the ones who realize the little they have is enough, they will get special treatment from Allah(SWT) and be saved from his punishment. The prophet recomends us to look at the people who are lower than us. Not out of arrogance, but to remind us how blessed we are, and the favours we have been given from Allah. 
  
  A good muslim always has a good sense of shukr. What shows that we have good shukr is the actions we do for the sake of Allah (SWT) for others, using those blessings he bestowed upon us. Having shukr, even for the small things that Allah has given you in life, is important to have. It really shows your character as a muslim as well as your patience when tested by Allah (SWT). Your deen and character gets tested and the process of it will not always be easy, but that is for good reason. Allah does out of love, and also to see how strong your iman is. Having a strong iman you wont question all the misfortunes you face during these tests and begin to have shukr for fortunes you have in life. The Prophet (ﷺ) used to stand (in the prayer) or pray till both his feet or legs swelled. He was asked why (he offered such an unbearable prayer) and he said, أَفَلَا أَكُونُ عَبْدًا شَكُورًا "should I not be a thankful slave." If the prophet, who lived a life many times simpler than ours, was grateful by offering such a prayer, why aren't we a little grateful? 
  
  </p>
  <br>
  </div>
  </body>