

<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">10 Duas for Forgiveness</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">From the Quran and Sunnah</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Zeeshan</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 18px; text-align: center;">
  
Since Ramadan is coming up, we should be working on ending our bad habits and seeking forgiveness for our sins. For this reason, I have compiled just a few of the many duas from the Quran and duas that our prophet SAW taught us for forgiveness of our sins.
<br><br>
اللَّهُمَّ أَنْتَ رَبِّي، لاَ إِلَهَ إِلاَّ أَنْتَ، خَلَقْتَنِي وَأَنَا عَبْدُكَ، وَأَنَا عَلَى عَهْدِكَ وَوَعْدِكَ مَا اسْتَطَعْتُ، أَعُوذُ بِكَ مِنْ شَرِّ مَا صَنَعْتُ، أَبُوءُ لَكَ بِنِعْمَتِكَ عَلَىَّ وَأَبُوءُ لَكَ بِذَنْبِي، فَاغْفِرْ لِي، فَإِنَّهُ لاَ يَغْفِرُ الذُّنُوبَ إِلاَّ أَنْتَ
<br>
Allahumma anta Rabbi la ilaha illa anta, Khalaqtani wa ana `Abduka, wa ana `ala `ahdika wa wa`dika mastata`tu, A`udhu bika min Sharri ma sana`tu, abu'u Laka bini`matika `alaiya, wa abu'u laka bidhanbi faghfir lee fa innahu la yaghfiru adhdhunuba illa anta
<br>
O Allah, You are my Lord, none has the right to be worshipped except You, You created me and I am Your servant, and I abide to Your covenant and promise [to honour it] as best I can, I take refuge in You from the evil of which I committed, I acknowledge Your favour upon me and I acknowledge my sin, so forgive me, for verily none can forgive sins except You.  
<br>
This is reported in Bukhari 6306. It is called sayyidul istighfar, or the most superior dua for forgiveness. If someone says it during the day and dies before the evening, then he will enter Jannah, and if someone says it during the evening and dies before the morning, then he will enter Jannah.
<br><br>
اللَّهُمَّ إِنَّكَ عَفُوٌّ تُحِبُّ الْعَفْوَ فَاعْفُ عَنِّي
<br>
Allahumma innaka 'afuwwun tuhibbul-'afwa, fa'fu 'anni
<br>
O Allah, You are Forgiving and love forgiveness, so forgive me
<br>
This is in Ibn Majah 3850, and the prophet SAW told Aishah RA to say it during Laylatul Qadr.
<br><br>
اللَّهُمَّ اغْفِرْ لِي ذَنْبِي كُلَّهُ دِقَّهُ وَجِلَّهُ وَأَوَّلَهُ وَآخِرَهُ وَعَلاَنِيَتَهُ وَسِرَّهُ
<br>
Allahumma ighfir lee zhanbee kullahu diqqahu wajillahu wa'awwalahu wa'aakhirahu waAlaaniyatahu wasirrahu
<br>
O Lord, forgive me all my sins, small and great, first and last, open and secret.
<br>
This is in Muslim 483, and the prophet SAW used to say this in Sujud.
<br><br>
أَسْتَغْفِرُ اللَّهَ الَّذِي لاَ إِلَهَ إِلاَّ هُوَ الْحَىُّ الْقَيُّومُ وَأَتُوبُ إِلَيْهِ
<br>
astaghfiru Allaha allazhee laa ilaaha illaa huwa alHayyu alqayyoomu wa'atoobu ilayhi
<br>
I ask pardon of Allah than Whom there is no deity, the Living, the eternal, and I turn to Him in repentance
<br>
This is in Abu Dawood 1517 and the prophet SAW said that whoever says this will be forgiven even if he has fled from the battlefield, which is a major sin.
<br><br>
سُبْحَانَ اللَّهِ وَبِحَمْدِهِ x100
<br>
subHaana Allahi wabiHamdihi
<br>
Glory be to Allah and praise be to Him.
<br>
This is in Bukhari 6405 and the prophet SAW said that whoever says this 100 times a day will be forgiven even if they were as much as the foam of the sea.
<br><br>
رَبَّنَا ظَلَمْنَآ أَنفُسَنَا وَإِن لَّمْ تَغْفِرْ لَنَا وَتَرْحَمْنَا لَنَكُونَنَّ مِنَ ٱلْخَـٰسِرِينَ
<br>
rabbanaa Zhalamnaa 'anfusana wa'in lam taghfir lanaa watarhamnaa lanakoonanna mina alkhaasireen
<br>
Our Lord, we have wronged ourselves, and if You do not forgive us and have mercy upon us, we will surely be among the losers.
<br>
This is in ayah 23 of Surah Araf and it is the dua that Adam and Hawwa made when they ate from the forbidden tree.
<br><br>
رَبَّنَا لَا تُؤَاخِذْنَآ إِن نَّسِينَآ أَوْ أَخْطَأْنَا ۚ رَبَّنَا وَلَا تَحْمِلْ عَلَيْنَآ إِصْرًۭا كَمَا حَمَلْتَهُۥ عَلَى ٱلَّذِينَ مِن قَبْلِنَا ۚ رَبَّنَا وَلَا تُحَمِّلْنَا مَا لَا طَاقَةَ لَنَا بِهِۦ ۖ وَٱعْفُ عَنَّا وَٱغْفِرْ لَنَا وَٱرْحَمْنَآ ۚ أَنتَ مَوْلَىٰنَا فَٱنصُرْنَا عَلَى ٱلْقَوْمِ ٱلْكَـٰفِرِينَ
<br>
Rabbana la tu’akhizna in-nasina aw akh-ta’na. Rab-bana wa la tahmil ‘alayna isran kama hamaltahu ‘ala-lladhina min qablina, Rab-bana wa la tuhammilna ma la taqata lana bih, wa-‘fu ‘anna wa ‘ghfirlana warhamna anta maulana fansurna ‘alal-qawmil kafirin
<br>Our Lord, do not impose blame upon us if we have forgotten or erred. Our Lord, and lay not upon us a burden like that which You laid upon those before us. Our Lord, and burden us not with that which we have no ability to bear. And pardon us; and forgive us; and have mercy upon us. You are our protector, so give us victory over the disbelieving people.
<br>
This is from the last ayah of Surah Baqarah. The last 2 ayahs of Surah Baqarah also should be read before sleep.
<br><br>
رَبِّ إِنِّى ظَلَمْتُ نَفْسِى فَٱغْفِرْ لِى
<br>
rabbi 'innee Zhalamtu nafsee faghfir lee
<br>
My Lord, indeed I have wronged myself, so forgive me.
<br>
This is from ayah 16 of Surah Qasas. It is the dua made by Musa AS when he unintentionally killed a man.
<br><br>
لآ إِلَـٰهَ إِلَّآ أَنتَ سُبْحَـٰنَكَ إِنِّى كُنتُ مِنَ ٱلظَّـٰلِمِينَ
<br>
laa 'ilaaha illaa anta subHaanaka 'innee kuntu mina alZhaalimeen
<br>
There is no deity except You; exalted are You. Indeed, I have been of the wrongdoers.
<br>
This is ayah 87 of Surah Anbiyaa and it is the dua Yunus AS made in the belly of the whale. The prophet SAW said nobody supplicates with it except that it is answered.
<br><br>
رَّبَّنَآ إِنَّنَا سَمِعْنَا مُنَادِيًۭا يُنَادِى لِلْإِيمَـٰنِ أَنْ ءَامِنُوا۟ بِرَبِّكُمْ فَـَٔامَنَّا ۚ رَبَّنَا فَٱغْفِرْ لَنَا ذُنُوبَنَا وَكَفِّرْ عَنَّا سَيِّـَٔاتِنَا وَتَوَفَّنَا مَعَ ٱلْأَبْرَارِ
<br>
Rabbana innana sami'na munadiyan yunadi lil imani an aminu bi-Rabbikum fa-amanna, Rabbana faghfir lana dhunubana wa kaffir 'anna sayyiatina wa tawaffana ma'al-abrar. Rabbana wa atina ma wa'adta-na 'ala russuli-ka wa la tikhzi-na yauma-l-qiyamati innaka latukhlifu-l-mi'ad.
<br>
Our Lord, indeed we have heard a caller calling to faith, [saying], 'Believe in your Lord,' and we have believed. Our Lord, so forgive us our sins and remove from us our misdeeds and cause us to die with the righteous.
<br>
This is ayah 193 of Surah Ali Imran, one of the last verses. It is the dua of those of understanding ('ulul 'albaab), who Allah will not let their deeds go to waste and will admit them to Jannah.
  </p>
  <br>
</div>
</body>