
<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">The Ummah Today</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Speech Competition 2024</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Ilyas's group</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
    The prophet Muhammad SAW told us that there will be a time where we will try so hard to mimic the christians and the jews, that if they were to attempt to jump into a little hole, we would try to jump in with them. When we look outside, looking at the ummah as a whole, the fitnah around us, and the conflicts unfolding, we see that the problems can all be traced back to this. In the same way as the christians and the jews, we have deviated from what we have been given, the true islam. 

    As we know, it was said that we would deviate into sects, 73 to us, 72 to the christians and 71 for the jews. Because of this we have become divided. The answer to our problems however is not instant unity in the way we are at this moment, but rather upon truth as Salih Al Fawzan HA said. The way of the quran, sunnah, and salaf. Our problems can all be solved by these three things. Through these, we will be united upon the truth, upon the way that Allah swt is pleased with, and with the pleasure of Allah swt we will never fail.
  Part of following Islam, the way of the sahabas and salaf, the three pious generations, is to be proud of our Islam, to not follow the kuffar in their ways. If we find ourselves following the ways of the kuffar, it shows that we are not truly content with Islam. The ummah is one body, and it should be our own body.’’’’’’ In order to purify, and rectify our ummah, and improve the situation we are now in, we need to first improve ourselves. Allah swt said in the quran, ٱللَّهِ ۗ إِنَّ ٱللَّهَ لَا يُغَيِّرُ مَا بِقَوْمٍ حَتَّىٰ يُغَيِّرُوا۟ ما بِأَنفُسِهِمْ ۗ . “indeed, Allāh will not change the condition of a people until they change what is in themselves.”. Following the true way of the sunnah and the salaf would teach us all the things we are missing, Patience, taqwa, Tawakkul, having faith in Allah swt’s qadr and what he has destined for us, the constant remembrance of him, the reflecting and acting upon the quran and the sunnah– all of these are our weapons as muslims against the fitnahs that we see everyday and the struggles that we go through as a body, however many of us fail to acknowledge that, and that is our problem. Although this is a big problem that can't be fixed right away, through individual efforts, self improvement, and the proper practicing of tawheed and the sunnah, we can serve as an influence for those around us, and lead to the big change we need to be the ummah that we once were before.
</p>
  <br>
  </div>
  </body>