<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Spend Whatever You Can</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Spending Is Not Only Money</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Dr. Houria Abdelrehem</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
    كم هي ‏جميلة معاني هذه الآية الكريمة 
<br>
    How beautiful and amazing the meaning of this Ayah?
    <br><br>
    *لينفق ذو سعة من سعته*
    <br>
    Let the man of means spend according to his means: and the man whose resources are restricted, let him spend according to what Allah has given him. Allah puts no burden on any person beyond what He has given him. After a difficulty, Allah will soon grant relief.
    <br>
    Spend 
    
    
    
    <br><br>
    
    
    
    فإن كانت سعتك في الكلمة الطيبة فأنفق منها ،
    
    <br>
    
    So if your ability is kind words say it ( as kind of spending)
    <br><br>
    وإن كانت سعتك في البسمة الصافية فأنفق منها ،،
    
    <br>
    
    If your ability is smiling in some one is face or relief the hard ship for this Person do it ( spend) 
    <br><br>
    وإن كانت سعتك في معاونة الآخرين فأنفق منها ،
    <br>
    If your ability to help someone or guide him / her to someone to help ( spend)
    
    <br><br>
    
    وإن كانت سعتك في التغافل والتعامي فأنفق منها ،
    <br>
    If your ability to forget and forgive or find excuses for other or let it go ( spend)
    
    <br><br>
    
    وإن كانت سعتك في (الدعاء ) وإن كان بظهر الغيب فأنفق منها .
    <br>
    If your ability to make Duaa for anyone do so
    <br>
    Give time to someone or volunteer at any place do so
    
    <br><br>
    
    (فالإنفاق ليس مالاً فقط)
    
    <br>
    
    Spending is not only money is time it’s efforts it’s anything you can do it with the sincerity for the sake of Allah ( Swt) 
    <br>
    Remember one of the seven people whom Allah (SWT) love in the Quran May Allah SWT Make us one of them May Allah SWT bless us with his love (SWT) and make us love every deeds he loves (SWT) then grant us Janatu Alferdous Ameen ya Rab Alamein 
    <br>
    اللهم اجعلنا من المنفقين واوسعنا ان نشكر نعمتك علينا يارب 
    
    <br>
    
    انسكم الله بقربه( May Allah SWT bless us by bringing us closer to him (Swt)
    
    
    
    
    <br><br>
    
    
    
    
    Abdullah ibn Amr reported: The Prophet, peace and blessings be upon him, said, “Verily, every deed has enthusiasm, and every enthusiasm has a timelimit. Whoever is enthusiastic for my Sunnah has succeeded, but whoever is enthusiastic for something else has been ruined.”
    <br>
    Source: Ṣaḥīḥ Ibn Ḥibbān 11
    <br>
    Grade: Sahih (authentic) according to Al-Arna’ut
    <br>
    عَنْ عَبْدِ اللَّهِ بْنِ عَمْرٍو قَالَ النَّبِيُّ صَلَّى اللَّهُ عَلَيْهِ وَسَلَّمَ إِنَّ لِكُلِّ عَمَلٍ شِرَّةً وَلِكُلِّ شِرَّةٍ فَتْرَةٌ فَمَنْ كَانَتْ شِرَّتُهُ إِلَى سُنَّتِي فَقَدْ أَفْلَحَ وَمَنْ كَانَتْ فَتْرَتُهُ إِلَى غَيْرِ ذَلِكَ فَقَدْ هَلَكَ
</p>
  <br>
  </div>
  </body>