<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Haste in the Quran</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">What makes you Rush?</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Zeeshan</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
    In many places in the Quran, Allah tells us about the nature in which he created us. In Surah Anbiya, Allah says خُلِقَ ٱلْإِنسَـٰنُ مِنْ عَجَلٍ humans were created from haste. This means that Allah created humans to be hasty, or to rush. And when we think about it, we realize how true it is. Whether it is to finish an assignment, or to get through traffic, every person rushes for something. But what does Allah want us to rush for?

    <br><br>

    In the Quran, there is wisdom behind every single word. Just by paying attention to the verbs that Allah uses for matters of this dunya and matters of the akhirah, we can notice a pattern. Whenever Allah is describing matters of the dunya, he uses words like walk, which indicates that we should not rush to do things that are temporary. In Surah Jumuah, Allah says after the salah is finished, فَٱنتَشِرُوا۟ فِى ٱلْأَرْضِ وَٱبْتَغُوا۟ مِن فَضْلِ ٱللَّهِ then disperse in the land and seek Allah's bounty. In Surah Mulk, Allah says فَٱمْشُوا۟ فِى مَنَاكِبِهَا وَكُلُوا۟ مِن رِّزْقِهِۦ so walk on earth's slopes and eat from Allah's provisions. These words show that worldly matters should not be a priority for us to the extent that we rush for them.
    
    <br><br>
    
    When it comes to matters of the akhirah, there is a significant difference in the verbs that Allah uses. Once again in Surah Jumuah, earlier in the same ayah, Allah says when the call is made for salah on Jumuah, فَٱسْعَوْا۟ إِلَىٰ ذِكْرِ ٱللَّهِ then rush to the remembrance of Allah, and also leave all business. In Surah Ali Imran, Allah says وَسَارِعُوٓا۟ إِلَىٰ مَغْفِرَةٍ and hurry to forgiveness from your lord. In Surah Hadid, Allah says سَابِقُوٓا۟ إِلَىٰ مَغْفِرَةٍ race to forgiveness from your lord. In Surah Baqarah, Allah says فَٱسْتَبِقُوا۟ ٱلْخَيْرَ ٰتِ so race to goodness. So we see that Allah commands us to hurry for matters of the akhirah.
    
    <br><br>
    
    What this teaches us is that we must make it a priority in our day to day lives to rush for the things that pleases Allah, and to prioritize that over the worldly matters. For example, we should try to pray as early as we can, rather than delay it. We must have the mindset of Musa عليه السلام when he says to Allah in Surah Taha وَعَجِلْتُ إِلَيْكَ رَبِّ لِتَرْضَىٰ and I hastened to you my lord so you would be pleased. 
</p>
  <br>
  </div>
  </body>