<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Ashouraa</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Salvation of the Oppressed</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Dr. Houria Abdelrehem</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
    🌿نجاة المظلومين🌿
    <br>
    Ashouraa🌴/عاشوراء🍀 🌴
    <br>
    🌙 The day when Allah rescued the oppressed ( Ashouraa)..
    
    <br><br>
    
    Surah Taha / ✨سورة طه
    <br>
    ✨بسم الله الرحمن الرحيم 
    <br>
    وَلَقَدْ أَوْحَيْنَا إِلَىٰ مُوسَىٰ أَنْ أَسْرِ بِعِبَادِي فَاضْرِبْ لَهُمْ طَرِيقًا فِي الْبَحْرِ يَبَسًا لَّا تَخَافُ دَرَكًا وَلَا تَخْشَىٰ
    <br>
    And certainly We revealed to Musa, saying: Travel by night with My servants, then make for them a dry path in the sea, not fearing to be overtaken, nor being afraid.
    
    <br><br>
    
    فَأَتْبَعَهُمْ فِرْعَوْنُ بِجُنُودِهِ فَغَشِيَهُم مِّنَ الْيَمِّ مَا غَشِيَهُمْ
    <br>
    And Firon followed them with his armies, so there came upon them of the sea that which came upon them.
    
    <br><br>
    
    وَأَضَلَّ فِرْعَوْنُ قَوْمَهُ وَمَا هَدَىٰ
    <br>
    And Firon led astray his people and he did not guide (them) aright.
    
    <br><br>
    
    يَا بَنِي إِسْرَائِيلَ قَدْ أَنجَيْنَاكُم مِّنْ عَدُوِّكُمْ وَوَاعَدْنَاكُمْ جَانِبَ الطُّورِ الْأَيْمَنَ وَنَزَّلْنَا عَلَيْكُمُ الْمَنَّ وَالسَّلْوَىٰ
    <br>
    O children of Israel! indeed We delivered you from your enemy, and We made a covenant with you on the blessed side of the mountain, and We sent to you the manna and the quails.
    
    <br><br>
    
    🌿 The prophet (peace and blessings of Allah be upon him) came to Madinah and saw the Jews fasting on the day of ‘Aashooraa’. he said, ‘what is this?’ they said, ‘this is a righteous day, it is the day when Allah saved the children of Israel from their enemies, so Moosa fasted on this day.’ he said, ‘we have more right to Moosa than you,’ so he fasted on that day and commanded [the Muslims] to fast on that day.”
    <br>
    «قدم النبي صلى الله عليه وسلم المدينة ، فرأى اليهود تصوم يوم عاشوراء ، فقال : ( ما هذا ) . قالوا : هذا يوم صالح ، هذا يوم نجى الله بني إسرائيل من عدوهم ، فصامه موسى . قال : ( فأنا أحق بموسى منكم ) . فصامه وأمر بصيامه»
    
    <br><br>
    
    🌿The messenger of Allah said: ‘the best of fasting after Ramadan is fasting Allah’s month of muharram.’“
    <br>
    «🌿أفضل الصيام ، بعد رمضان ، شهر الله المحرم»🌿🌿نجاة المظلومين🌿
    <br>
    Ashouraa🌴/عاشوراء🍀 🌴
    <br>
    🌙 The day when Allah rescued the oppressed ( Ashouraa)..
    
    <br><br>
    
    Surah : Taha / ✨سورة طه
    <br>
    ✨بسم الله الرحمن الرحيم 
    <br>
    وَلَقَدْ أَوْحَيْنَا إِلَىٰ مُوسَىٰ أَنْ أَسْرِ بِعِبَادِي فَاضْرِبْ لَهُمْ طَرِيقًا فِي الْبَحْرِ يَبَسًا لَّا تَخَافُ دَرَكًا وَلَا تَخْشَىٰ
    <br>
    And certainly We revealed to Musa, saying: Travel by night with My servants, then make for them a dry path in the sea, not fearing to be overtaken, nor being afraid.
    
    <br><br>
    
    فَأَتْبَعَهُمْ فِرْعَوْنُ بِجُنُودِهِ فَغَشِيَهُم مِّنَ الْيَمِّ مَا غَشِيَهُمْ
    <br>
    And Firon followed them with his armies, so there came upon them of the sea that which came upon them.
    
    <br><br>
    
    وَأَضَلَّ فِرْعَوْنُ قَوْمَهُ وَمَا هَدَىٰ
    <br>
    And Firon led astray his people and he did not guide (them) aright.
    
    <br><br>
    
    يَا بَنِي إِسْرَائِيلَ قَدْ أَنجَيْنَاكُم مِّنْ عَدُوِّكُمْ وَوَاعَدْنَاكُمْ جَانِبَ الطُّورِ الْأَيْمَنَ وَنَزَّلْنَا عَلَيْكُمُ الْمَنَّ وَالسَّلْوَىٰ
    <br>
    O children of Israel! indeed We delivered you from your enemy, and We made a covenant with you on the blessed side of the mountain, and We sent to you the manna and the quails.
    
    <br><br>
    
    🌿 The prophet (peace and blessings of Allah be upon him) came to Madinah and saw the Jews fasting on the day of ‘Aashooraa’. he said, ‘what is this?’ they said, ‘this is a righteous day, it is the day when Allah saved the children of Israel from their enemies, so Moosa fasted on this day.’ he said, ‘we have more right to Moosa than you,’ so he fasted on that day and commanded [the Muslims] to fast on that day.”
    <br>
    «قدم النبي صلى الله عليه وسلم المدينة ، فرأى اليهود تصوم يوم عاشوراء ، فقال : ( ما هذا ) . قالوا : هذا يوم صالح ، هذا يوم نجى الله بني إسرائيل من عدوهم ، فصامه موسى . قال : ( فأنا أحق بموسى منكم ) . فصامه وأمر بصيامه»
    <br>
    <br>
    
    🌿The messenger of Allah said: ‘the best of fasting after Ramadan is fasting Allah’s month of muharram.’“
    <br>
    «🌿أفضل الصيام ، بعد رمضان ، شهر الله المحرم»🌿
</p>
  <br>
  </div>
  </body>