<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">The Believer is...</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">3 Hadith Parables</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Zeeshan</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
    The prophet ﷺ is the best of teachers, and he used many methods to teach his companions. For example, he used to tell stories, draw in the sand, or repeat words. Another common method used by him is using parables. We also see the use of many parables in the Quran, and we even have a Fityah talk about some of them. This article will cover 3 different parables of the prophet ﷺ about the characteristics of the believers and the lessons we can extract from them.

<br><br>

    The prophet ﷺ said "A believer is the mirror of his brother." (Al-Adab Al-Mufrad 238) What does this mean? There are multiple characteristics of a mirror that we should mirror (see what I did there). Firstly, a mirror shows you what is actually there; it does not lie or assume. If there is a stain on your clothes, it lets you knows. Similarly, we should advise our brothers and sisters kindly if we find a fault. A mirror also does not exaggerate nor trivialize stains. Similarly, we should not treat a minor sin as a major sin nor treat a major sin as a minor sin. A mirror shows you the entire picture, it does not solely focus on the small stain. Likewise, we should not focus on others' faults, but also remind them of the rest of the good they have in them. Furthermore, a mirror lets you know when the stain is getting better, or if it is getting worse. So, we should encourage others if they are improving, and advise them if they are not. Finally, a mirror does not bring up the past; it only shows the present. We must not bring up past faults of others when they have fixed themselves, but we should only focus on their current selves.
    
    <br><br>
    
    In another Hadith, the prophet ﷺ said "the parable of the believer is that of a bee." (Musnad Ahmad 6872) He then lists 3 reasons. Firstly, a bee consumes what is good. They consume pure flowers, and they don't consume filth, unlike other insects. Similarly, we must make sure we consume what is good in all aspects of our life. We must eat halal. We must have a halal income. We must have a good group of friends. We must learn from the properly guided. We must consume beneficial content on the internet. The list goes on. Secondly, a bee gives out what is good. A bee also pollinates others flowers so they reproduce. A bee produces honey, a liquid so pure and beneficial that Allah mentions it in the Quran and he says فيه شفاء للناس in it is a cure for the people. Likewise, a believer should help others, spend for the sake of Allah, say things that are only good, etc. Finally, the prophet ﷺ said that when it falls on something, it doesn't break or corrupt it. Even though flowers are delicate, a bee doesn't harm it when it lands, but it only benefits. Similarly, the believer is gentle when dealing with others and does not cause any harm. A different narration of the Hadith with a slightly different wording is that when a bee falls it is not broken nor is it corrupt. Similarly, when a believer faces hardships, he or she does not lose iman.
    
    <br><br>
    
    Finally, the prophet ﷺ said "The parable of the believer is that of a palm tree." (Al-Mujam Al-Kabir lil-Tabarani 13514) He then said that whatever you take from it benefits you. At this time, palm trees were very familiar and useful for the people. People would eat from it, take shade from it, and use the wood for building. So, a believer must be beneficial for others. What they say must benefit others. They must do things to help others. Similarly, Allah says in Surah Ibrahim that a good word is like a good tree; its roots are firm and its branches reach the sky. So the good words of a believer are beneficial and are very impactful. The prophet ﷺ also said that the believer is like a fresh tender plant. (Bukhari 5644) This is because the wind blows it and bends it, but it goes back to being straight. This means that believers may face difficulties, but it remains patient and does not lose iman.
    
    <br><br>
    
    From these 3 parables, the prophet ﷺ teaches us how a true believer should be, by comparing them to a mirror, a bee, and a tree. All of these parables share the same overall message: have good manners with others and be patient. These are two very important characteristics for every believer to implement into their daily lives. May Allah allow us to have good manners with others and be patient over whatever befalls us. </p>
  <br>
  </div>
  </body>