<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Reminder to be Grateful</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">For Allah's Blessings</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Nuraz</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
    Salaam (WRWB), have you ever looked up at the stars at the night, gazing at each unique looking star? Not a night person? That’s fine. Then have you ever looked up at the sun right with your eyes. Eye to sun? Well you cant. Okay, then what about the rainforest with all the amazing creatures and intricate species that lies beneath it? 
<br><br>
    Or it take it to a microscopic level like the way your human body functions at unison with empowering accuracy. 
    <br><br>
    Now take a look at the amount of times you thanked Allah (SWT) about all the bounties he has gaven us. In all of our life even if we make zikr, prayer and praise towards Allah (SWT) it will never be sufficient enough to balance his blessing. Allah even says "if you should count the favor of Allah, you could not enumerate them." But now look as Allah (SWT) doesn’t ask us for anything unbearable to return. Just prayer and all the teachings of his Messenger  (PBUH). 
    <br><br>   
    So this is my why my brothers and sisters we should all be grateful for the things we have on our everyday life. As in the Holy Quran, Allah (SWT) mentions in Surah Luqman Ayat 12:
    <br><br>
    وَلَقَدْ ءَاتَيْنَا لُقْمَـٰنَ ٱلْحِكْمَةَ أَنِ ٱشْكُرْ لِلَّهِ ۚ وَمَن يَشْكُرْ فَإِنَّمَا يَشْكُرُ لِنَفْسِهِۦ ۖ وَمَن كَفَرَ فَإِنَّ ٱللَّهَ غَنِىٌّ حَمِيدٌ
    <br>
    Meaning —> “Indeed, We blessed Luqmân with wisdom, ˹saying˺, “Be grateful to Allah, for whoever is grateful, it is only for their own good. And whoever is ungrateful, then surely Allah is Self-Sufficient, Praiseworthy.” 
    <br><br>
    So my brothers and sisters remind yourself and each other to be grateful for the bounties and blessing Allah (SWT) has gaven us, because without it we are fatal. Salaam (WRWB)
</p>
  <br>
  </div>
  </body>