<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Istighfar</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Solution to every Problem</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Dr. Houria Abdelrehem</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
    📖You will become addicted to istighfaar after reading this ان شاء الله!
<br><br>
    A man once came to al-Hasan al-Basri and complained to him: 
    <br><br>
    “The sky does not shower us with rain.” He replied: “Seek Allah’s forgiveness (i.e. say أستغفر ألله).”
    <br><br>
    Then another person came to him and said, “I complain of poverty.” He replied: “Seek Allah’s forgiveness.”
    <br><br>
    Then another person came to him and complained, “My wife is barren; she cannot bear children.” He replied: “Seek Allah’s forgiveness.”
    <br><br>
    The people who were present, said to al-Hasan: “Everytime a person came to you complaining, you instructed them to seek Allah’s forgiveness?”
    <br><br>
    Al-Hasan al-Basri said, “Have you not read the statement of Allah? He said “Ask forgiveness of your Lord. Truly He is Oft-Forgiving. He will send rain to you in abundance; increase you in wealth and children; grant you gardens and bestow on you rivers.” [Nuh:10-12]
    <br><br>
    There are two things in the earth that give a person safety and security from the punishment of Allah. The first has been removed, whilst the second still remains. As for the first, it was the Messenger of Allah (صلي ألله عليه و سلم). “Allah would not punish them while you were among them.” [al-Anfal:33] As for the second, it is Istighfar. “Allah would not punish them as long as they sought forgiveness.” [al-Anfal:33]
    <br><br>
    The Prophet (صلى الله عليه وسلم) said, “If anyone continually asks forgiveness, Allah will appoint for him a way out of every distress, relief from anxiety, and will provide for him from where he never realized.” [Abu Dawood, Hadith 599]
    <br><br>
    <img src="/assets/1ce61a95-10be-4f2c-9d0c-0a196fa398cc.jpeg" style="width:50%;border-radius: 5px;">
</p>
  <br>
  </div>
  </body>