<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">The 3 D's</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Of the Deen</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Nuraz</p></td></tr>
  </table></p>
  <hr><br>
    <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">
Introduction
    </p><br>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
Salaam (WRWB), I hope you are doing good. One of the Prophet (SAW)‘s favorite food is the date. As at times he and his wife Aisha (RA) would only consume dates over a period of weeks. 
<br><br>
One of the Prophet (SAW)’a favorite hobbies was to make dua. As a matter of fact the Prophet (SAW) would always make dua for everything he’d want. Even the small things, he had made dua for. 
<br><br>
Another thing that the Prophet (SAW) would do is to give Dawah (invitations) to people around the world. His main purpose to give the dawah and spread the message of Islam.
<br><br>
Now look at these 3 things in Islam. What’s the similarities of these things? They start with D, I mean like come on Sherlock that’s obvious. But if you think of a slightly more complicated meaning then these are all things that are a staple to our belief in Islam. Which is exactly what this article is going to talk about. 
    </p>
    <br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">
1st D - Dates
</p>
    <br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
For me the number one thing that dates are notorious for is the fact that we eat to break each fast. Not just in Ramadan but for all types of fasting. But dates are not as basic as let’s say an apple. Apples are cool too, no wrong with eating apples. But the Prophet (SAW) would enjoy dates arguably the most in his time spent on the Earth. 
<br><br>
As each part of the date is significant. I won’t go over it in this article, but you luckily check out Zeeshan’s Article about the Parts of Dates.
<br><br>
Dates have many benefits for our bodies. Firstly dates can help prevent chronic diseases. Flourish your skin, or in other words making your skin more smooth and fresh. Dates can also help with childbirth.
<br><br>
And it comes to no surprise that the Holy Quran mentions it. A quick backstory for those who don’t know. Maryam (AS) was a mother and at the same time was a virgin. Meaning she didn’t have a husband or partner. Nor was she married. She would give pregnancy to Isa (AS). And in order to handle the child labor, Maryam (AS) was advised to consume dates throughout the duration of her childbirth to strengthen her body.
<br><br>
In Surah Maryam, Ayats 23-26 Allah (SWT) mentions,<br>
فَأَجَآءَهَا ٱلۡمَخَاضُ إِلَىٰ جِذۡعِ ٱلنَّخۡلَةِ قَالَتۡ يَـٰلَيۡتَنِى مِتُّ قَبۡلَ هَـٰذَا وَڪُنتُ نَسۡيً۬ا مَّنسِيًّ۬ا (﻿٢٣﻿)﻿ فَنَادَٮٰهَا مِن تَحۡتِہَآ أَلَّا تَحۡزَنِى قَدۡ جَعَلَ رَبُّكِ تَحۡتَكِ سَرِيًّ۬ا (﻿٢٤﻿)﻿ وَهُزِّىٓ إِلَيۡكِ بِجِذۡعِ ٱلنَّخۡلَةِ تُسَـٰقِطۡ عَلَيۡكِ رُطَبً۬ا جَنِيًّ۬ا (﻿٢٥﻿)﻿ فَكُلِى وَٱشۡرَبِى وَقَرِّى عَيۡنً۬ا‌ۖ فَإِمَّا تَرَيِنَّ مِنَ ٱلۡبَشَرِ أَحَدً۬ا فَقُولِىٓ إِنِّى نَذَرۡتُ لِلرَّحۡمَـٰنِ صَوۡمً۬ا فَلَنۡ أُڪَلِّمَ ٱلۡيَوۡمَ إِنسِيًّ۬ا (﻿٢٦﻿)﻿
  <br>
  Meaning —> “And the pains of childbirth drove her to the trunk of a palm tree. She said, “Oh, I wish I had died before this and was in oblivion, forgotten. But he called her from below her, “Do not grieve; your Lord has provided beneath you a stream. And shake toward you the trunk of the palm tree; it will drop upon you ripe, fresh dates. So eat and drink and be contented. And if you see from among humanity anyone, say, ‘Indeed, I have vowed to the Most Merciful abstention, so I will not speak today to [any] man.” 
<br><br>
To summarize, Maryam (AS) is met with a hardship, and Allah (SWT) comes to ease her situation with dates ripe from a tree. As then infamously later on Maryam (AS) would abstain from speaking for a couple of days.
<br><br>
As we conclude our 1st D, we should be thankful and grateful to Allah (SWT) for his gift of dates for these dates are a powerful fruit for all.
    </p><br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">
2nd D - Dua
</p>
    <br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
When in a hardship and put to an immense trial, what is the first thing you normally do? If you said anything other than making dua to Allah (SWT) you’d be wrong. As this is the common mistake that most people make. As the first thing you should is dua. The power of dua is a completely other topic that I do not want to get into, but I’m sure down the line there will be another article discussing it.
<br><br>
Here is one reason why the Prophets (PBUT) achieved their great status. By looking towards Allah (SWT) for a solution. 
<br><br>
Take all their hardships into consideration. Look at what they each do. Make dua to ease their situation. 
<br><br>
In Surah Ghaafir, Ayat 60, Allah (SWT) provides,
<br>
وَقَالَ رَبُّڪُمُ ٱدۡعُونِىٓ أَسۡتَجِبۡ لَكُمۡۚ إِنَّ ٱلَّذِينَ يَسۡتَكۡبِرُونَ عَنۡ عِبَادَتِى سَيَدۡخُلُونَ جَهَنَّمَ دَاخِرِينَ (﻿٦٠﻿)
<br>
Meaning —> “Your Lord has proclaimed, “Call upon Me, I will respond to you. Surely those who are too proud to worship Me will enter Hell, fully humbled.”
<br><br>
With this ayat and the examples of the Prophets (PBUT) dua should be the resource we use in our trials and tests. As again the theme pursuits, yet another bounty from Allah (SWT).
    </p>
<br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">
3rd D - Dawah 
</p>
    <br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
Dawah is another essential thing in Islam. Dawah essentially means an invitation, in this condition the invitation is to Islam. As the Prophet (PBUH) revealed Islam with the people reviving Dawah. Without this we would perhaps have no reliable source of Allah (SWT)’s message. 
<br><br>
This is self-explanatory as the message delivered here is to spread the religion of Islam. Again a completely different topic. Perhaps another article in the upcoming future inshallah. 
<br><br>
And lastly we must take Islam as a gift from Allah (SWT), not a burden. As this religion was fought over in the past to be passed on to us.
    </p>
    <br>
    <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">
Conclusion</p>
    <br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
In conclusion this article briefly had talked about the 3 D’s of Deen, as they are some crucial points in our journey to belief in Islam. Salaam (WRWB) 
    </p>
  <br>
  </div>
  </body>