<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Guard your Heart</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">By Remembering Allah</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Dr. Houria Abdelrehem</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
    Guard your Heart with the Remembrance of Allah.
    <br><br>
    The Prophet ‎ﷺ said: “In the body there is a piece of flesh which, if it is sound, the entire body will be sound, and if it is corrupt, the entire body will be corrupt. Indeed it is the heart.” (Bukhari and Muslim).
    <br><br>
    The Prophet ‎ﷺ said: “Allah does not look at the outward appearance or wealth of any one of you; rather he looks at your hearts and deeds.” (Muslim)
    <br><br>
    <img src="/assets/sickesses.jpeg" style="width:50%;border-radius: 5px;">
</p>
  <br>
  </div>
  </body>