<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Seeking Knowledge</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Importance and Benefits</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Dr. Houria Abdelrehem</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
    <br><img src="https://fityah.institute/assets/knowledge.jpeg" style="width:50%;border-radius: 5px;">
<br><br>
)- باب فضل العلم تعلما وتعليما لله<br>
Riyad as-Salihin 1379<br>
Sahl bin Sa'd (May Allah be pleased with him) reported:<br>
The Prophet (ﷺ) said to 'Ali (May Allah be pleased with him), "By Allah, if a single person is guided by Allah through you, it will be better for you than a whole lot of red camels."<br>
[Al-Bukhari and Muslim].<br>
<br>
وعن سهل بن سعد رضي الله عنه أن النبي صلى الله عليه وسلم قال لعلي رضي الله عنه ‏:‏ ‏ "‏فوالله لأن يهدي الله بك رجلا واحدا خير من حمر النعم‏"‏ ‏(‏‏(‏متفق عليه‏)‏‏)‏
<br>
<br>
Abu Ad-Dardā’ (may Allah be pleased with him) reported: The Messenger of Allah (may Allah's peace and blessings be upon him) said: "Whoever follows a path in pursuit of knowledge, Allah will facilitate for him a path to Paradise. Indeed, the angels lower their wings for the seeker of knowledge, out of pleasure at what he does. Verily, the inhabitants of the heavens and the earth, even the fish in the water, ask forgiveness from Allah for the knowledgeable. The superiority of a scholar over a devout worshiper is like the superiority of the moon over the rest of the stars. Indeed, the scholars are the inheritors of the prophets, who bequeath neither dinar nor dirham, only knowledge. So whoever acquires it has actually taken abundant wealth."<br> <br> 
عن أبي الدرداء -رضي الله عنه- عن النبي -صلى الله عليه وسلم- قال: «مَنْ سَلَكَ طَريقا يَبْتَغي فيه عِلْما سَهَّل الله له طريقا إلى الجنة، وإنَّ الملائكةَ لَتَضَعُ أجْنِحَتها لطالب العلم رضًا بما يَصنَع، وإنَ العالم لَيَسْتَغْفِرُ له مَنْ في السماوات ومَنْ في الأرض حتى الحيتَانُ في الماء، وفضْلُ العالم على العَابِدِ كَفَضْلِ القمر على سائِرِ الكواكب، وإنَّ العلماء وَرَثَة الأنبياء، وإنَّ الأنبياء لم يَوَرِّثُوا دينارا ولا دِرْهَماً وإنما وَرَّثُوا العلم، فَمَنْ أَخَذَهُ أَخَذَ بحَظٍّ وَافِرٍ».
<br><br>
شرح الحديث :<br>
The Hadīth sheds light on some merits of the pursuit of knowledge, as follows: 1. If a person treads a path in pursuit of knowledge or even if he seeks knowledge while at home, Allah, the Almighty, will reward him by facilitating a path leading him to Paradise. The pursuit of knowledge includes a tangible path, where a man actually walks (to gain knowledge), and an intangible one, like attending the classes of scholars and reading books. Thus, he is considered to be following a path of knowledge, even though he is actually sitting. 2. The inhabitants of the heavens and the earth, even the fish and animals, invoke the forgiveness of Allah, the Almighty, for the scholars. 3. The angels, honored by Allah, the Almighty, lay down their wings for the seeker of knowledge out of pleasure at what he does and in humility and reverence towards knowledge and the knowledgeable. 4. The scholars are the inheritors of the prophets. They take knowledge, application, the call to Allah, the Almighty, and guiding people to His religion from them. 5. The superiority of a scholar over a devout worshiper is like the superiority of the moon over the rest of the stars. Indeed, the light and virtue of worship are limited to the worshiper; it does not reach others, just like the light of the stars. By contrast, the light and virtue of knowledge transcend the scholar and reach others, enlightening them. The Prophet (may Allah's peace and blessings be upon him) highlighted that the prophets did not bequeath worldly fortunes, but the best legacy they leave behind is knowledge. Whoever acquires it has indeed taken a great fortune. In fact, this is the true beneficial inheritance. Let no one think that a scholar does not engage in worship or that a worshiper lacks knowledge. But, the knowledge of the former prevails over his deeds, whereas the deeds of the latter override his knowledge. Hence, the scholars are considered as the inheritors of the prophets, who gained both merits – knowledge and action – and were marked by perfection and the pursuit of improvement. This is the course to be taken by those who truly know their Lord and walk in the path leading to Him.<br>
<br>Abu Ad-Dardā’ (may Allah be pleased with him) reported: The Messenger of Allah (may Allah's peace and blessings be upon him) said: "Whoever follows a path in pursuit of knowledge, Allah will facilitate for him a path to Paradise. Indeed, the angels lower their wings for the seeker of knowledge, out of pleasure at what he does. Verily, the inhabitants of the heavens and the earth, even the fish in the water, ask forgiveness from Allah for the knowledgeable. The superiority of a scholar over a devout worshiper is like the superiority of the moon over the rest of the stars. Indeed, the scholars are the inheritors of the prophets, who bequeath neither dinar nor dirham, only knowledge. So whoever acquires it has actually taken abundant wealth."  <br><br>
عن أبي الدرداء -رضي الله عنه- عن النبي -صلى الله عليه وسلم- قال: «مَنْ سَلَكَ طَريقا يَبْتَغي فيه عِلْما سَهَّل الله له طريقا إلى الجنة، وإنَّ الملائكةَ لَتَضَعُ أجْنِحَتها لطالب العلم رضًا بما يَصنَع، وإنَ العالم لَيَسْتَغْفِرُ له مَنْ في السماوات ومَنْ في الأرض حتى الحيتَانُ في الماء، وفضْلُ العالم على العَابِدِ كَفَضْلِ القمر على سائِرِ الكواكب، وإنَّ العلماء وَرَثَة الأنبياء، وإنَّ الأنبياء لم يَوَرِّثُوا دينارا ولا دِرْهَماً وإنما وَرَّثُوا العلم، فَمَنْ أَخَذَهُ أَخَذَ بحَظٍّ وَافِرٍ».<br><br>
شرح الحديث :<br>
The Hadīth sheds light on some merits of the pursuit of knowledge, as follows: 1. If a person treads a path in pursuit of knowledge or even if he seeks knowledge while at home, Allah, the Almighty, will reward him by facilitating a path leading him to Paradise. The pursuit of knowledge includes a tangible path, where a man actually walks (to gain knowledge), and an intangible one, like attending the classes of scholars and reading books. Thus, he is considered to be following a path of knowledge, even though he is actually sitting. 2. The inhabitants of the heavens and the earth, even the fish and animals, invoke the forgiveness of Allah, the Almighty, for the scholars. 3. The angels, honored by Allah, the Almighty, lay down their wings for the seeker of knowledge out of pleasure at what he does and in humility and reverence towards knowledge and the knowledgeable. 4. The scholars are the inheritors of the prophets. They take knowledge, application, the call to Allah, the Almighty, and guiding people to His religion from them. 5. The superiority of a scholar over a devout worshiper is like the superiority of the moon over the rest of the stars. Indeed, the light and virtue of worship are limited to the worshiper; it does not reach others, just like the light of the stars. By contrast, the light and virtue of knowledge transcend the scholar and reach others, enlightening them. The Prophet (may Allah's peace and blessings be upon him) highlighted that the prophets did not bequeath worldly fortunes, but the best legacy they leave behind is knowledge. Whoever acquires it has indeed taken a great fortune. In fact, this is the true beneficial inheritance. Let no one think that a scholar does not engage in worship or that a worshiper lacks knowledge. But, the knowledge of the former prevails over his deeds, whereas the deeds of the latter override his knowledge. Hence, the scholars are considered as the inheritors of the prophets, who gained both merits – knowledge and action – and were marked by perfection and the pursuit of improvement. This is the course to be taken by those who truly know their Lord and walk in the path leading to Him.
</p>
  <br>
  </div>
  </body>