<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Sacred Months</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">The Significance</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Dr. Houria Abdelrehem</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
Sacred Months🌴  Allaah says in the Qur'an:  إِنَّ عِدَّةَ ٱلشُّهُورِ عِندَ ٱللَّهِ ٱثْنَا عَشَرَ شَهْرًۭا فِى كِتَـٰبِ ٱللَّهِ يَوْمَ خَلَقَ ٱلسَّمَـٰوَٰتِ وَٱلْأَرْضَ مِنْهَآ أَرْبَعَةٌ حُرُمٌۭ ۚ ذَٰلِكَ ٱلدِّينُ ٱلْقَيِّمُ ۚ فَلَا تَظْلِمُوا۟ فِيهِنَّ أَنفُسَكُمْ ۚ    "Verily, the number of months with Allâh is twelve months (in a year), so was it ordained by Allâh on the Day when He created the heavens and the earth; of them four are Sacred (i.e. the 1st, the 7th, the 11th and the 12th months of the Islâmic calendar). That is the right religion, so wrong not yourselves therein..." Surat At-Tawbah,Verse 36 🍃🍃🍃🍃🍃 It was reported that Ibn ‘Abbaas said that this phrase (so wrong not yourselves therein…) referred to all the months, then these four were singled out and made sacred, so that sin in these months is more serious and good deeds bring a greater reward.  Qataadah said concerning this phrase (so wrong not yourselves therein…) that wrongdoing during the sacred months is more serious and more sinful than wrongdoing at any other time. [Tafseer Ibn Katheer] 🌾🌾🌾🌾🌾🌾🌾🌾🌾🌾🌾🌾🌾 “Don’t wrong yourselves therein"<br><br>
<img src="https://fityah.institute/assets/months.jpeg" style="width:50%;border-radius: 5px;">

</p>
  <br>
  </div>
  </body>