<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Effects of Sins</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Sins make the Face Ugly</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Dr. Houria Abdelrehem</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
<br><img src="https://fityah.institute/assets/sins.jpeg" style="width:50%;border-radius: 5px;"><br><br>
“The person who is righteous and honest, his honesty is manifest from the radiance in his face, and his honesty can be known from the glow that is on his face, likewise a sinful liar. The older a person gets, the more this sign becomes apparent. Thus a person as a child would have a bright face, however if he becomes a sinful person, adamant on committing sins, at the older stages in his life, an ugly face would manifest that which he used to internalize, and the opposite is true. It has been narrated that ibn Abbaas (radiAllaahu anhu) said, “Indeed righteousness illuminates the heart, radiates the face, strengthens the body, increases provision, and produces a love in the hearts of the creation for that person. Whereas sinfulness darkens the heart, greys the face, weakens the body, and produces hatred in the hearts of the creation for that person.”
<br><br>
It is possible that a person may not intentionally lie; he may even be a person who makes great effort in ibaadah (worship) and has zuhd (abstains from pleasures of this life that are lawful). However he has false, incorrect aqeedah (creed) regarding either Allah, or His deen, or His messenger or His righteous servants. And what is on the inside affects what is on the outside. Thus this false, incorrect aqeedah that he thought was true and correct reflects on his face, and his face would be dark in accordance with the level of falsehood he possesses. As it has been narrated that Uthmaan ibn Affaan radiallahu anhu said, “No one ever hides evil within themselves except that Allaah makes it manifest from his facial outlook and the statements his tongues utters.” Hence some of the salaf used to say, “If a person of innovation were to dye his beard every day, the dye of innovation would remain on his face.” On the day of judgment this would be very clear as Allaah says,
<br><br>
“And on the Day of Resurrection you will see those who lied against Allâh their faces will be black. Is there not in Hell an abode for the arrogant ones?” (Surah Az-Zumar: 60)
<br><br>
He ta’ala also said, “On the Day when some faces will become white and some faces will become black; as for those whose faces will become dark (to them will be said): “Did you reject Faith after accepting it? Then taste the torment for rejecting Faith.”
<br><br>
Ibn Abbaas (radiallaahu anhu) and others have said regarding this verse, “The bright face will be ahlus-sunnah, and dark faces will be the people of bidah (innovation) and division.”
<br><br>
Source: Al-Jawaab as-Saheeh. Vol.4, pg 306-307
</p>
  <br>
  </div>
  </body>