<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">The Awliya of Allah</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Who Are They?</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Dr. Houria Abdelrehem</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
<br><img src="https://fityah.institute/assets/awliya.jpeg" style="width:50%;border-radius: 5px;"><br><br>
The awliya’ (friends of Allah) are people of faith and piety, who are constantly aware that Allah SWT is watching them in all their affairs, so they adhere to His commands and heed His prohibitions.  We should measure the deeds of those who are claimed to be awliya’ by that which is in the Quran and Sunnah. If they are in accordance with the Quran and Sunnah, then we hope that he is one of the awliya.   “No doubt! Verily, the Awliyaa’ of Allah, no fear shall come upon them nor shall they grieve.  Those who believed, and used to fear Allaah much (by abstaining from evil deeds and sins and by doing righteous deeds)”  [Yunus 10:62-63]  The Messenger of Allah (ﷺ) said: “Among the slaves of Allah are some whom the Prophets and martyrs will envy.” It was said: Who are they, O Messenger of Allah, so that we may love them? He said: “They are people who love one another for the sake of Allah, not because of ties of trade or kindred. Their faces will be light on thrones of light. They will not fear when the people fear
</p>
  <br>
  </div>
  </body>