<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Seeing Allah's Face</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">The Greatest Joy</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Dr. Houria Abdelrehem</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
<br><img src="https://fityah.institute/assets/dua.jpeg" style="width:50%;border-radius: 5px;"><br><br>
The greatest joy a believer will enjoy in the hereafter will be the joy of seeing Allah and meeting Him. 
<br><br>
The Prophet ﷺ said, “When the people of Paradise enter it, Allah – Blessed and Exalted is He – will say, ‘Would you like anything more?’ They will say, ‘Have You not brightened our faces? Have You not admitted us into Paradise and saved us from Hell-fire?’ Then, He  will lift the Veil. Nothing they are given will be more beloved to them than looking at their Lord – Majestic and Exalted is He.” Then, he ﷺ recited the verse, “Those who do good will have the finest reward and more!” 
<br>(Qur’an 10 :26)
<br><br>
The believers will see Allah as clearly as the moon can be seen on a cloudless night. Allah says,
<br><br>
وُجُوْهٌ يَّوْمَٮِٕذٍ نَّاضِرَةٌ ۙ‏ اِلٰى رَبِّهَا نَاظِرَةٌ​
<br><br>
“On that Day there will be radiant faces, looking towards their Lord”
<br>(Quran 75 : 22 & 23)
<br><br>
Just as believers are eager to meet and see Allah, Allah is also looking forward to meeting them. In the world, Allah (سُبْحَانَهُ وَتَعَالَى)‎ eagerly welcomes the believer who is regular in attending the masājid for ṣalāh and dhikr, just as people welcome their loved ones happily upon their return from a journey”
<br>(Ibn Mājah). 
 <br><br>
Our beloved Prophet ﷺ said, “Whoever loves to meet Allah, Allah loves to meet him. Whoever dislikes to meet with Allah, Allah also dislikes to meet Him”
<br>(Bukhārī).
 <br><br>
Prophet ﷺ said; "Verily, you will see your Lord just as you see the full moon and you will not need to overlook a crowd to see him.”
<br>(Sunan al-Tirmidhī 2554)
<br><br>
“The longing for meeting Allah is a breeze that blows across the heart, removing from it the glittering illusions of the worldly life.” – Ibn al-QayyimImam (رح)
<br><br>
May Almighty Allah bestow upon us the joy of seeing his Face…. Ameen</p>
  <br>
  </div>
  </body>