<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Recite what is Easy</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">73:20 Explanation</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Zeeshan</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
<br><img src="https://image.slidesharecdn.com/73-surah-almuzzammil-the-enshrouded-one-1222598013556314-8/75/73-Surah-Al-Muzzammil-The-Enshrouded-One-21-2048.jpg" style="width:75%;border-radius: 5px;"><br><br>
Some of us might know the last ayah of Surah Muzzammil as being a long ayah that's hard to memorize. However, this is ironic because of the meaning behind this long ayah, which makes it one of my favorite ayahs from Juz Tabarak. The meaning of this ayah shows Allah's kindness and leniency towards us, and his understanding of our situations. As the prophet ﷺ says in a long Hadith ان الدين يسر indeed the religion is easy (Bukhari 39).
<br><br>
Allah starts this ayah by saying that indeed he knows that you and some of those that believe in you pray during the night, either less than a third, half, or a third of the night. The prophet ﷺ and the companions would strive to do as much ibadah as they can. So, they would pray for a very long time during the night, which Allah commanded them to do in the beginning of the Surah and it used to be obligatory during the early days of Islam; later on, only the 5 daily salawat became mandatory. However, this is a very tough act to do consistently every single night.
<br><br>
And then Allah says he is the one that controls the lengths of the day and night. He makes the day shorter and the night longer or he makes the day shorter and the night longer. He is in power, and he can make it hard or easy upon you.
<br><br>
Then Allah says he knows that you won't be able to keep up with it, so he turned to you in repentance. He forgave the people's shortcomings. But then Allah says so recite what is easy from the Quran. There is no fixed length for the tahajjud prayer, Allah only asks to do whatever amount is easy.
<br><br>
And then Allah describes some different types of people. Allah says that he knows that among you are sick people, and others that are travelling throughout rarth to seek Allah's bounty, and others that fight in the way of Allah. We ourselves may be sick or travelling or have work/school, which makes it hard to do ibadah for that long during the night. Nonetheless, Allah repeats so recite what is easy from it. No matter what situation we are in, we must and can always make time for the 5 mandatory prayers. Outside of that, we should only recite what is easy for us. We should not take for granted small deeds.
<br><br>
Allah then says and establish Salah and give Zakah and lend Allah a good loan, which means spend in the way of Allah. Here, Allah mentions the 2 most important actions for us, the 2 pillars after the shahadah: Salah and Zakah. We must remember to prioritize these.
<br><br>
Then Allah reminds us that whatever you put forth for yourselves that is good, you will find with Allah better and greater reward. Allah is reminding us that for any big or small thing we do or sacrifice, it is for ourselves. One time, Aishah RA donated a sheep except for its shoulder, and the prophet ﷺ said that all of it remains for her except the shoulder, which means that the reward for the rest of the sheep is for her (Tirmidhi 2470). Not only is the reward for our actions for us, but what we will receive will be greater and better. So when it comes to reciting the Quran, don't think that reciting a little won't benefit you. You will find a great reward for it.
<br><br>
Allah concludes the ayah with and seek Allah's forgiveness. Indeed Allah is the most forgiving and the most merciful. Any time we fall short, we must remember to seek Allah's forgiveness, and if we are sincere, Allah will accept from us because he is the most forgiving and merciful.
<br><br>
In sha Allah this short explanation motivated you to do something good, even if it is small. May Allah allow us to do actions that will help us get close to him.
  <br>
  </div>
  </body>