<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Reward for Obedience</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">4:69 Explanation</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Zeeshan</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
<br><img src="https://myislam.sfo3.digitaloceanspaces.com/quran-images/4/Surah-An-Nisa-Ayat-69.png" style="width:75%;border-radius: 5px;"><br><br>
The companions of the Prophet ﷺ had great love for the Prophet ﷺ, such that he ﷺ was more dear to them than themselves or their families. One of the companions came to the Prophet ﷺ, and he was frowning. The Prophet ﷺ asked him why is he frowning. He responded that he doesn't feel at peace unless he is in the presence of the Prophet ﷺ. However, he was worried because the Prophet ﷺ will be resurrected in the highest ranks and will be in the highest ranks of the prophets. So, the sahabi was sad because he thought that he would not be able to see him in Jannah. Later, Jibril came and this ayah was revealed. Allah says that whoever obeys him and the messenger, then they will be with those who Allah favored from the prophets, the true believers, the martyrs, and the righteous.
<br><br>
As Muslims, we must yearn to see the Prophet ﷺ in Jannah, as he is the one who we should love more than ourselves. This ayah should bring us hope and motivate us to try to be in the company of the prophets and the very righteous in Jannah. And we can achieve this, if we firmly obey Allah and the Messenger. Let us strive to perfect our obligations, increase our sunnah actions, send salawat on our Prophet ﷺ, and avoid any innovations. Let us try to be from الصديقين, as they have a high status right under the prophets. The Prophet ﷺ says that whoever is a Muslim, prays 5 times a day, pays Zakah, fasts Ramadan, and doesn't disobey their parents will be with the Prophets, the truthful, and the martyrs on the Day of Judgement. [<a style="color:white;text-decoration:underline;" href="https://dorar.net/hadith/sharh/150222">source</a>]
  </p>
<br>
  </div>
  </body>