<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Niyyah</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">The Perfect Intention</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Nuraz</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
Salaam (WRWB). Picture this. You are in Quran class listening to the Quran and then your teacher says the following; "Are you listening?"
<br><br>
Now of course you were listening with your ears, eyes, and mind. A simple "Yes" was your reply. Ironically the only part that wasn't listening was your heart, which is the most important part.
<br><br>
Niyyah is the perfect word to associate your intention through the heart. Practically in Islam, you need Niyyah for every single deed. In Wudhu it's the first step, in Salaah it's also the first step, in behaving it's also the first step. You get the point. The intention is so basal to the deed to the point where an intention that avoids the heart can break the reward of the deed.
<br><br>
In Chapter 33 of the Holy Quran, Allah (SWT) declares,
<br>
وَلَيْسَ عَلَيْكُمْ جُنَاحٌ فِيمَآ أَخْطَأْتُم بِهِۦ وَلَـٰكِن مَّا تَعَمَّدَتْ قُلُوبُكُمْ ۚ وَكَانَ ٱللَّهُ غَفُورًا رَّحِيمًا
<br>
And there is no blame for that in which you have done, but only for what your hearts intended. As Allah (SWT) is the Most Forgiving and Merciful. (33:5)
<br><br>
Now let's say that not all your deeds are committed with the presence of Niyyah. What steps should you take?
<br><br>
Notice how Allah (SWT) at the end of the Ayah mentions his attributes "Most Merciful and Most Forgiving." This clearly portrays for those who have previously done this mistake.
<br><br>
On top of that you should, from that point, start building the habit of utilizing Niyyah in your actions, solely for good.
<br><br>
Notice when I say "deeds," I don't just specify solely good, but it can also be in a state of sin. All the sins you have committed all were from having Niyyah, which brings me to my next point.
<br><br>
On another note with the Ayah is to put in context of "There is no blame for that in which you have done." Meaning how you positioned yourself doing it.
<br><br>
For instance if you had no idea on what you're doing is a sin, that's acceptable. Though it's still your job to find out what was wrong in that scenario.
<br><br>
Also bad thoughts. Bad thoughts are only reasonable kept to mind, otherwise staying primarily as a thought. But when you listen to those thoughts and commit the action it is only considered that you are committing a sin.
<br><br>
Niyyah doesn't only link with deeds and sins. It also ties with Imaan.
<br><br>
In the Holy Quran Allah mentions in chapter 13,
<br>
ٱلَّذِينَ ءَامَنُوا۟ وَتَطْمَئِنُّ قُلُوبُهُم بِذِكْرِ ٱللَّهِ ۗ أَلَا بِذِكْرِ ٱللَّهِ تَطْمَئِنُّ ٱلْقُلُوبُ
<br>
Those who believed and whose hearts are assured by the rememberance of Allah. Unquestionably, by the rememberance of Allah, hearts are assured. (13:28)
<br><br>
This comes as the blessing as well as cost of containing Niyyah.
<br><br>
In conclusion this article went over...
<br>
→ Meaning of Niyyah: Niyyah comes from the heart primarily
<br>
→ Niyyah ties with deeds (good and bad)
<br>
→ When your heart is assured with Allah (SWT), Allah (SWT) assures your heart is closer with him. (Blessings of Niyyah)
<br><br>
So, the next time your teacher asks if you weere listening or not, always make sure to be honest and also to always establish Niyyah in every way of good we can. Salaam (WRWB)
</p><br>
  </div>
  </body>