<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Self-Esteem</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">In Islam</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Nuraz</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
Salaam (WRWB). No matter what you choose to do in life, there will always be people that doubt you, and others who cheer you on. Regardless of those interactions, the turbine in the body will always be run by you.
<br><br>
Your fate in the Day of Judgement is on you. When you're joking around tossing little disses about what they do, how they look, etc. But after joking, think of who you are.
<br><br>
Self-Esteem is at trait that can't be bought nor lended by other people, only way in recieving it is you.
<br><br>
Let's say your friend got into MIT. That's great! But then your other friend goes to Yale. Wow, even better! But you did not go anywhere near there. What you shouldn't do is beat yourself up. Instead, what we should do is improvise on what we are best at.
<br><br>
Because if we don't respect our potential and the way we are created it's also an insult to Allah (SWT). The one who created us in the best form possible.
<br><br>
In chapter 95 of the Holy Quran Allah (SWT) says,
<br>
لَقَدْ خَلَقْنَا ٱلْإِنسَـٰنَ فِىٓ أَحْسَنِ تَقْوِيمٍ
<br>
We have certainly created man in the best of stature (95:4)
<br><br>
This ayat is really powerful when put in the context of when you have doubt about yourself.
<br><br>
So the next time when you feel as if you possess no ability, use the Ayat and reflect about the fact that creation of us is the best possible version, as Allah (SWT) created you and me as the best possible variant. Salaam (WRWB)
</p><br>
  </div>
  </body>