<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Sadaqah</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">The Benefits of Giving</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Nuraz</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
<u>Introduction</u>
<br>
Sadaqah is not the thing where it's mentioned in every Masjid. Sadaqah is the real definition of "give less, get big." Although this topic is generally talked about, the rewards from it cannot stay hidden.
<br>
<br>
<u>What is Sadaqah?</u>
<br>
Sadaqah, in short means "giving to others," whether it's a parent, friend, Muslim, stranger, or Non-Muslim the sadaqah can be done. Yes, Sadaqah doesn't only have to be to your fellow Muslims, but instead can be given to the Non-Muslims. 
<br><br>
There are 2 types of Sadaqah which we will get to on our next segment.
<br><br>
<u>Sadaqah vs Sadaqatul Jariyah</u>
<br>
As we had just gone over Sadaqah, Sadaqatul Jariyah does have quite a difference though they are still both acts of giving.
<br><br>
Sadaqatul Jariyah in short is "flowing charity," or in other words, "charity that's still in place even after you die."
<br><br>
The Prophet (PBUH) says in a hadith, "When a human being dies, one's deeds cease, except three: a Sadaqatul Jariyah, (religious) knowledge (one leaves behind) which others benefit, and a righteous child who prays for one." (Muslim)
<br><br>
Of course as you read that, it is religious so this form is exclusive to Muslims.
<br><br>
Some examples for Sadaqah can be... 
<br>
→ smiling at someone
<br>
→ giving compliments 
<br>
→ lending time to help someone 
<br>
→ spending time with family or friends 
<br><br>
Some examples for Sadaqatul Jariyah can be... 
<br>
→ building an orphanage
<br>
→ planting a tree 
<br>
→ run a Masjid
<br>
→ making religious posts on social media
<br>
→ writing a fityah article 
<br><br>
Yes, writing a fityah article is Sadaqatul Jariyah. It can be a normal religious article but you get my point.
<br><br>
To summarize:
<br><br>
<u>Sadaqah:</u>
<br>
→ short-term 
<br>
→ easier to do 
<br>
→ example: donating to a charity 
<br><br>
<u>Sadaqatul Jariyah:</u>
<br>
→ long-term (after death)
<br>
→ takes a little more
<br>
→ example: building a Masjid
<br><br>
Both are acts of giving.
<br><br>
<u>The Benefits of Sadaqah</u>
<br>
Have you ever seen those islamic creators on social media? And if you have, did you see the end? Well there is 9 out of 10 times a phrase at the end that deems, "share this to your friends and family for Sadaqatul Jariyah." In fact, even the bottom of the Fityah website says something similar.
<br><br>
Are they lying? No, if we include the definition of Sadaqatul Jariyah then it's not. And that brings me to this next point. What stakes do you get in doing sadaqah in general?
<br><br>
The Prophet (PBUH) says in a hadith, "Sadaqah extinguishes sin just as water extinguishes fire." (Tirmidhi)
<br><br>
Allah (SWT) says in chapter 57 of the Holy Quran 
<br>
إِنَّ ٱلْمُصَّدِّقِينَ وَٱلْمُصَّدِّقَـٰتِ وَأَقْرَضُوا۟ ٱللَّهَ قَرْضًا حَسَنًۭا يُضَـٰعَفُ لَهُمْ وَلَهُمْ أَجْرٌۭ كَرِيمٌۭ 
<br>
Indeed, the men who practice charity and the women who practice charity and [they who] have loaned Allah a goodly loan - it will be multiplied for them, and they will have a noble reward. (57:18)
<br><br>
As these benfits sound sweet, this is barely scraping the theshold of hadiths and verses that mention the reward of Sadaqah.
<br><br>
We must also know that intention comes a key way in doing so, helping people for the sake of Allah (SWT).
<br><br>
As annoying those Masjid speeches on Sadaqah are, we must know what they say is not an exaggeration as it's true, Sadaqah can be the reason why you're in Paradise. One of the doors of Jannah is Baab As-Sadaqah.
<br><br>
To end off I would like to first mention on how zakat and Sadaqah are completely different from each other. As zakat is fard and a pillar of Islam while Sadaqah is sunnah.
<br><br>
And secondly mention a verse on the need to give to others, as doing this is also giving to ourselves.
<br><br>
يَـٰٓأَيُّهَا ٱلَّذِينَ ءَامَنُوٓا۟ أَنفِقُوا۟ مِمَّا رَزَقْنَـٰكُم مِّن قَبْلِ أَن يَأْتِىَ يَوْمٌۭ لَّا بَيْعٌۭ فِيهِ وَلَا خُلَّةٌۭ وَلَا شَفَـٰعَةٌۭ ۗ وَٱلْكَـٰفِرُونَ هُمُ ٱلظَّـٰلِمُونَ
<br>
O you who have believed, spend from that which We have provided for you before there comes a Day in which there is no exchange and no friendship and no intercession. And the disbelievers - they are the wrongdoers. (2:254)
<br><br>
So I hope inshallah this article gives a strong reminder to give to others on a daily basis. And trust me on this, those rewards add up, especially during Ramadan of any sacred month. And may Allah (SWT) bless us with such Sadaqah.
<br><br>
Jazakallah for reading this article and you can check out any other articles you like. Salaam (WRWB)
</p><br>
  </div>
  </body>