<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Find π</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Using Trig</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Adnan and Zeeshan</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
    Don't worry this might be our last math article. Shoutout to Br. Hassan.
<br><br>
    Don't you hate it when you're in the middle of a math test but your calculator doesn't have the pi button on it? I'm sure you never had to experience that, which goes to show how pivotal the discovery of pi is. In fact, around 4,000 years ago in Babylon, a tablet estimates pi to be 3.125. Now, we are all taught that pi is 3.1415... with infinite decimals. However, most of us don't know why it has infinite decimals, or even how to go about calculating it.
<br><br>
    The most basic way to define pi is the proportion of a circle's circumference to its diameter. Hence, the formula π*d=c. Therefore, the most practical way to approximate pi is by taking a wheel with a known diameter and rolling it and measuring the proportion of the distance traveled in 1 roll to its diameter.
<br><br>
    However, another way to calculate π is with using trigonometry. We know that the more sides a polygon has, the closer it is to becoming a circle. So, let's imagine that a circle is just a polygon with a huge number of sides. Let's use variable s to represent the number of sides. Then, let's draw an apothem and a radius to form a right triangle, as illustrated below. The measure of the angle that the apothem and radius form is 360/s/2, which is 360/2s, which is 180/s. We can find the measure of one of the sides by using trigonometry. We can use tan to find that 2*tan(180/s)*1, or just 2*tan(180/s) is the measure of one of the sides. Therefore, if we multiply it by the number of sides, we can find the perimeter of the entire shape. So we have 2s*tan(180/s). Now let's divide by the diameter, which is going to be double the apothem, so 2. Now we are left with the formula s*tan(180/s). As we established, the more sides a shape has, the closer it is to a circle. Therefore, if we set s to a high number, like 1000, we get a very close approximation for pi. If s=1000, we get approximately 3.1416. The higher s becomes, the more accurate the approximation will be.
    <br><br><img src="/assets/pi.png" style="width:90%;margin:0;"><br><br>
    So next time you're stuck with a calculator without the pi button, you can use this trigonometry formula to approximate it.
</p><br>
  </div>
  </body>