<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">True Righteousness</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">In Islam</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Sr. Houria</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
    حديث وَابِصَةَ بن مَعبدٍ – رضي الله عنه – قَالَ: أتَيْتُ رَسُول الله ﷺ فَقَالَ: "جئتَ تَسْألُ عَنِ البِرِّ؟"
    <br>
    On the authority of Wābiṣah Ibn Maʿbad - May Allāh be pleased with him - who said, I went to Allāh's Messenger ﷺ. Then, he asked, "Did you come to ask about righteousness?"
    
    <br><br>
    
    قُلْتُ: "نَعَمْ."، 
    <br>
    I responded, "Yes."
    
    <br><br>
    
    فَقَالَ: "اسْتَفْتِ قَلْبَكَ، البرُّ: مَا اطْمَأنَّت إِلَيْهِ النَّفسُ، وَاطْمأنَّ إِلَيْهِ القَلْبُ، 
    <br>
    So, he said: "Consult your heart. Righteousness is what makes the soul feel at ease and the heart feel reassured,
    
    <br><br>
    
    وَالإثْمُ: مَا حَاكَ في النَّفْسِ، وَتَرَدَّدَ فِي الصَّدْرِ، وَإنْ أفْتَاكَ النَّاسُ وَأفْتَوْكَ."
    <br>
    And sin is that which makes the soul hesitant and causes doubt in the chest (i.e., the heart), regardless of people repeatedly issuing Fatwā (that it's permissible)."
    
    <br><br>
    
    حديث حسن، 
    <br>
    The (grade of this) ḥadīth is Ḥasan.
    
    <br><br>
    
    قوله في الحديث: "اسْتَفْتِ قَلْبَكَ." ثم قوله في تمامه: "وَإنْ أفْتَاكَ النَّاسُ وَأفْتَوْكَ." يدل على أن ما كان فيه شبهة و ريبة والقلب لا يطمئن إليه أن السلامة إنما تكون في تركه. 
    <br>
    His ﷺ saying in the ḥadīth, "Consult your heart." and then his saying in the end "Regardless of people repeatedly issuing Fatwā (that it's permissible)." indicates that in matters where there is hesitation and doubt and the heart doesn't feel reassured towards it, surely, safety is in abandoning it,
    
    <br><br>
    
    حتى لو الحصل أن أحدا أفتاه بالجواز وأنه لا حرج فيه.
    <br>
    Even if someone happened to issue a Fatwā that it's permissible and there's nothing wrong in doing it. 
    
    <br><br>
    
    والمقصود أن من كان من أهل الإيمان ويخاف الله سبحانه وتعالى ويتقيه فإنه لا يقدم على الشيء الذي لا يطمئن إليها قلبه.
    <br>
    The purpose is that, the one who is from the people of Īmān (belief), fears Allāh, the Mighty & Exalted, and is cautious of Him (i.e., has Taqwā), he doesn't proceed to do anything which his heart doesn't feel reassured towards.
    
    <br><br>
    
    وقد يكون الإفتاء ممن لا علم عنده وقد يكون ممن عنده علم ولكن ليس في المسألة دليل بين يعول عليه.
    <br>
    It could be that the Fatwā was from someone with no ʿilm (in that issue) or that he has ʿilm (islāmic knowledge), however there's no clear supporting evidence for this issue.
    
    <br><br>
    
    و الشاهد أن قوله في الحديث "وَإنْ أفْتَاكَ النَّاسُ وَأفْتَوْكَ." إن الورع يتجنب ما فيه ريبة وما لا يطمئن القلب إليه.
    <br>
    What's important (here) is his ﷺ saying in the ḥadīth, "Regardless of people repeatedly issuing Fatwā (that it's permissible).", is that Waraʿ (piety) keeps one far away from that in which there's doubt and the heart doesn't feel reassured towards.
</p><br>
  </div>
  </body>