<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Surah Yusuf</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Summary</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Sr. Houria</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
    Prophet Yusuf (Joseph) is a significant figure in the Quran, and his story is detailed primarily in Surah Yusuf (Chapter 12). His narrative is one of the most detailed and captivating stories in the Quran, offering lessons on patience, faith, forgiveness, and the fulfillment of divine plans. Here are some key points about Prophet Yusuf’s story as presented in the Quran:
    <br><br>
    1. Yusuf’s Dream (Verses 4-6)
    <br>
    The story begins with young Yusuf having a prophetic dream in which he sees eleven stars, the sun, and the moon bowing down to him. When he tells his father, Prophet Yaqub (Jacob), about the dream, his father advises him not to share it with his brothers due to their jealousy.
    <br><br>
    2. The Brothers’ Jealousy and Their Plot (Verses 7-18)
    <br>
    Yusuf’s brothers, driven by envy because their father loves Yusuf more, plot to get rid of him. They throw him into a well and deceive their father by saying that a wolf devoured him, showing his blood-stained shirt as false evidence.
    <br><br>
    3. Yusuf is Sold as a Slave (Verses 19-21)
    <br>
    Yusuf is rescued from the well by a passing caravan and sold as a slave in Egypt. He is eventually bought by a high-ranking official, often identified as Al-Aziz.
    <br><br>
    4. Yusuf’s Trial with the Minister’s Wife (Verses 22-29)
    <br>
    Yusuf grows into a handsome young man, and the wife of the minister tries to seduce him. When Yusuf resists, she falsely accuses him of attempting to harm her, leading to a trial. However, a witness helps prove Yusuf’s innocence.
    <br><br>
    5. Yusuf’s Imprisonment (Verses 30-42)
    <br>
    Despite his innocence, Yusuf is imprisoned due to the scheming of the minister’s wife. In prison, he interprets the dreams of two fellow prisoners, predicting that one will be released and the other executed. Yusuf asks the one who will be freed to mention him to the king, but the man forgets.
    <br><br>
    6. Yusuf Interprets the King’s Dream (Verses 43-49)
    <br>
    After several years, the king of Egypt has a troubling dream, which none of his advisors can interpret. The freed prisoner remembers Yusuf and suggests him to the king. Yusuf interprets the dream as predicting seven years of prosperity followed by seven years of severe drought, advising the king on how to prepare.
    <br><br>
    7. Yusuf’s Rise to Power (Verses 50-57)
    <br>
    Impressed by Yusuf’s wisdom, the king appoints him as a high-ranking official, responsible for managing the country’s resources during the coming famine.
    <br><br>
    8. Yusuf’s Brothers Come to Egypt (Verses 58-88)
    <br>
    During the famine, Yusuf’s brothers come to Egypt seeking food, not recognizing Yusuf. He tests their character and eventually reveals his identity, forgiving them for their past wrongs. Yusuf’s brothers are humbled and repentant.
    <br><br>
    9. The Reunion with His Family (Verses 89-100)
    <br>
    Yusuf invites his entire family, including his father Yaqub, to come and live with him in Egypt. His dream from childhood is fulfilled as his family bows down to him in respect, just as the stars, sun, and moon bowed in his dream.
    <br><br>
    10. The Moral Lessons (Verses 101-111)
    <br>
    The story of Yusuf concludes with him praying for righteousness and submission to Allah. The chapter emphasizes the importance of patience, trust in Allah, and the ultimate triumph of good over evil.
    <br><br>
    Key Themes and Lessons:
    <br><br>
        •	Patience and Trust in Allah: Despite facing numerous trials, Yusuf remains patient and trusts in Allah’s plan.<br>
        •	Forgiveness: Yusuf forgives his brothers despite their mistreatment, teaching the power of forgiveness.<br>
        •	Divine Wisdom: The story highlights how Allah’s plans unfold in ways we may not understand, but they ultimately lead to good.<br>
        •	Chastity and Integrity: Yusuf’s resistance to temptation shows his strong moral character.<br>
        •	The Power of Repentance: Yusuf’s brothers’ repentance is accepted, showing that sincere repentance can lead to forgiveness.
    <br><br>
    Surah Yusuf is considered a profound chapter that not only tells a story but also offers guidance on how to face challenges in life with faith, integrity, and wisdom.
</p><br>
  </div>
  </body>