<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">The Art of Hobbies</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">An Islamic Perspective</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Nuraz</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
    Salaam (WRWB), You ever in school feel like you suck at everything and then you anticipate a period in which you're good at. If you didnt understand me, I'll clarify further. Allah’s creations are built within a purpose and that system is built so perfectly, with a given task to do to serve this world. And for that Alhamdulillah. Why do you think that is? 
<br><br>
    Each person, you and me both have things that we are good at and also bad at. But the point is we should also try out other things. 
    <br><br>
    
    Hobbies are a force nor should they be a complete lifestyle.  A hobby in definition is an “activity done regularly in one's leisure time for pleasure.” (Google Search). To expand more, these hobbies aren't meant to be a job. A job or profession is something completely different and it's also what people misunderstand. A job is done regularly as its mandatory with more hours while a hobby is completely optional and isn't always done regularly and should take no longer than one hour a day.
    <br><br>
    An example of a proper hobby is going swimming or fishing. A hobby doesn't mean doing it every day, but it's also something that you can do once a month or weekly. While a job is to work more like a shift in the morning for a couple of hours. Doing hobbies are not a bad thing, but stick to hobbies that actually benefit you instead of just being straight up useless. Some hobbies that I like doing for example is fishing or writing Fityah Articles like this one.
    <br><br>
    
    Hobbies by name aren't mentioned but the concept is mentioned. The use of time is very crucial when considering going for a hobby. Before going to the main point I think it's best if we branch off from Ayat. In Surah 103, Allah (SWT) says, 
    <br><br>
    وَٱلۡعَصۡرِ
    <br>
    "By the time” (103:1) 
    <br><br>
    إِنَّ ٱلۡإِنسَٰنَ لَفِي خُسۡرٍ
    <br>
    "Verily, mankind is in loss” (103:2)
    <br><br>
    You might be saying, Nuraz, these are just 3 words, the next ayat having a short ayat. Well some person wrote 10 volumes (50-100 page), books that just goes over Surah Asr. 
    <br><br>
    To briefly go over the meaning, this is talking about how time is being lost and how mankind is at a loss because of it. 
    <br><br>
    This connects to Hobbies as if there's something that doesn't benefit you in either worlds and is also not Islamically appropriate shouldn't be at all done. And think about what's the point of doing a Hobby that isn't any useful to you. 
    <br><br>
    For instance, I remember doing a Duolingo Dutch course and to be honest it didn't help whatsoever, and I wasted a bunch of time in the process. And yes, I'm not moving to like the Netherlands or something, so this just makes this language completely useless to me. If I had spent some time in Spanish, yes it would help me. Since in America loads of Hispanics live around and it's useful in some situations. 
    <br><br>
    Also don't learn hobbies to show off. If your goal is to show off and be prideful boasting about the skills grown to people then there isn't really a point cause lets be honest it's not benefiting you in any way. Allah (SWT) in the Quran, mentions, 
    <br><br>
    وَٱقۡصِدۡ فِي مَشۡيِكَ وَٱغۡضُضۡ مِن صَوۡتِكَۚ إِنَّ أَنكَرَ ٱلۡأَصۡوَٰتِ لَصَوۡتُ ٱلۡحَمِيرِ
    <br>
    "Do not turn your cheek (pridefully) towards people and do not walk pridefully in the Earth with that extravagance. Indeed Allah (SWT) doesn't like boastful people full of pride.” (31:18)
    <br><br>
    To sum the Ayat up, do not be prideful or walk pridefully towards others.
    
    <br><br>
    
    In conclusion, hobbies are something that's really optional, but I’d say it does more benefit than harm. As long as hobbies are kept within an hour or so and you can do it consistently. The lesson being told here is to yes learn hobbies, but a hobby should be criticized and analyzed under these guidelines. 
    <br><br>
    - Is this Islamically appropriate?<br>
    - Does it benefit me in both worlds?<br>
    - Does this hobby consume a lot of my time? <br>
    - Can I maintain this skill and become good at it over a period of time?<br>
    - Do I have the right intention?<br>
    - Does this enable me to be more entitled? 
    <br><br>
    Hobbies are a great way to become a skillful, knowledgeable person and as long as these guidelines are fulfilled then these Hobbies you have could bring you a long way. Salaam (WRWB)
    
</p><br>
  </div>
  </body>