<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Grudges</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Learn to Let Go of Them</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Nuraz</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
<b>Introduction</b>
<br>
Salaam (WRWB). Don’t lie, you have had an instance where someone such as a family member or friend or a stranger did something bad to you. Whether it’s minor or major, it stood to our minds for a long time. We’ve always made mistakes ourselves to other people causing a little bit of some vengeful feeling throughout our lives. 
<br><br>
But the common mistake that most people do is hold it accountable for that person for the rest of their lives. That term is called “grudges.” 
<br><br>
So now you may asking then how do I handle a grudge or how do I move on. Lucky for you today’s short article will summarize briefly. 
<br><br>
<b>What is a Grudge?</b>
<br>
We’ve talked all about this “Grudge” in the intro, but what does it mean exactly? 
<br><br>
A grudge is a passionate feeling of negativity or resentment resulting from a past injury or insult. In simpler terms just holding back a past event with feeling.
<br><br>
<b>What do Grudges have to deal with Islam?</b>
<br>
A major aspect in Islam is the ability to forgive and the pledge to forgive each other and even for yourself. Asking Allah (SWT) for forgiveness is one of the most crucial things of our daily lives. As sins wipe away and a new chapter of you begins.
<br><br>
Narrated in a Hadith by Ibn Umar, the Prophet (PBUH) assures, “Forgive each other and drop the grudges between yourselves.” (Musnad Al-Bazzar 5403, Grade) - Hasan (fair) 
<br><br>
This Hadith indicates that we should drop the Grudges. Not only does Grudges worsen the relationship amongst each other, it also creates a space for Shaytaan to misdirect the people involved further going into more sins and hatred which goes against the principles of Islam. As in Islam we are considered to be one body. 
<br><br>
<b>How do I handle grudges and move on?</b>
<br>
As we’ve mentioned in Islam comes the teaching of forgiving each other. It’s also recommended to ask forgiveness to each other after the end of each gathering.
<br><br>
I must also remind you that we cannot abstain from speaking to another brother intentionally for any  more than 3 days. 
<br><br>
Some other ways can be to think and reflect of the situation. Be the better person, maybe even give a gift to ratify the crumbling relationship. 
<br><br>
And if you can’t afford gifts. The best gift that you can give is dua for that person. Make dua for the better of the person. And the best part? Dua is free! 
<br><br>
There are of course other ways to handle a grudge. Maybe talking to someone else and resolving through their decision is another one. But the list can go on. But these are ways that I think handle grudges smoothly.
<br><br>
<b>Conclusion</b>
<br>
To conclude this short topic, Grudges are holding back many relationships. It’s also overlooked upon to the point where it takes more sins than we realise. When we let go of grudges it’s not admitting “defeat” rather it’s a victory for both parties. Because grudges are small that shouldn’t mean we shouldn’t care as small things can always lead to bigger. And grudges are always from the heart. 
<br><br>
In the Quran, Allah (SWT) indicates,
<br><br>
نَّ ٱلَّذِينَ يَرۡمُونَ ٱلۡمُحۡصَنَٰتِ ٱلۡغَٰفِلَٰتِ ٱلۡمُؤۡمِنت لعنُواْ فِي ٱلدُّنۡيَا وَٱلۡأٓخِرَةِ وَلَهُمۡ عَذَابٌ عَظِيمٞ
<br>
Meaning -> “And let not those of virtue among you and wealth swear not to give [aid] to their relatives and the needy and the emigrants for the cause of Allah, and let them pardon and overlook. Would you not like that Allah should forgive you? And Allah is Forgiving and Merciful.”
(24:22) 
<br><br>
So my brothers and sisters from now on I hope we take action for the better of our relationships within each other. Always remember that forgiving them is like forgiving you. And if they tend to be harder to get along with surrender within and be the better person as indeed you will be rewarded. And of course thank you for taking the time to read this article. Salaam (WRWB)
</p><br>
  </div>
  </body>