<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Loving the Youth</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Characteristics of the Prophet</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Nuraz</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
    Salaam (WRWB). One of the things in the Prophet’s (PBUH) that he would do in his community is to care and show love for the younger ones. Whether it came to his grandsons or his children. Or any young member in the community, he would treat all of them with a special love and type of care. 
    <br><br>
    It can’t go without mention, as the Prophet (PBUH) dearly loved the youth. So in this brief article we will discuss some of the interactions between the Prophet (PBUH) and the youth. 
    <br><br>
    Zayd ibn Harith is one of the youngest companions of the Prophet (PBUH) as this took place in Mecca. He had lived with the Prophet (PBUH) for quite a while and at one point he would be requested to leave the Prophet (PBUH) by his uncle. The Prophet (PBUH) would then let Zayd ibn Harith choose whether he wanted to stay with him or go back to his family.
    <br><br>
    And Zayd mentioned, “I have seen certain things with this man and I will never leave him to go anywhere.”
    <br><br>
    Only proving the Prophet (PBUH)’s treatment to the youth. And to complete the dynamic he would further give Zayd opportunities such making him a commander, and even would have been given a Caliph title hadn’t he had such an early passing. As in a hadith reports, 
    <br><br>
    Aisha reported: The Messenger of Allah, peace and blessings be upon him, never dispatched Zayd ibn Harithah with an army but that he appointed him commander over them. If he had lived after the Prophet, he would have appointed him as the Caliph.
    <br>(Musnad Aḥmad 25898)
    
    <br><br>
    This relationship with Zayd ibn Harith is one of many situations in which the Prophet (PBUH) dearly cared for the youth. 
    <br><br>
    In another situation the Prophet (PBUH) was leading prayer and was heading to sujood (prostration). His grandson, Hassan was young at the time and went over the Prophet (PBUH)’s back. So the Prophet (PBUH) would lengthen his sujood, letting Hassan play on top of his back until he would leave his back himself.
    <br><br>
    The companions after the Salaah would then ask the Prophet (PBUH) questioning him. Taking a part of the hadith, 
    <br><br>
    Al-Nasaa’i (1141) narrated from ‘Abd-Allah ibn Shaddaad that his father said: “When the Messenger of Allah (peace and blessings of Allah be upon him) finished praying, the people said to him: ‘O Messenger of Allah, during your prayer you prostrated and it took a long time, until we thought that something had happened, or that you were receiving Revelation.’ He said, ‘Nothing happened, but my son was riding on my back and I did not want to hurry him up until he had had enough.’” (Sahih al-Nasa'i, 1093).
    <br><br>
    This only goes to show how the Prophet (PBUH) would deeply care and love the youth, whether they were his grandchildren or not. 
    <br><br>
    In conclusion, youth is the future of our time. After our time served is finished, the youth will be next in line and take over our positions. The significance of the treatment of youth is incredibly high because in a hadith Ibn Abbas narrates,
    <br><br>
    Ibn Abbas narrated that the Messenger of Allah said: " He is not one of us who does not have mercy upon our young, respect our elders, and command good and forbid evil."
    <br>(Jami` at-Tirmidhi 1921)
    <br><br>    
    So Inshallah may Allah (SWT) forgive all of us and make us have a healthy connection with all youths as well as our brothers and sisters. Salaam (WRWB)
    
</p><br>
  </div>
  </body>