<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Forbearance</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Characteristics of the Prophet</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Zeeshan</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
    Allah tells us in ayah 61 of Surah Nahl:
    <br><br>
    وَلَوْ يُؤَاخِذُ ٱللَّهُ ٱلنَّاسَ بِظُلْمِهِم مَّا تَرَكَ عَلَيْهَا مِن دَآبَّةٍ وَلَـٰكِن يُؤَخِّرُهُمْ إِلَىٰٓ أَجَلٍ مُّسَمًّى
    <br>
    And if Allah were to impose blame on the people for their wrongdoing, He would not have left upon the earth any creature, but He defers them for a specified term.
    
    <br><br>
    
    Despite all the wrongdoings that we commit, Allah gives us time and allows us to repent before he takes us into account on the day of judgment. Allah says in Surah Maryam that the heavens, the earth, and the mountains almost collapse because the people attribute a son to Allah. It is only from the mercy of Allah that any of us will enter Jannah, not even our actions (Bukhari 6464). This is because Allah is Al-Haleem, the most forbearing. He doesn't immediately take us into account after a bad deed.
    
    <br><br>
    
    However, we tend to have a lack of forbearance when it comes to dealing with others. Allah says in Surah Anbiya that he created us from haste. It is in our nature to be hasty and jump to a decision when someone wrongs us. This is why after Allah commands us in Surah Fussilat to repel evil with good, he says in the next ayah that this ability is not granted to anyone except those that are patient and have a lot of good. Prophet Ibrahim (AS) was greatly tested by Allah, and he was patient throughout all his tests. This is why Allah describes Prophet Ibrahim (AS) as certainly forbearing in Surah Hud.
    
    <br><br>
    
    What comes out of having forbearance? Allah says in Surah Fussilat that when you repel evil with good, then an enemy will become a close friend. We see this in many instances of the life of the Prophet ﷺ, as he was the most forbearing person ever. It was narrated that there was a Jewish scholar named Zayd Ibn Su'nah. He wanted to test the characteristic of the prophet being forbearing, as mentioned in the Tawrah. So, he gave him a loan and before it was due, he angrily grabbed him and asked to be payed back. Umar (RA) was ready to strike him with his sword. However, the Prophet ﷺ was calm and repayed the man with extra. Because of this, he confirmed that he had the characteristics of a prophet and accepted Islam and became a Sahabi.
    
    <br><br>
    
    Therefore, by being forbearing in how we deal with others, we will be rewarded by Allah and improve our relations with others. May Allah allow us to become forbearing. Also, remember Allah's forbearance with you and seek forgiveness before it is too late.
</p><br>
  </div>
  </body>