<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">The 4 Rivers of Jannah</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Anhar Al Jannah</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Nuraz</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
    Salaam (WRWB). Think of some rivers you know that are valuable. You might say the tropical Amazon river. Or the lengthy and crucial Nile River. Or even the Euphrates or Tigris up in the Middle East. Or even the Yellow or Indus River east of Asia. As these rivers may be prestigious to us, the value of these rivers are significantly lower than the 4 rivers in Jannah.
<br><br>
    In Jannah there will be 4 types of rivers. The most infamous of which is the river of Kawthar even having a Surah dedicated to it, Surah Kawthar. Which you might know just because you always recite in your prayers. And this concept is even practiced by other faiths such as Judaism and Christianity having the same rivers.
    <br><br>
    These 4 rivers of Jannah (Paradise) are the Rivers of Wine, Honey, Milk, and Water that all fall and arise kind of like a waterfall from Sidratul Muntaha, the highest point of Jannah. Picture a beautiful tree with roots and flowing rivers on its sides. As these rivers plus the mystical tree are only available to the best of the best of believers. (The righteous and most pious practicing believers of Islam). 
    <br><br>
    Of course there is a reason why these 4 beverages are on rivers. Each river represents a blessing. Water to represent purity, Honey to indicate sweetness, Wine to express joy, and Milk to symbolize nourishment. While the river pictures a perfect abundance, constantly flowing at an endless loop just like the flowing rivers we may see. But these eternal rivers aren’t salty like the Nile, they are rich in taste with no negatives behind it.
    <br><br>
    Not only do we get these beverages that are full of flavor, but we are also served in company the fruits of Jannah, which is something completely different for a different article at a different time. Which if you're interested you may check out our other articles. 
    <br><br>
    Allah (SWT) mentions in the Quran, 
    <br>
    
    مَثَلُ الْجَنَّةِ الَّتِي وُعِدَ الْمُتَّقُونَ ۖ فِيهَا أَنْهَارٌ مِنْ مَاءٍ غَيْرِ آسِن وَأَنْهَارٌ مِنْ” لَبَنٍ لَمْ يَتَغَيَّرْ طَعْمُهُ وَأَنْهَارٌ مِنْ خَمْرٍ لَذَّةٍ لِلشَّارِبِينَ وَأَنْهَارٌ مِنْ عَسَلٍ مُصَفًّى ۖ وَلَهُمْ فِيهَا مِنْ كُلِّ الثَّمَرَاتِ وَمَغْفِرَةٌ مِنْ رَبِّهِمْ ۖ كَمَنْ هُوَ خَالِدٌ فِي النَّارِ وَسُقُوا مَاءً حَمِيمًا فَقَطَّعَ أَمْعَاءَهُمْ
    <br>
    Meaning → “Is the description of Paradise, which the righteous are promised, wherein are rivers of water unaltered, rivers of milk the taste of which never changes, rivers of wine delicious to those who drink, and rivers of purified honey, in which they will have from all [kinds of] fruits and forgiveness from their Lord, like [that of] those who abide eternally in the Fire and are given to drink scalding water that will sever their intestines?”
    <br>(47:15)<br><br>
    As bountiful as the rivers of Jannah may sound it should also serve as a reminder of not only the rewards within Jannah, but also the punishments within Jahannam. As towards the end of the ayat mentions these waters that will practically burn you alive, all your organs broken piece by piece and super dehydrated with an uneasy process.
    <br><br>
    Imagine you put your hand on the hottest version of water in your sink for a good 5 seconds. It burns for quite some time, and when we accidentally have a slight contact with the water, we quickly move it away as our nervous system orders us to do so. Just imagine that feeling for an endless amount of years, no breaks in between. It would certainly be as painful as it is rewarding in Jannah. May Allah (SWT) make us avoid the dangers and punishments of the Hellfire and make us enjoy the rewards of Paradise. 
    <br><br>
    At the end of the day there will be a point in which we will all return to Allah (SWT), and what comes next is our fate. Jannah or Jannaham. Burning fires versus the heavenly waters of Jannah. So when you feel like you're stuck and you ever ponder the image of Jannah. Always keep the 4 eternal rivers of Jannah in your mind. Salaam (WRWB)
    
</p><br>
  </div>
  </body>