<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Tawhid</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">And its Types</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Nuraz</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
    Salaam (WRWB). Shirk is one of the things that is so sinful just as how a Shahadah is the biggest of blessings. If one commits shirk (the association of other partners with Allah (SWT) they will no longer be a practicing Muslim. But this article isn’t about Shirk and as it’s a huge piece of content lowered within layers, that piece of content deserves more than one article. 
<br><br>
    But to cap of the bottle, Allah (SWT) elaborates, 
    <br>
    إِنَّ ٱللَّهَ لَا يَغۡفِرُ أَن يُشۡرَكَ بِهِۦ وَيَغۡفِرُ مَا دُونَ ذَٰلِكَ لِمَن يَشَآءُۚ 
    <br>
    وَمَن يُشۡرِكۡ بِٱللَّهِ فَقَدِ ٱفۡتَرَىٰٓ إِثۡمًا عَظِيمًا
    <br>
 
    
    Meaning → “Indeed, Allah does not forgive association with Him, but He forgives what is less than that for whom He wills. And he who associates others with Allah has certainly fabricated a tremendous sin.”
    <br>(4:48)<br><br>
    And even in the same surah, Allah (SWT) states yet again, 
    <br>
    إِنَّ ٱللَّهَ لَا يَغۡفِرُ أَن يُشۡرَكَ بِهِۦ وَيَغۡفِرُ مَا دُونَ ذَٰلِكَ لِمَن يَشَآءُۚ وَمَن يُشۡرِكۡ بِٱللَّهِ فَقَدۡ ضَلَّ ضَلَٰلَۢا بَعِيدًا
    <br>
    
    Meaning → Indeed, Allah does not forgive association with Him, but He forgives what is less than that for whom He wills. And he who associates others with Allah has certainly gone far astray.
    <br>(4:116)<br><br>
    The Forgiveness of Allah (SWT) is an attribute we mustn't forget, but this ayat reflects on the significance of committing shirk. As all sins are forgiven by the will of Allah (SWT). As shirk has its own type of repentance. 
    <br><br>
    It’s like you say you love someone with everything, but in reality you love somebody else, completely ditching the other as if you don’t need it. In this case we don’t need anything or anyone other than Allah (SWT). May Allah (SWT) forgive all of our sins. 
    <br><br>
    While Shirk is on one side of the balance, the otherside comes our main topic Tawhid.
    <br><br>
    <b>What is Tawhid?</b>
    <br>
    Tawhid is the oneness of Allah (SWT) and consists of 3 types. Tawhid Ar-Rububiyyah (Lordship), Tawhid Al-Ooluhiyah (Worship), and lastly Tawhid Asma’ Wa-Sifaat (Attributes). One must possess all of these as a basic worship of Allah (SWT). Without it we aren’t Muslim. 
    <br><br>
    Now that we have gone over the basics, let’s touch a little light on each of them. 
    <br><br>
    <b>Tawhid Type #1 - Tawhid Ar-Rububiyyah (Lordship)</b>
    <br>
    Tawhid Ar-Rububiyyah means to worship the oneness of Lordship. To testify this aspect of Tawhid the main components are to acknowledge that Allah (SWT) exists and he is the sustainer of this world and the next. Without Allah (SWT) nothing shall exist. As each piece of creation is handled with care, also given at its best state which includes us. 
    <br><br>
    For example our day and night cycle has been crucial to our humanitarian lifestyle. Without it, people would be in utter chaos. Or the oxygen we are breathing is fresh and suitable to breathe. Without it we would be fatal. So the first type of Tawhid is to believe in his existence and the sheer power behind it. 
    <br><br>
    <b>Tawhid Type #2 - Tawhid Al-Ooluhiyah</b>
    <br>
    Tawhid Al-Ooluhiyah means to believe in the oneness of Allah (SWT)’s Worship, associating no partners. We can further connect this with the talking of Shirk at the beginning of the article. If we commit Shirk we must repent heavily with sincerity and turn back to Allah (SWT). 
    <br><br>
    When you turn to Allah (SWT) and worship him with full sincerity then the belief of this Tawhid is fulfilled. Nothing much more complicated than that. As the ayats that were mentioned in the beginning can show the significance of this sin. It is labeled as the greatest of sins, requiring a major repentance. 
    <br><br>
    
    <b>Tawhid Type #3 - Tawhid Al-Asmaa Was-Sifaat</b>
    <br>
    Tawhid Al-Asmaa Was-Sifaat is the means to believe in the Attributes (names) of Allah (SWT) 
    <br><br>
    For example the 99 names, more specifically in Surah Hashr the names are beautifully mentioned at the last ayat, 
    <br><br>
    هُوَ ٱللَّهُ ٱلَّذِي لَآ إِلَٰهَ إِلَّا هُوَ ٱلۡمَلِكُ ٱلۡقُدُّوسُ ٱلسَّلَٰمُ ٱلۡمُؤۡمِنُ ٱلۡمُهَيۡمِنُ ٱلۡعَزِيزُ ٱلۡجَبَّارُ ٱلۡمُتَكَبِّرُۚ سُبۡحَٰنَ ٱللَّهِ عَمَّا يُشۡرِكُونَ
    <br>(59:22)<br><br>
    
    هُوَ ٱللَّهُ ٱلَّذِي لَآ إِلَٰهَ إِلَّا هُوَ ٱلۡمَلِكُ ٱلۡقُدُّوسُ ٱلسَّلَٰمُ ٱلۡمُؤۡمِنُ ٱلۡمُهَيۡمِنُ ٱلۡعَزِيزُ ٱلۡجَبَّارُ ٱلۡمُتَكَبِّرُۚ سُبۡحَٰنَ ٱللَّهِ عَمَّا يُشۡرِكُونَ
    <br>
    (59:23) 
    <br><br>
    هُوَ ٱللَّهُ ٱلۡخَٰلِقُ ٱلۡبَارِئُ ٱلۡمُصَوِّرُۖ لَهُ ٱلۡأَسۡمَآءُ ٱلۡحُسۡنَىٰۚ يُسَبِّحُ لَهُۥ مَا فِي ٱلسَّمَٰوَٰتِ وَٱلۡأَرۡضِۖ وَهُوَ ٱلۡعَزِيزُ ٱلۡحَكِيمُ
    <br>(59:24)
    <br><br>
    
    Meaning: → “He is Allah, other than whom there is no deity, Knower of the unseen and the witnessed. He is the Entirely Merciful, the Especially Merciful. (22) He is Allah, other than whom there is no deity, the Sovereign, the Pure, the Perfection, the Bestower of Faith, the Overseer, the Exalted in Might, the Compeller, the Superior. Exalted is Allah above whatever they associate with Him. (23) He is Allah, the Creator, the Inventor, the Fashioner; to Him belong the best names. Whatever is in the heavens and earth is exalting Him. And He is the Exalted in Might, the Wise.” (24)
    <br><br>
    
    This ayat summarizes this aspect of Tawhid. Also believing and memorizing the 99 names is another way we can testify this. Each name signifying as such like Al-Ghaffar - The Most Forgiving or As-Salaam - The Peacemaker 
    
    <br><br>
    And again believing and worshiping these in full sincerity that Allah (SWT) is best in all these attributes. 
    
    <br><br>
    <b>Conclusion</b> <br>
    In conclusion these beliefs all signify the worship and oneness of Allah (SWT). These are basic elements of worship to Allah (SWT), and we should always break down our connection and belief with Allah (SWT) these main components. As associating partners with Allah (SWT) requires reciting the Shahada once more as if you are reverting once again. 
    <br><br>
    
    And Allah (SWT) says, 
    
    <br>
    وَقَالَ ٱللَّهُ لَا تَتَّخِذُوٓاْ إِلَٰهَيۡنِ ٱثۡنَيۡنِۖ إِنَّمَا هُوَ إِلَٰهٞ وَٰحِدٞ فَإِيَّـٰيَ فَٱرۡهَبُونِ
    
    <br>
    Meaning → And Allah has said, "Do not take for yourselves two deities. He is but one God, so fear only Me." 
    <br>(16:51)<br><br>
    
    Worshiping Allah (SWT) by itself isn’t enough so Inshallah I hope we can all worship sufficiently under these conditions and may Allah (SWT) guide us to do so. Salaam (WRWB). 
    
</p><br>
  </div>
  </body>