<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Treatment of Orphans</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Joying a Yateem</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Nuraz</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
    Salaam (WRWB). The Prophet (PBUH) had a very unfortunate childhood. First losing his father before birth. And then losing his mother at the early age of 6. Now before going on, you imagine how you would’ve felt if both your mother and father had passed right when you became the age of 6. You can barely even put out the emotions let alone picture a scenario without any of your parents. 
    <br><br>
    So this had been the Prophet (PBUH) even more dear to his grandfather which eventually he’d even pass. Which regarding these events brings me to this topic of the article. Millions of children around the world had lost either their mother or father. Even more unfortunate ones end up losing both. And if something is so dear to you such as the ranks of a mother or father it will be very difficult to accept and continue from the loss, which is where we all come in. In this world, Islam provides the characteristics of having a good Akhlaaq. 
    <br><br>
    A hadith reports, "Those of you who will be closest to me on the Day of Judgment will be those who have the best Akhlaq." (Sahih Bukhari 272)
    <br><br>
    So imagine the bounties and pleasures in the afterlife just for having a good character. The treatment of an orphan is something that is a part of it. Imagine the reward and blessings we get as non-orphans if we treat those who are orphans. 
    <br><br>
    Now that we have gone over what an orphan is and also in what situation they are put in, now we will understand how we should treat an orphan. 
    <br><br>
    No matter what, niyyah always plays a role. Believe it or not there are people who take an orphan willingly and then lock them up, completely dislocated and isolated from the world from that day on. Being served literally nothing. Now you imagine that if you were to that would be rewarded by Allah (SWT). 
    <br><br>
    Of course you wouldn’t because you aren’t treating the orphan the treatment it deserves. To even understand how you treat an orphan. First let us go over the significance behind treating an orphan. A hadith reports, 
    <br><br>
    “I and the one who looks after an orphan shall be in Paradise like these two’ — and he raised his index finger and the one next to it, holding them together, barely separate” (Bukhari, No. 5304).
    <br><br>
    And Allah (SWT) even puts ease onto their plates. Another hadith reports, 
    <br><br>
    “By He in whose hand is my soul, Allah will not punish the one who shows compassion to orphans, speaks gently to them, and feels mercy for them, whether they are orphans or poor.” (Abu Hurairah)
    <br><br>
    This goes to show the benefits and also the significance of the treatment of an orphan. And like I said just because these rewards are at stake, doesn’t mean they give the orphan the bare minimum. So how do you treat an orphan? There are several hadiths regarding this process of treatment. So let us go over that. 
    <br><br>
    Call the orphan to you. Pat him tenderly on the head. Then feed him from your food. This will soften your heart and bestow upon you [the blessing] of gaining what you need” (Kharanti, The Noblest Virtues, p. 661).
    <br><br>
    
    If you want to soften your heart, feed the poor and pat the head of the orphan in tenderness” (Musnad Ahmad, No. 7576).
    
    <br><br>
    Also feed it just as you would feed yourself. Give it the proper care it needs. And we also must consider to ourselves whether we can afford both our time and wealth if we can foster the orphan. Because what is the point of taking care of an orphan without being committed to his or her care? At that point if we care for an orphan with no sincerity, we don’t intake those rewards. 
    <br><br>
    In conclusion to this brief article about orphans, the treating of them is a duty given to us as Muslims. We should step in as people who give orphans that very chance to put them on a level where they get to live for days to come. That chance in which they don’t have to scramble about what they would become in the future. And to be that person who offers that chance to that orphan in need.
    <br><br>
    To remind yourselves about neglecting an orphan, think of this ayat in the Quran. As Allah (SWT) mentions,
    <br><br>
                                              “أَرَءَيۡتَ ٱلَّذِي يُكَذِّبُ بِٱلدِّينِ”  
                                              <br>(107:1) 
    <br><br>
    فَذَٰلِكَ ٱلَّذِي يَدُعُّ ٱلۡيَتِيمَ
    <br>(107:2) 
    <br><br>
    Meaning:  Have you seen the one who denies the Recompense? For that is the one who drives away from the orphans. 
    <br><br>
    May Allah (SWT) give us the ability to treat an orphan, to pleasure an orphan. And forgive any neglectful woes in regards to them. And Inshallah we all can serve to at least one orphan during our lifetimes Salaam (WRWB)
    
</p><br>
  </div>
  </body>