<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Seeking Knowledge</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Its Importance</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Rizwan</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
    Salaam (WRWB) Within our deen among the most important acts is the search for knowledge. The Prophet (PBUH) is often noted as someone who often hoped to further his knowledge. Knowledge is important in every aspect of life, Islamically and during day to day life. And the companions used their interest for knowledge to compile various books of  knowledge such as the Quran and Hadith we know today.
    <br><br>
    Within the Quran there are many Ayat pertaining to furthering one’s knowledge. 
    <br><br>Allah (SWT) mentions within Surah Al-Mujadila (58:11),<br>
    "يٰۤاَيُّهَا الَّذِيۡنَ اٰمَنُوۡۤا اِذَا قِيۡلَ لَـكُمۡ تَفَسَّحُوۡا فِى الۡمَجٰلِسِ فَافۡسَحُوۡا يَفۡسَحِ اللّٰهُ لَـكُمۡ​ ۚ وَاِذَا قِيۡلَ انْشُزُوۡا 
    فَانْشُزُوۡا يَرۡفَعِ اللّٰهُ الَّذِيۡنَ اٰمَنُوۡا مِنۡكُمۡ ۙ وَالَّذِيۡنَ اُوۡتُوا الۡعِلۡمَ دَرَجٰتٍ ​ؕ وَاللّٰهُ بِمَا تَعۡمَلُوۡنَ خَبِيۡرٌ"‏ 
    <br>
    Or in English; “O believers! When you are told to make room in gatherings, then do so. Allah will make room for you ˹in His grace˺. And if you are told to rise, then do so. Allah will elevate those of you who are faithful, and ˹raise˺ those gifted with knowledge in rank. And Allah is All-Aware of what you do”.
    
    <br><br>Breaking it down further, we see Allah (SWT) telling the believers the importance of seeking knowledge, those who do so are elevated in rank. We are all ranked based on knowledge, not wealth nor status. It’s the knowledge that creates the division amongst the believers. These rankings dictate our fate within the Akhirah. Some believers chase wealth and status but ignore Ilm, one of the most significant factors dictating how we spend their eternity. 
    <br><br>Ignoring Ilm may lead to ignorance and other major sins. Refusing to further one’s knowledge can lead you astray from the right path and leave you in a cycle of continuous sin. 
    <br><br>
    Another Ayah within the Quran teaching us the importance of seeking knowledge is,
    <br>
    " وَمَا كَانَ الۡمُؤۡمِنُوۡنَ لِيَنۡفِرُوۡا كَآفَّةً​ ؕ فَلَوۡلَا نَفَرَ مِنۡ كُلِّ فِرۡقَةٍ مِّنۡهُمۡ طَآٮِٕفَةٌ لِّيَـتَفَقَّهُوۡا فِى الدِّيۡنِ وَ 
    لِيُنۡذِرُوۡا قَوۡمَهُمۡ اِذَا رَجَعُوۡۤا اِلَيۡهِمۡ لَعَلَّهُمۡ يَحۡذَرُوۡنَ‏ "
    (9:122)
    <br>
    Meaning → “˹However,˺ it is not necessary for the believers to march forth all at once. Only a party from each group should march forth, leaving the rest to gain religious knowledge then enlighten their people when they return to them, so that they ˹too˺ may beware ˹of evil˺”.
    <br><br>
    Earlier I spoke upon the importance of Ilm determining oneself’s rank within the Akhirah. Chasing knowledge can also significantly aid one’s peers and family as well. When learning and spreading knowledge we set the people around us on a straight path, informing or reminding them of things they may not know of, aiding them in the ultimate goal of Jannah, and in turn also easing your path to Jannah. 
    <br><br>
    While seeking knowledge aids in the Akhirah, knowledge also helps one navigate the challenges of the Dunya. Educating ourselves on the Qur’an and the Hadith teaches us how to live our lives correctly. Islamic knowledge helps us persevere despite the challenges that may be posed against us. Within life Allah tests us, the knowledge which we have sought becomes crucial in such moments. Whether it is financial troubles, divorce, or the loss of a loved one, the knowledge obtained throughout one’s lifetime aids in getting through.
    <br><br>
    Outside of the Qur’an, our role models such as the Sahaba and Prophets (PBUH) sought knowledge. The Sahaba in particular used their knowledge of the Qur’an to compile it into a complete scripture, even after Prophet Muhammad (PBUH)’s death. Prophet Muhammad put an emphasis on Ilm stating
    <br>“The world, with all that it contains, is accursed except for the remembrance of Allah that which pleases Allah; and the religious schools and seekers of knowledge”(At-Tirmidhi, Riyad As-Salihin Book 13, Hadith 9).
    <br><br>
    The Prophet is narrated as having said the world is cursed and of the few virtues that reside include those who seek knowledge. Within Islam, the search for knowledge is among the most important duties believers possess within the Akhirah; Failing to fulfill this duty will only increase the burden upon you within the Dunya, making the journey to Jannah a difficult one. When seeking knowledge and teaching it to those around us we are showered with blessings. This is why, brothers and sisters, we must fulfill our duty of seeking knowledge and look to expand our Islamic knowledge as the days pass. We are unknowing of what the future holds, the knowledge which we have sought may just be crucial for getting through tough times. Salaam (WRWB)
    
</p><br>
  </div>
  </body>