<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
</style>

<body>
<div class="container">
  <p><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">The Sacred Month of Rajab</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Planting Seeds for Ramadan</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Nuraz</p></td></tr>
  </table></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
    Salaam (WRWB). Now that the new year has come. More significant events are approaching. Of course as we are passing the new year, comes Rajab, one of the sacred months. And as I’m writing this, Ramadan is coming in 55 days. What most people fail to understand during Ramadan is that, you will not have a successful Ramadan if you start being the most pious person when the month starts. And also with a strong Ramadan comes a strong pillar. In the Quran, Allah (SWT) proclaims, 
    <br><br>
    <strong>إِنَّمَا ٱلنَّسِيٓءُ زِيَادَةٞ فِي ٱلۡكُفۡرِۖ يُضَلُّ بِهِ ٱلَّذِينَ كَفَرُواْ يُحِلُّونَهُۥ عَامٗا وَيُحَرِّمُونَهُۥ عَامٗا لِّيُوَاطِـُٔواْ عِدَّةَ مَا حَرَّمَ ٱللَّهُ فَيُحِلُّواْ مَا حَرَّمَ ٱللَّهُۚ زُيِّنَ لَهُمۡ سُوٓءُ أَعۡمَٰلِهِمۡۗ وَٱللَّهُ لَا يَهۡدِي ٱلۡقَوۡمَ ٱلۡكَٰفِرِينَ</strong>
    <br>Meaning - Indeed, the number of months with Allah is twelve [lunar] months in the register of Allah [from] the day He created the heavens and the earth; of these, four are sacred. That is the correct religion, so do not wrong yourselves during them. And fight against the disbelievers collectively as they fight against you collectively. And know that Allah is with the righteous [who fear Him]. (9:36)
    <br><br>
    Think this. When you speed up a car, you don’t go instantly to 60 mph when you start driving. You have to carefully, slowly speed up the car past 10,20,30,40, and 50, all the way until you pass 60 mph. And in this case comes preparing for Ramadan. We don’t just start becoming the best Muslim right when Ramadhan hits. Rather we take it step by step. Eliminating sin by sin. In a hadith Usamah bin Zaid narrates, 
    <br><br>
    “O Messenger of Allah, I do not see you fasting any month as much as Sha’ban.” He said: “That is a month to which people do not pay much attention, between Rajab and Ramadan. It is a month in which the deeds are taken up to the Lord of the worlds, and I like that my deeds be taken up when I am fasting.” (Sunan Al-Nasai)
    <br><br>
    This hadith gives the stress of how firstly the month Shaban is severely underrated. And secondly how we must plan from Rajab and take advantage of such opportunities. This can be your answer to why your Ramadan is unsuccessful. There was no intentional worship prior, and so then it becomes difficult to adjust after Ramadan. Another hadith reported by the Prophet (PBUH)’s wife, Aisha (RA) provides, 
    <br><br>
    “The month which the Messenger of Allah most liked to fast was Sha’ban; indeed, he used to join it to Ramadan.” (Sunan Al-Nasai, Sahih)
    <br><br>
    This may not come to Rajab, but the point is addressed on the preparation of Ramadan, which he had done before Ramadan, which is why again the vast majority of people fail to have a successful Ramadan. 
    <br><br>
    Going further into the significance of the context, “preparing for Ramadan”, visualize this metaphor to best explain it to yourself. A quote best mentions the “harvesting season.” 
    <br><br>
    "The month of Rajab is the month of planting (your seeds), Sha'ban is the month of irrigating/watering (them), and Ramadan is the month of harvesting the crop." (some Sufi guy)
    <br><br>
    An example of this hadith can be the growth of a seed. In Rajab we plant the seeds. Then in Rajab we water the seeds. Then in Ramadan we harvest them. Think of this metaphorically. We sow, water, then harvest our seeds, spiritually. Showing why Rajab (and Sha’ban) are both so significant in having the best Ramadan possible. 
    <br><br>
    Another significant event that takes place during Rajab is the deafening and silencing of war. Throughout the month of Rajab, the companions of the Prophet (PBUH) would drop their swords and focus on their Ibadah (worship to Allah SWT), as it is a month of seeking forgiveness rather than indulging in war. Another name people often give to Rajab is, "Rajab al-Asamm”, The month of silence or deafening. 
    <br><br>
    And you might think that that’s all for Rajab. And you're completely wrong. Rajab is a sacred month meaning it has a multiplier of both good and bad deeds. Forget thinking about Ramadan’s 70x event, think right now the deed multiplier of Rajab and strengthen your faith during the month of Sha’ban, to then maximize the 70x boost of Ramdan. 
    <br><br>
    Isra’a Wal Miraa’j is another event that happens during Rajab. To briefly summarize Isra’a Wal Miraj is the night journey of the Prophet (PBUH) going from Mecca to Jerusalem in Masjid Al-Aqsa to then ascend to the 7 layers of Jannah. It is also the day where the 5 daily prayers were sent down to us. If you want a more detailed summary you can check out Ilyas’s Fityah's Article on this specific topic. You just gotta scroll a bit.
    <br><br>
    To conclude, Rajab is one of the 4 sacred months that is on the brink of Ramadan (before Sha’ban). Rajab has a multiplier of deeds, its own set of events with the cancelling of any war or the Night Journey. If we want a successful Ramadan that changes us, first we must change ourselves slowly with the months of Rajab and Shaban to then make progress on a good Ramadan. What will happen if we start the day off and treat Ramadan just like a normal month, reverting back to our normal selves. And remember that nothing comes just like that. We have to build our way to a successful path. But in doing so we must have a strong route and have it well thought out. May Allah (SWT) forgive our past sins and give us the best Rajab, Sha’ban and Ramadan for each and one of us. Salaam (WRWB)
  </p><br>
</div>
</body>
