<style>
  body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
  .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
  a { text-decoration: none; }
</style>

<body>
<div class="container">
  <p style="text-align: center;"><table style="width:100%;margin:0px;">
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Get $1,000,000 for $1!!!</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Phrases with Unimaginable Rewards</p></td></tr>
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Zeeshan</p></td></tr>
</table></a></p>
<hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 20px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Introduction</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
Yes the title was clickbait. However, this article will be about how to profit in a more valuable currency: hasanat. The prophet SAW said that the best of deeds are the consistent ones, even if they are small. Although we can't do certain acts, like prayer, at all times, one very simple thing that we can do at most times of the day is remembering Allah. By Allah's mercy, we can gain rewards just by moving our lips and tongues. If we are consistent and remember Allah throughout our days, we can be gaining rewards at almost all times. Therefore, I have compiled a few simple but very rewarding phrases to say to further maximize our rewards.</p>
<br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">#1. Surah Ikhlas</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
The first thing we can do throughout our day is to recite the Quran. For every letter in the Quran, we are rewarded with 10 hasanat (source: tirmidhi 2910). We can silently read anything that we have memorized, even without wudu. One specific portion of the Quran with immense rewards is Surah Ikhlas. The prophet SAW said that reciting Surah Ikhlas is equivalent to reciting one third of the entire Quran (source: bukhari 5015).</p>


<br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">#2. La Ilaha Illa Allah</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
The shahadah is the very first pillar of islam, and declaring that there is no god but Allah is the most basic teaching of Islam, and is therefore very rewarding. There are many ahadith that speak about the reward for saying the shahadah, but there is one particular story that stands out to me. One time, Musa (AS), the prophet that talked to Allah, asked Allah for his own personalized phrase to say so that he could gain a lot of hasanat. Allah replied saying that La Ilaha Illa Allah is greater than all the heavens and the worlds combined. (source: ibn hibban 6218)</p>

<br>

<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">#3. سُبْحانَ اللهِ وَبِحَمْدِهِ عَدَدَ خَلْقِه وَرِضا نَفْسِه وَزِنَـةَ عَرْشِه وَمِدادَ كَلِماتِه</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
The prophet SAW saw his wife remembering Allah all morning, so the prophet SAW taught her this phrase and said that it is more rewarding than her entire morning of remembering Allah (source: riyad as salihin 1433). So just reciting this for a few seconds will give you rewards for hours of remembrance. </p>

<br>

<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">#4. سُبْحَانَ اللَّهِ وَبِحَمْدِهِ one hundred times a day</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
The prophet SAW said that whoever says this phrase 100 times every day, then all his sins will be forgiven (source: bukhari 6405). I'm sure we all have enough time to say 3 words 100 times every day, considering we say more than 10,000 words on average every day. Those few minutes every day will definitely be worth it for having all your sins forgiven.</p>

 <br>

<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">#5. Seeking Forgiveness for all the Muslims</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
The prophet SAW said that for seeking forgiveness for all the muslims, we will be rewarded one good deed for every single muslim (source: shamiyin 2118). Please note that this hadith isn't graded as authentic but really good. However, an authentic hadith says that an angel supplicates the same thing for us each time we supplicate for someone (source: muslim 2732).</p>

<br>

<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Conclusion</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
I hope this article will motivate you to incorporate some of these into your daily life. May Allah allow us to be of those that remember him a lot and accept from us and forgive us. </p>
  </p>
</div>
</body>