<style>
  body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
  .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
  a { text-decoration: none; }
</style>

<body>
<div class="container">
  <p style="text-align: center;"><table style="width:100%;margin:0px;">
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">The 5 Pillars</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Brief Explanation of the 5 Pillars of Islam</p></td></tr>
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Adnan</p></td></tr>
</table></a></p>
<hr>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Introduction</p>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
As we all know, the foundation of Islam are the five pillars of Islam. The first one is shahadah, then salah, then zakat, then fasting, then hajj. I will briefly be explaining each of these five pillars so that we can understand the foundation of Islam.
</p>
<br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Shahadah</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
Shahadah (La illaha illallah muhammadar rassullallah) means “Non has the right to be worshiped except Allah, and Muhammad is his messenger”. Saying shahada is very significant in islam. It is the declaration of faith, which is required for one to become a muslim, and it's the best thing to die saying. One hadith states that if the heavens and the earth were on one side of a scale, and la ilaha illallah was on the other side, la ilaha illallah would outweigh the heavens and the earth.
</p>


<br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Salah</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
Salah is the most important factor of Islam, and will be the first thing we will be asked about on the day of judgment. Not completing the five daily pillars which are obligated in islam can take you out of islam and make you kafr. Salah was prescribed for us during the isra and miraj and it serves to constantly remind us that our relationship with Allah is the most important thing.
</p>

<br>

<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Zakat</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
When Allah commands us to pray in the Quran he also tells us to give zakah. This shows how important Zakat is. Zakat is giving to the needy. It humbles us and reminds us that we should be grateful for what we have. It also saves us from greed. It is mandatory for every able adult with enough money to give at least 2.5% of wealth every year. Not only does it never reduce our wealth, but we will recieve the reward for 700 times what we donate.
</p>

<br>

<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Fasting</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
Fasting is when you don't eat or drink for an entire day. You have to wake up for something known as suhoor, where you eat and drink before sunrise so that you can easily fast the rest of the day without burdening yourself. It's recommended to eat dates, milk, or fruit at suhoor. You break your fast at sunset, and it is also recommended to eat dates and drink milk before you have your delicious meal. But, not only do you stay away from food and drink while you fast, you must also stay away from lousy talk or actions and fulfill your five daily prayers. One hadith tells us that if you fast but you didn't complete your obligatory prayers, you have earned nothing from that fast except starving yourself. That's why when fasting specifically in Ramadan where it is an obligation to fast, we must be careful of the things we do and say, and remember to complete our daily prayers so that inshaallah, Allah will accept our fasts.
</p>

 <br>

<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;" id="learn">Hajj</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
There is one more month until we reach the sacred month of dhul hijjah. Dhul hijjah is a sacred month because in dhul hijjah we go for hajj. Hajj is mandatory for every able adult at least once in their lifetime. It is both a physical and spiritual journey. It consists of many important rituals and is described in surah baqarah and hajj. Some things that we do during hajj are wearing ihram, doing tawaf, going between safa and marwah, shaving, going to mina, the day of arafah, muzdalifah, and stoning shaytan. Performing hajj wipes sins to the point where whoever does it is like a newborn baby in terms of their bad deeds.
</p>
<br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Conclusion</p>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
I hope this article could get you to know more about the 5 pillars of Islam Inshallah</p>
</div>
</body>
