<style>
  body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
  .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
  a { text-decoration: none; }
</style>

<body>
<div class="container">
  <p style="text-align: center;"><table style="width:100%;margin:0px;">
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Salah: The Key To Success</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Article On The Importance Of The 5 Daily Prayers</p></td></tr>
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by our honorable classmate Emam</p></td></tr>
</table></a></p>
<hr>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
Why is it so important to pray our salah? Why is it so difficult for the youth to carry this obligation out? This hadith highlights the importance of prayer. The prophet (saw) said "The difference between a man (Muslim) and an unbeliever is the abandoning of salah." Hadiths are the sayings and actions of the Prophet Muhammad (saw) recorded during his time by his companions. Is important for every Muslim to understand and act upon the Prophet's teachings.
</p>
<br>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
In this article I want to shed light on the hadith mentioning the significance of prayer. Prayer or salah is the second pillar in islam after shahadah. It is a mandatory action and routine that all Muslims have to do on a daily basis. Muslims must pray 5 times a day; zuhr, asr, magrib, isha and fajr. Is important to pray these prayers on time and for men in specific it is important for them to pray these prayers in masjid because there is a hadith stating that the Prophet (saw) said, "The prayer in congregation is twenty seven times superior to the prayer offered by person alone." For women in specific it is important for her to pray on time everyday, preferably in their house and with a male family member if able to.
</p>


<br>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
We may ask, why is salah so important? What is the benefit of it? There are a number of hadiths showing and explaining how and why the salah is so important. Salah is like taking a bath five times a day. At the end of the day there will be no filth or dirt on you if you pray five times a day. Just like how taking a bath makes your body clean, praying your salah will keep your heart clean. Furthermore, the sins you did during the duration between 2 salah is erased if you were to pray them. For example, if someone prayed zuhr and committed sins (minor) afterwards, but later when it was time for asr and he carried his duty out properly, the sins he committed after zuhr and before asr will all be forgiven. Salah is a gift given to us by Allah. Salah is the cornerstone of Islam and is a means of erasing one's sins, while at the same time keeping one spiritually, mentally and physically well. You get the best of this dunya and the next if you obey Allah's command. Furthermore, Salah is a way of talking and connecting to your creator 5 times a day. This is why muslims don't feel depressed and discouraged in life like most other people because they have that spiritual connection with their creator.
</p>

<br>

  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
Is important for everyone to pray on time and properly. Unfortunately, I have seen students in this school not putting much effort recognizing the seriousness of salah. I have seen students move around, look around, whisper around and play around in salah instead focusing while they are performing their salah in the school. There is a hadith reported by Ammar ibn Yasir that the Messenger of Allah (saw) said, "Verily, a man may return from his prayer and nothing good is written for him but a tenth of his prayer, or a ninth, or an eighth, or a seventh, or a sixth, or a fifth, or a fourth, or a third, or a half." This hadith shows that people's salah will only be rewarded for what he or she has concentrated on. I want to emphasize on this hadith because Muslims these days have very little Kushu (concentration) regarding their salah. Their minds aren't fully in the salah, but rather are distracted by worldly matters.
</p>

<br>

  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
There are multiple solutions regarding those people whose minds aren't clear and concentrated in salah. One example that our beloved Prophet (saw) gave us is to pray our salah like it is our last prayer. The remembrance of death and our deeds being presented in front of our creator is a very effective way to achieve better kushu and ihsaan. Ihsaan is praying as if Allah is in front of you or at the very least that Allah is watching you. Ihsaan beautifies our prayers and increases the kushu we have in our salah. It is important for the Islamic teachers in Al-mamoor to discuss with the students the significance of prayer and teach the students how rewarding and beneficial salah is in our lives. Teachers should give reminders and students must try their best to obey, listen and apply the teachings that the teachers instructed them with regarding the salah.
</p>

 <br>

  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
Salah to sum it up is the keystone to success in this world and the next and it is a distinguishing action that separates Muslims and non Muslims. Salah is extremely important in our lives and we must cherish it. If we take salah as a blessing it will become one and if you take it as a burden it will then become that. Salah is literally the first thing we will be asked about on the day of judgment. Salah is a must for every Muslim whether male or female, but at the same time it also carries extreme importance to our lives as well due to all the benefits that it provides. Furthermore, before we make any plans for our day we have to think smart! How will they fit around my five daily prayers? Ask yourself this question and base your schedule around your salah instead of basing your salah around your schedule. If you want to have success in Dunya and the Akhirah PRAY!!</p>
<br>
</div>
</body>
