<style>
  body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
  .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
  a { text-decoration: none; }
</style>

<body>
<div class="container">
  <p style="text-align: center;"><table style="width:100%;margin:0px;">
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Sirat As-Sayf</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">An Interview with the Founders, Uncle Najee and Auntie Rahma</p></td></tr>
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">By Ilyas and Adnan</p></td></tr>
</table></a></p>
<hr>
<br>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
As of course we all know the school's new MMA class has introduced two new teachers- Uncle Najee Hassan and Auntie Rahmah— however, since they're so new there's still a lot of getting-to-know each other we have to do. So today we decided to interview both of them to see if we could get to know just a little bit more about them
<br><br>
As I'm sure our readers all know, along with the recent expansion of the school the school's staff has also had some additions. One thing that stands out in particular however is the school's new Martial Arts subject. The martial arts is hosted by "Uncle Najee" and "Auntie Rahma”. But because of them being new, there are still many things that we don't know about them. In the following interview we hope to answer some questions that kids in the school may have- about their past, experiences, and their motivations.
<br><br><br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">When did you start learning martial arts and why did you start learning it?</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
<br>
Auntie Rahma: “ I started learning martial arts over 30 years ago, I just liked doing it and I would just study different fighting systems, different styles and from the styles I would look and see what actually works”. She added during her era they didn't really encourage girls to do martial arts but she wanted to do so anyways
<br><br>
Uncle Najee: He said “I started my career in martial arts back in 1969” and says he did it initially because he came back home crying to his mom as a young boy because someone had robbed him of $5. The kid was bigger and there was nothing he could do at the time, so his mom sent him with a stick to hit the guy with.. who proceeded to beat uncle Naji with his own weapon....... After that situation, his mom enrolled him into the St. Luis cadets in the southern Bronx, where he started his martial arts journey learning tactics of guerrilla warfare with his veteran instructor, colonel woody.
</p>


<br><br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">What motivates you to teach kids Martial Arts?</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
<br>
Auntie Rahmah responded saying that she believed that although it may not come up in every situation, Martial arts is important for everyone, especially muslim kids such as us to learn to defend themselves "in the middle of a mix".<br><br>
Uncle Najee says that he noticed the modern education system doesn't have a spot for martial arts, which he thinks everyone should learn to defend themselves, to deal with bullies as he had to as a kid, and as a tool to boost self-confidence and self-esteem which is much needed in kids nowadays.
</p>

<br><br>

<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Has there ever been a time where you had to use martial arts in a real life situation? If so, what happened?</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
<br>
Auntie Rahma: “it's been a few times I had to use it and I can only just say that I'm here they're not" (referring to her state not the world to be clear). She added that problems started especially after 9/11 where "everyone was just angry with the world and the world looked like it was muslim”. She said because of stereotypes put on her at the time (for her hijab and for her color) she got into problems with people, who after having all their stereotypes disproved only had violence to resort to, which she stated as being a "big mistake". She added at the end that the only reason she fought the way she did was so that person doesn't make the same mistake a second time.
<br><br>
Uncle Najee: says that someone tried to rob him with a knife around his neck but once the robber reached for uncle Najee's pocket, he managed to break out, knock the guy out and safely go home. Because of his martial arts skills, he started as the victim and ended as the victor.
</p>

<br><br>

<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Why did you decide to teach martial arts in this school?</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;"><br>
When we asked why they started teaching in this school, they both said that they came through recommendation, and here, as mentioned by Auntie Rahmah, they realized that this school is one of the few to truly hold to strong Islamic values. Uncle Naji also added saying that he strongly encourages and tries to push the sunnah of the prophet Muhammad (saw) and one way to do that is by implementing it through kids in schools such as this one. Insha Allah as time goes on, any benefit that comes out of this program will be counted as a Sadaqah Jariyah towards them.
</p>

 <br><br>

  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
Although there were only a few, we hope that these questions help our readers better understand and get to know our new and experienced martial arts teacher. We got to learn how and why they got into martial arts, what made them choose this school, and got them to show an example of how useful martial arts can really be in a real-life situation.</p>

<br>

</div>
</body>
