<style>
body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto; }
    a { text-decoration: none; }
    </style>
    <body>
    <div class="container">
    <p style="text-align: center;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Parts of a Date</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">In the Quran</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Zeeshan</p></td></tr>
    </table></a></p>
    <hr>
    <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 20px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Introduction</p>
    <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
    As we all know, Allah chose the Quran to be in Arabic. And this is partly due to how detailed it is. In many places in the Quran, Allah uses examples to represent small quantities, such as the size of an atom (34:3) or the chance of a camel fitting through the hole of a needle (7:40). But one thing I found interesting is that Allah uses 3 different parts of a date's seed, which each have their own separate word. So in this article I will be showing these.</p>
    <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;"><br>
    قِطْمِيرٍ - Skin
    </p>
     <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
    When you spit out a date seed, you might find a very thin layer of skin around it, or in fancy words it's called the membrane of the seed. In Arabic, the word for this is Qitmeer and Allah uses it in Ayah 13 of Surah Fatir:
    <br><br>
    
    يُولِجُ ٱلَّيْلَ فِى ٱلنَّهَارِ وَيُولِجُ ٱلنَّهَارَ فِى ٱلَّيْلِ وَسَخَّرَ ٱلشَّمْسَ وَٱلْقَمَرَ كُلٌّۭ يَجْرِى لِأَجَلٍۢ مُّسَمًّۭى ۚ ذَٰلِكُمُ ٱللَّهُ رَبُّكُمْ لَهُ ٱلْمُلْكُ ۚ وَٱلَّذِينَ تَدْعُونَ مِن دُونِهِۦ مَا يَمْلِكُونَ مِن قِطْمِيرٍ
    
    <br>
    He causes the night to enter the day, and He causes the day to enter the night and has subjected the sun and the moon - each running [its course] for a specified term. That is Allāh, your Lord; to Him belongs sovereignty. And those whom you invoke other than Him do not possess [as much as] the membrane of a date seed.
    <br>
    <br>
    Here is a picture of what I am referring to:
    <br>
    <img src="/assets/qitmeer.png" style="border-radius:5px;width:25%;">
    </p>
    <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">
    <br>
    فَتِيلًا - Hair
    </p>
    <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
    If you look at the seed, you will find a fiber inside the groove of the seed. And this is called Fateel in Arabic. Allah uses this 3 times in the Quran, (4:49), (4:77), (17:71). One of them is in Ayah 77 of Surah Nisa:
    <br><br>
    قُلْ مَتَـٰعُ ٱلدُّنْيَا قَلِيلٌۭ وَٱلْـَٔاخِرَةُ خَيْرٌۭ لِّمَنِ ٱتَّقَىٰ وَلَا تُظْلَمُونَ فَتِيلًا
    <br>
    Say, "The enjoyment of this world is little, and the Hereafter is better for he who fears Allāh. And injustice will not be done to you, [even] as much as a thread [inside a date seed]."
    <br>
    <br>
    Once again here is a picture:
    <br>
    <img src="/assets/fateel.png" style="border-radius:5px;width:25%;">
    </p>
    <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">
    <br>
    نَقِيرًا - Dot
    </p>
     <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
    When you deeply examine the date seed, you will see a small dot. And even this dot has a word for it in Arabic, which is Naqeer. Allah uses this in (4:53) and (4:124). In Ayah 53 of Surah Nisa, Allah says:
    <br><br>
    أَمْ لَهُمْ نَصِيبٌ مِنَ الْمُلْكِ فَإِذًا لَا يُؤْتُونَ النَّاسَ نَقِيرًا
    <br>
    Or have they a share of dominion? Then [if that were so], they would not give the people [even as much as] the speck on a date seed.
    <br>
    <br>
    Here is a picture of it:
    <br>
    <img src="/assets/naqeer.png" style="border-radius:5px;width:25%;">
    </p>
    <br>
</div>
</body>