<style>
  body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
  .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
  a {color:white;}
</style>

<body>
<div class="container">
  <p style="text-align: center;"><table style="width:100%;margin:0px;">
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Surah Duha</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Shaykh Salah's Reflections</p></td></tr>
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Shaykh Salah</p></td></tr>
</table></a></p>
<hr>
<br>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
The following is a <a href="https://www.facebook.com/Shaykhsalah/videos/1694743460984065">facebook post</a> of my teacher Shaykh Salah on his connection to Surah Duha. I found it very deep so I decided to share it here.<br><br>Also listen to his recitation here<br>
    <audio controls><source src="https://cdn.discordapp.com/attachments/761736282459734048/1116170596129181847/351034657_188791894130056_89137621150146331_n.mp3?ex=65e9125f&is=65d69d5f&hm=414ee1c6c46fce24864ee9fd30854a027ca1ec49d0402a498cce6eb751b9eb44&"></audio><br><br>Whenever I recite Surah Ad-Duha, I experience a profound mix of emotions, feeling both intense sadness and overwhelming joy simultaneously. My connection with Surah Ad-Duha is unlike anyone else's; it is a special and strong bond that words cannot fully capture.<br><br>
A few months after my birth, my beloved father, may Allah have mercy on him, passed away, leaving me to navigate life's experiences on my own. As an orphan, I have been approached by many people who show me care and compassion. I often pondered why they did this, and as I grew older, I came to understand that their actions were driven by their desire for rewards and blessings from Allah SWT.<br><br>
My journey with the Quran began at the age of five when I started memorizing Surah Ad-Duha. Even without fully understanding its meaning, I took pleasure in reciting it.
The early years of my childhood were challenging. Every day, I felt a deep void in my life, which only intensified when I saw my classmates arriving at school with their fathers while I walked alone.<br><br>
One day, our school social worker entered my classroom and loudly asked, "Is there anyone here with a deceased father?" Instantly, everyone pointed at me “ His father is deceased” . Though their intentions were not ill-intended, I couldn't help but wish that the social worker had taken a few moments to review my personal file and spared me the embarrassment in front of my peers.<br><br>
Years went by, and this feeling of loss never left me until I began reflecting on Surah Ad-Duha. In that moment, I felt like a parched soul in the midst of a desert, and Allah SWT sent me a refreshing cup of water to quench my thirst. I was aware that this Surah was revealed to console the Prophet Muhammad (peace be upon him) during a challenging time when revelation paused for a few days. However, I truly felt as though Allah SWT was addressing me personally, instilling hope in my life. When I recited the verse, "Did He not find you an orphan and give [you] refuge?" it felt as if dewdrops fell upon my heart from the heavens, healing my wounds and alleviating the profound sense of loss.<br><br>
Many people wonder why the Prophet (peace be upon him) emphasized the importance of caring for orphans when he said, "I and the guardian of an orphan will be like this in Paradise," while gesturing with his index and middle fingers. It is not merely because he himself was an orphan, but because he understood with absolute certainty that losing one or both parents leaves a person feeling shattered, even if the entire world cares for them.<br><br>
Thus, Surah Ad-Duha became a lifeline for me, rescuing me from the negative emotions that had plagued me throughout my life. I advise every Muslim to recite Surah Ad-Duha with profound contemplation, as if Allah SWT is speaking to them directly, comforting and consoling them through life's difficulties and hardships.<br><br>
I ask Allah swt to forgive our parents and reunite us in Paradise. Ameen. رب اغفر لي ولوالدي وللمومنين يوم يقوم الحساب 
  </p>

<br>

</div>
</body>
