<style>
  body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
  .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
  a { text-decoration: none; }
</style>

<body>
<div class="container">
  <p style="text-align: center;"><table style="width:100%;margin:0px;">
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Days To Fast</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">List of Voluntary Fasts outside Ramadan</p></td></tr>
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Adnan</p></td></tr>
</table></a></p>
<hr>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Introduction</p>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
In this article, I will be giving you the days in a year that muslims should fast. These days, unlike Ramadan, arent obligations to fast but if you do you can get largely rewarded for it. 
</p>
<br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Mondays and Thursdays</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
Firstly, two good days to fast are mondays and thursdays. It is the sunnah of the prophet. The prophet also says “the deeds of people are presented to Allah (SWT) on Mondays and Thursdays, so I like that my actions be presented while I am fasting." Also, for monday, another hadith states “The Prophet (SAW) said: "On that day I was born, and on it, the Revelation came to me” after he was asked why he fasted monday. So it is recommended to fast these days. Also, if you do fast thursday, it is also recommended to fast the friday after it, since good deeds are multiplied. But you cannot fast on a Friday without fasting the day before it, or the day after it. 
</p>


<br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Six Days of Shawwal</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
It is also recommended to fast in any six days in the month of shawwal, which comes right after the month of Ramadan. Doing so is equivalent to fasting the whole year. One hadith states "Whoever fasts during the month of Ramadan and then follows it with six days of Shawwal will be (rewarded) as if he had fasted the entire year." Fasting these days can also redeem any mistakes we may have made while fasting in Ramadan, such as bullying or backbiting. 
</p>

<br>

<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">First Half of Shaban</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
Adding on to the six days of shawwal, fasting anydays of the first half of the month of Shaban is also recommended since it is the month right before Ramadan and can prepare you for when Ramadan comes.
</p>

<br>

<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">The 13th, 14th, 15th of each lunar month</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
The middle days of each lunar month is also recommended to fast. This includes the 13th, 14th, and the 15th of each lunar month. Fasting these three days in a lunar month is equivalent to fasting that entire month. One hadith mentions that Abu Dharr (RAA) narrated that The Messenger of Allah (ﷺ) commanded us to fast for three days of every month; that is on the days of the full moon; the 13th, 14th, and 15th (of the lunar month).’ Related by An-Nasa’i and At-Tirmidhi and rendered authentic by Ibn Hibban. 
</p>

 <br>

<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;" id="fast">First 9 Days of Dhul Hijjah</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
The first 9 days of dhul-hijjah are also recommended to fast, with the 9th day being the day of arafah. And, of course, the 10th day is Eid Al-Adha. Fasting these 9 days will bring extreme rewards and forgiveness, but fasting on the 9th day which is the day of Arafa allows your sins from the previous year and the year to come to be forgiven. But, one hadith mentions “Ikrimah said: We were with AbuHurayrah in his house when he narrated to us: The Messenger of Allah (ﷺ) prohibited fasting on the day of Arafah at Arafah.” This shows that only people who are not doing hajj can fast on the day of arafa. 
</p>
<br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Ashura</p>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
Lastly, the best and most significant day to fast after Ramadan, is the day of Ashura. This is the day where Allah saved prophet Musa and his followers by splitting the sea for them after the Pharaoh and his army were chasing them. One hadith says “Ibn Abbas was asked about observing of fast on the day of Ashura, whereupon he said: “I do not know Allah's Messenger, peace be upon him, singling out any day's fast and considering it more excellent than another, except this day (the day of Ashura) and this month, meaning the month of Ramadan” [Muslim].” This shows us the importance of fasting this day. </p>
<br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Conclusion</p>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
If we fast sincerely for Allah on these days, we can get a large amount of rewards. I hope you can benefit from this article</p>
</div>
</body>
