<style>
  body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
  .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
  a { text-decoration: none; }
</style>

<body>
<div class="container">
  <p style="text-align: center;"><table style="width:100%;margin:0px;">
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Animals</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Significance of Animals in Islam</p></td></tr>
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Adnan</p></td></tr>
</table></a></p>
<hr>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Introduction</p>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
In this article, I will be talking about three things; why we shouldn't abuse or harm animals, the significance of animals, and why it's forbidden to sell animals. 
</p>
<br><br>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
Firstly, I would like to talk about a hadith that says “‘Abdullāh ibn ‘Umar reported that the Messenger of Allah said: "A woman was tormented because of a cat which she had kept locked up until it died, and she was thrown into Hell for that. She neither gave it food or drink when she locked it up nor freed it so that it would eat from the vermin of the earth." This hadith shows us how causing harm and even killing an innocent animal can lead you into Jahanam. 
<br><br>
But, another hadith says “A prostitute saw a dog turning around a well on a hot day; it was panting due to thirst. She took off her shoe, filled it with water and gave the water to the dog. The woman was forgiven due to this deed." This hadith shows how even if you commit horrible sins, treating an animal with good care such as feeding it or giving it water like this woman did will allow Allah to forgive you for your sins. 
<br><br>
Now, some people think that animals are useless, but every single animal that Allah has created has a purpose. Although we don't know all of them and Allah knows best what their roles are, there are still many animals beneficial to us. Take the bee for example. They provide us with honey. Cows provide beef and milk, chickens provide us meat and eggs, sheeps provide us with meat, etc. We might not notice it, but for the most part we survive because of these animals.
Allah also mentions in the quran in surah nahl ayah 5-8:
And the grazing livestock He has created for you; in them is warmth and [numerous] benefits, and from them you eat. (5) And for you in them is [the enjoyment of] beauty when you bring them in [for the evening] and when you send them out [to pasture]. (6) And they carry your loads to a land you could not have reached except with difficulty to yourselves. Indeed, your Lord is Kind and Merciful. (7) And [He created] the horses, mules and donkeys for you to ride and [as] adornment. And He creates that which you do not know. (8)
<br><br>
One last thing I want to talk about is a hadith. Many people sell animals for money, but they don't realize that it's forbidden, and a hadith states that “the Messenger of Allah forbade selling animals in exchange for animal's ion credit.” </p><br><br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Conclusion</p>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
I hope this article allows you to understand the significance of animals in islam</p>
<br>
</div>
</body>
