<style>
  body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
  .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
  a { text-decoration: none; }
  @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
</style>

<body>
<div class="container">
  <p style="text-align: center;"><table style="width:100%;margin:0px;">
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Surah Ikhlas</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Significance of Surah Ikhlas</p></td></tr>
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Adnan</p></td></tr>
</table></a></p>
<hr>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Introduction</p>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
In this article, I will be talking about the importance of surah Iklhas and rewards you can get just for reciting it. 
</p>
<br>
  <p style="font-family: arabic; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;direction:rtl;">
بِسْمِ ٱللَّهِ ٱلرَّحْمَـٰنِ ٱلرَّحِيمِ
<br>
قُلْ هُوَ ٱللَّهُ أَحَدٌ ﴿١﴾ ٱللَّهُ ٱلصَّمَدُ ﴿٢﴾ لَمْ يَلِدْ وَلَمْ يُولَدْ ﴿٣﴾ وَلَمْ يَكُن لَّهُۥ كُفُوًا أَحَدٌۢ ﴿٤﴾
<br>Say, "He is Allah, [who is] One, (1) Allah, the Eternal Refuge. (2) He neither begets nor is born, (3) Nor is there to Him any equivalent." (4) 
</p><br>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
Firstly, I want to talk about the meaning of this surah. The first ayah says that Allah is one. This is an affirmation of Allah being the only god. The second ayah says that Allah is the eternal refuge. This tells us that Allah has no beginning, and no end. The third ayah says that he neither begets, nor is born. So this also tells us that he has no maker, and also has no children or wives. The last ayah says “nor is there to him any equivalent, which tells us that none has the right to be worshiped, except allah. These are all things that shahadah is structured on, which is one of the 5 pillars of Islam. This shows us how significant this surah really is.
<br><br>
Now, I would like to mention a hadith that states “A man heard another reciting Surat Al-Ikhlas repeatedly. The next morning he came to the Messenger of Allah (ﷺ) and informed him about the man as if he considered it to be of little reward. On that the Messenger of Allah (ﷺ) said, "By Him in Whose Hand my soul is, this Surah is equal to one-third of the Qur'an." This hadith shows that all it takes is to recite surah ikhlas three times, and it is equivalent to reciting the entire quran. 
<br><br>
Another hadith says: 'Aishah (May Allah be pleased with her) reported:
The messenger of Allah, (ﷺ) appointed a man in charge of an army unit who led them inSalat (prayer); he always concluded his recitation with Surat Al-Ikhlas. Upon their return to Al-Madinah, they mentioned this to Messenger of Allah (ﷺ), who said, "Ask him why he does so?" He was asked and he said, "This Surah contains the Attributes of Allah, the Gracious, and I love to recite it. The messenger of Allah (ﷺ) then told them, "Tell him that Allah loves him". All it takes is for you to recite surah ikhlas sincerely and for the sake of Allah, and he will love you for that.
<br><br>
Lastly, I would like to talk about one last hadith that says “the prophet Mohammed (SAW) said: “Whoever recites surah ikhlas ten times; Allah will build for him a house in Paradise.” Now imagine how many houses you will have built for you in jannah if you recite it 100 times, or 500 times, or even 1000 times. 

</p><br><br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Conclusion</p>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
I hope that this article allows you to understand the significance of surah ikhlas.
</p>
<br>
</div>
</body>
