<style>
  body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
  .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
  a { text-decoration: none; }
</style>

<body>
<div class="container">
  <p style="text-align: center;"><table style="width:100%;margin:0px;">
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Tawheed</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">The Three Types of Tawheed</p></td></tr>
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Adnan</p></td></tr>
</table></a></p>
<hr>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Introduction</p>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
Today, I will briefly explain to you the three types of tawheed. There are three types of Tawhid: Tawhid-ul-Rububiyyah, Tawhid-ul-Uluhiyyah and Tawhid-ul-Asma’ wal-Sifat.
</p>
<br><br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Tawhid-ul-Rububiyyah</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
Tawhid-ul-Rububiyyah is Allah’s lordship, which is what Allah does for us. Allah is the sustainer, the provider, the giver of life, etc. Allah provides us with all the blessings we can think of. Allah mentioned in ayat 8 of surah hujrat where it says “[It is] as bounty from Allah and favor. And Allah is Knowing and Wise.” Without Allah’s mercy, we wouldn't have any of the blessings we currently have. We have all the food, water, shelter, showers, beds, etc and all of this is because of Allah and his mercy. In the end, Allah doesn't need us, we need him. 
</p><br><br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Tawhid-ul-Uluhiyyah</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
Tawhid-ul-Uluhiyyah is our worship, which is what we do for Allah. This includes things like prayer, dhikr, fasting, or just anything we sacrifice for the sake of Allah and the remembrance of him.We must not associate partners with Allah and worship him and him only.  One hadith mentions that “The Messenger of Allah (ﷺ) said, "Allah the Exalted says: 'I am as my slave expects me to be, and I am with him when he remembers Me. If he remembers Me inwardly, I will remember him inwardly, and if he remembers Me in an assembly, I will remember him in a better assembly (i.e., in the assembly of angels)." So Allah will indeed reward us and remember us for remembering him.
</p><br><br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Tawhid-ul-Asma’ wal-Sifat</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
Tawhid-ul-Asma’ wal-Sifat is the name and attributes of Allah. His names and attributes cannot be changed. We can never compare his names and attributes to anyone else other than Allah. There is nothing like Allah. 
</p><br><br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Conclusion</p>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
I hope this article can allow you to understand what the three types of tawheed are.
</p>
<br>
</div>
</body>
