<style>
  body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
  .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
  a { text-decoration: none; }
</style>

<body>
<div class="container">
  <p style="text-align: center;"><table style="width:100%;margin:0px;">
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Shahadah</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Explanation of the 8 Conditions of Shahadah</p></td></tr>
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Adnan</p></td></tr>
</table></a></p>
<hr>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Introduction</p>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
In this article, I will be talking about the 8 conditions of shahadah. Some people say it's 7, others say 9, but inshallah I will do 8.
</p>
<br><br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Knowledge</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
We must always have knowledge and make sure to completely memorize the basics of Islam. We must know the meaning of shahadah and make the correct shahadah. We cannot make shahadah without knowing the correct meaning of it. It's like someone speaking to you in a different language, you don't understand a thing.
</p><br><br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Certainty</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
Of course, we must be certain in what we believe and say to Allah. When we make shahadah, we must be certain that what we are saying is true, and have no doubts. One hadith by the prophet says “"No one meets Allah with the testimony that there is none worthy of worship but Allah and I am the Messenger of Allah, and he has no doubt about that statement, except that he will enter Paradise"
</p><br><br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Acceptance</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
It is an obligation to accept shahadah as the truth. Some people are arrogant and don't want to accept the truth. They may even change verses in the Quran or change certain hadiths just because of their arrogance of not wanting to accept the truth. But a true muslim accepts all the knowledge revealed from Allah and his messenger. 
</p><br><br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Submission</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
The literal definition of Islam is “submission” only to Allah. We must always submit to Allah. When we make shahadah, we have to know that we are the slaves of Allah, and every good action we do should be done solely for the sake of Allah. Allah also states in surah nisaa ayah 125 “And who is better in religion than one who submits himself to Allah while being a doer of good”. 
</p><br><br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Truthfulness</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
When we are making shahadah, we have to say it honestly. Similar to certainty, we must understand why we make shahadah and cant be like the hypocrites who are some of the worst people in jahannam. They acted like they were muslim but in reality they didn't care about islam. They didn't truly believe what they said in their shahadah, and were dishonest. </p><br><br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Sincerity</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
Very similar to truthfulness, our shahadah must be sincere and make sure it's only for the sake of Allah. Not because your parents or teachers are telling you to say it, but you must say it sincerely. And you can't say it sincerely without the knowledge of its meaning. 
</p><br><br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Love</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
When we make shahadah, we should love the meaning of it. We must also love what shahadah stands for and the good deeds we do because of it. Allah states in surah baqarah ayat 165 “And [yet], among the people are those who take other than Allah as equals [to Him]. They love them as they [should] love Allah. But those who believe are stronger in love for Allah.”
</p><br><br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Disbelief in false gods</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
Lastly, we can never associate partners with Allah. This is shirk and breaks the rule of the first pillar of shahadah. Shirk is the worst sin to commit. The prophet also said “"Whoever says there is no one worthy of worship except Allah and denies whatever is worshiped besides Allah, then his wealth and blood are protected and his accounting will be with Allah.” This is a blessing of staying away from shirk.
</p><br><br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Conclusion</p>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
I hope this article allows you to know what the 8 conditions of shahadah are.
</p>
<br>
</div>
</body>
