<style>
  body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
  .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
  a { text-decoration: none; }
</style>

<body>
<div class="container">
  <p style="text-align: center;"><table style="width:100%;margin:0px;">
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Laylatul Qadr</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Short Article on its Significance</p></td></tr>
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Adnan</p></td></tr>
</table></a></p>
<hr>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Introduction</p>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
In this article, I will be talking about the significance of Laylatul Qadr.
</p>
<br><br>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
But, what is Laylatul Qadr? Laylatul Qadr, meaning the night of power is when Angel Jibreel first revealed the Quran's first verses to the prophet. It was the first 5 ayahs of surah Alaq. This is why this night is significant. Although we don't know the exact date of laylatul qadr, we know that it's in the last 10 days of Ramadan, either on the 21st, 23rd, 25th, 27th, or 29th.
<br><br>
There are many blessings you can get for staying up this night to do good deeds. Performing one single good deed on this night is equivalent to that of performing that deed for 1,000 months. Allah says this in surah qadr, ayah 3, “The Night of Decree is better than a thousand months.” So if you give zakat, it's equivalent to giving zakat for 1,000 months. If you do dhikr, it's like doing dhikr for 1,000 months. 
<br><br>
Also, if you perform salah on this night, any sins that you committed in the past will be forgiven. Of course it has to be sincere. “The Prophet said, “Whoever prays on Laylatul Qadr out of faith and sincerity, shall have all their past sins forgiven,” (Hadith, Bukhari and Muslim). Just imagine all your sins being forgiven, and all it takes is for one sincere prayer. Why would anyone want to miss an opportunity like this one. </p><br><br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Conclusion</p>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
I hope this article allows you to understand the significance of animals in islam</p>
<br>
</div>
</body>
