<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
  </style>
  
  <body>
  <div class="container">
    <p style="text-align: center;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Surah Kahf</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">And Its Significance</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Adnan</p></td></tr>
  </table></a></p>
  <hr>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Introduction</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
In this article, I will be giving a short list about the significance of surah kahf.
</p>
  <br><br>
    <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
        If you learn and recite the first 10 ayahs of surah kahf, when the trials of dajjal arrive, you will be protected. One hadith that supports this states “Abu Darda' reported Allah's Apostle saying: If anyone learns by heart the first ten verses of the Surah al-Kahf, he will be protected from the Dajjal.
        <br><br>
        Another hadith says “Ibn Mardawaih reports from Abdullah ibn Mughaffal marfooan: The home in which Surah Kahf is recited, Shaytaan does not enter that house on that specific night.” This is another important reason why we should recite it.
        <br><br>
        Reciting surah kahf on friday gives you guidance and protection from that friday to the next. ““Whoever reads Surah Kahf upon the arrival of Jummah (Friday) will have a light that will sparkle from him starting with one Friday then onto the next.”
        <br><br>
        A hadith also states that you can have your sins from between the two Fridays forgiven. “Whoever recites Surah Al-Kahf on Friday on the Day of Judgement there will be light for him in the heavens and the earth and the sins between the two Fridays will be forgiven”.
        <br><br>
        You can also read surah kahf and it can teach you stories and lessons that you can apply to your daily life. This includes stories like “A Trial of Faith”, “A Trial of Wealth”, “A Trail of Knowledge”, or “A Trial of Power”. 
        </p><br><br>
        <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Conclusion</p>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
    I hope this article influences you to start to recite surah kahf more often.</p>
  <br>
  </div>
  </body>