<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
  </style>
  
  <body>
  <div class="container">
    <p style="text-align: center;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Isra & Miraj</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">A Summary of Events</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Ilyas</p></td></tr>
  </table></a></p>
  <hr>
    <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
        The journey of Israa’ wal Mi’raj is considered by some to be the greatest miracle given to the prophet Muhammad (saw) PERSONALLY. Israa is the journey from Mekkah to Jerusalem, and Mi’raaj is from Jerusalem to the heavens. As shown in the Quran, one of the main reasons for the journey of Israa Wal Mi’raj was to show the prophet Muhammad (saw) the greatness of Allah (swt) and what he has created. The event is said to have happened (most likely) a year before the hijrah (migration to medina), and while Muhammad (saw) was in the Hateem, though some people say that a hole opened in the roof of his house. It was sais that when the journey started jibreel (as) opened the prophets chest and purified his heart (similar to when he was young), ans then presented him with an animal called Al-Buraaq which Muhammad (saw) used to fly to the heavens at great speed. During his journey he met prophets such as Musa (AS), Isa (AS) and Ibrahim (AS), all standing in prayer, and then the prophet Muhammad (SAW) led them all in prayer as imam. Muhammad (saw) chose milk over alcohol when presented the two, so alcohol became Haram. In the first heaven he met Adam (as) who was tall, in the second he met yahya and Isa (AS), in the third Yusuf (AS), Idris (as) in the fourth, Harun (as) in the fifth, Musa (as) in the sixth (where Musa (as) cried because his ummah was smaller), and in the 7th he met Ibrahim (AS) by the bayt-ul-Ma’moor.Muhammad (saw) saw Malik (gatekeeper of Jahannam) and noticed that he was somber and did not smile at all. Muhammad (saw) saw the Sidratul Muntaha, where everything stops ascending and starts descending. Muhammad (saw) saw jibreel in his true form, with 600 wings. After this he was given three things, the 5 Salah (which started as 50 and then slowly decreased upon Musa’s advice to request for less), the last two verses of surah Baqarah, and Allah (swt)’s promise of heaven to the believers. Muhammad (saw) then had a “divine appointment” with Allah (swt) behind a hijab. During the night of Isra wal-miraaj, Muhammad (saw) smelt a fragrance which turned out to be of the hairdresser of the daughter of Firaun, who got killed for her faith in Allah (swt). He also saw beauties of Jannah (soil of musk) and punishments of the hell-fire (such as for the thief of an orphan, the backbiters, the fornicators, etc.), as well as dajjal. When he returned back to Mekkah the people did not believe Muhammad (saw)’s story, and asked him specific questions and laughed at him. However even after he gave clear proof, Abu-Jahl and other people considered him a sorcerer.  Abu-Bakr (RA) however believed him instantly and got the title of “Al-Siddiq”    
    </p>
  <br>
  </div>
  </body>