<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p style="text-align: center;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Come Aboard with Us</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">The Unbreakable Love of a Father</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Shaykh Salah</p></td></tr>
  </table></a></p>
  <hr>
<p style="text-align:center;"><audio controls><source src="https://cdn.discordapp.com/attachments/761736282459734048/1120526838104592384/quran.mp3?ex=65e67670&is=65d40170&hm=2d4960faa41050390b2a4c4f4660805a2f906dcbeb952b63da6877ed6894f04f&"></audio></p>
<p style="font-family:Times New Roman;color:white;font-size:15px;text-align:center;margin:5px;">And [Noah] said, "Embark therein; in the name of Allah is its course and its anchorage. Indeed, my Lord is Forgiving and Merciful." (41) And it sailed with them through waves like mountains, and Noah called to his son who was apart [from them], "O my son, come aboard with us and be not with the disbelievers." (42) [But] he said, "I will take refuge on a mountain to protect me from the water." [Noah] said, "There is no protector today from the decree of Allah, except for whom He gives mercy." And the waves came between them, and he was among the drowned. (43) And it was said, "O earth, swallow your water, and O sky, withhold [your rain]." And the water subsided, and the matter was accomplished, and the ship came to rest on the [mountain of] Judiyy. And it was said, "Away with the wrongdoing people." (44) And Noah called to his Lord and said, "My Lord, indeed my son is of my family; and indeed, Your promise is true; and You are the most just of judges!" (45) He said, "O Noah, indeed he is not of your family; indeed, he is [one whose] work was other than righteous, so ask Me not for that about which you have no knowledge. Indeed, I advise you, lest you be among the ignorant." (46) [Noah] said, "My Lord, I seek refuge in You from asking that of which I have no knowledge. And unless You forgive me and have mercy upon me, I will be among the losers." (47) It was said, "O Noah, disembark in security from Us and blessings upon you and upon nations [descending] from those with you. But other nations [of them] We will grant enjoyment; then there will touch them from Us a painful punishment." (48)</p>
<br>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
        As Prophet Noah's son turned his back, refusing his father's attempt to save him from the overwhelming flood, Prophet Noah stood there, shattered and devastated, watching his son disappear amidst the relentless waves. No words can express the depth of Noah's pain. Driven by the unwavering bonds of fatherhood, Noah clung to his son until the waves forcibly separated them.<br><br>
        Throughout the challenging journey , Noah a.s anxiously peered through the ship's windows, longing to catch a glimpse of his son desperately holding on to its edge. Even before the floodwaters receded, Noah a.s pleaded to Allah, seeking solace and desperately holding onto the hope that his son remained faithful.<br><br>
        The very first words Noah a.s uttered after the flood's end were a heartfelt plea, "My Lord, indeed my son is a part of my family." He spoke these words even before receiving the divine call, "O Noah, descend with peace and blessings."<br><br>
        How distant was his son's detachment from his father? On what mountain did he seek refuge, blinded by his limited vision? Is there any mountain stronger than his father's outstretched hand, calling out to him, "There is no protector today... There is no protector today!"?<br><br><br>
        *Dear brothers and sisters*,<br><br>
        We often hear words of gratitude, praise, and appreciation directed towards mothers, who embrace their children with boundless love. However, let us not forget the subtle support that shines upon the foundation of the household, providing strength and security to continue nurturing and building the family.<br><br>
        It is the father who, through his actions and few words, embodies qualities of firmness, strength, tenderness, and a dedication to meeting the needs of his children. This affection may be concealed within his demeanor, but it emerges during the first challenging situation when his role as the family's backbone is tested. His love is no less than that of a mother's.<br><br><br>
        *Dear children,*<br><br>
        Do not be like Canaan, the son of Noah. Hold onto your father's hand tightly, above his ship of salvation.<br><br><br>
        *Dear Fathers,*<br><br>
        I want to take a moment to express heartfelt gratitude and appreciation for everything you do for your family. You are more than just a father to your children; you are a guiding light, a pillar of strength, and a source of inspiration.
    </p>
  <br>
  </div>
  </body>