<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p style="text-align: center;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Surah Nas and Falaq</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">The Story Behind These 2 Surahs</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Adnan</p></td></tr>
  </table></a></p>
  <hr>


<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
    In the prophet's time, there was a hypocrite who acted like a muslim but in reality hated islam and the prophet. His name was Labid Bin Asim.One day, Labid took a comb that the prophet used to brush his hair. This comb had the prophet's hair and so Labid used his hair to perform black magic. 
    <br><br>
    Labid performed this black magic by taking a rope, tying knots around it, and putting it into a well. After this, the prophet began feeling very sick. But then, he had a vision where Angel Jibreel came down and told the prophet that Labid performed black magic on him and even showed the prophet where the well was. Then, Angel Jibreel revealed Surah Nas and Falaq. 
    <br><br>
    After this vision, the prophet recited Surah Nas and Falaq. Then he was cured. So he and his companions went to the well that Jibreel showed the prophet. In this well, the water looked like blood and is said that the palm trees around the well looked like a demon's head. So the prophet took out the comb and untied the knots so that the magic would be completely gone. 
    <br><br>
    Then the prophet and his companions covered the well with sand so no one else would drink or be harmed from this well. 
    <br><br>
    These two surahs are known as “muawi dhataan” which means the two protectors. This is why we always recite these in our daily supplications and especially when going to sleep so Allah can protect us from any evil. 
    </p>
    <br><br>
    <p style="font-family:arabic;color:white;text-align:center;font-size:25px;direction:rtl">
        بِسْمِ ٱللَّهِ ٱلرَّحْمَـٰنِ ٱلرَّحِيمِ<br>
        قُلْ أَعُوذُ بِرَبِّ ٱلْفَلَقِ ﴿١﴾ مِن شَرِّ مَا خَلَقَ ﴿٢﴾ وَمِن شَرِّ غَاسِقٍ إِذَا وَقَبَ ﴿٣﴾ وَمِن شَرِّ ٱلنَّفَّـٰثَـٰتِ فِى ٱلْعُقَدِ ﴿٤﴾ وَمِن شَرِّ حَاسِدٍ إِذَا حَسَدَ ﴿٥﴾
    </p>
    <p style="font-family:'Times New Roman';color:white;text-align:center;font-size:20px;">
        Say, "I seek refuge in the Lord of daybreak (1) From the evil of that which He created (2) And from the evil of darkness when it settles (3) And from the evil of the blowers in knots (4) And from the evil of an envier when he envies." (5) 

    </p>
    <br>
    <p style="font-family:arabic;color:white;text-align:center;font-size:25px;direction:rtl">
        بِسْمِ ٱللَّهِ ٱلرَّحْمَـٰنِ ٱلرَّحِيمِ<br>
        قُلْ أَعُوذُ بِرَبِّ ٱلنَّاسِ ﴿١﴾ مَلِكِ ٱلنَّاسِ ﴿٢﴾ إِلَـٰهِ ٱلنَّاسِ ﴿٣﴾ مِن شَرِّ ٱلْوَسْوَاسِ ٱلْخَنَّاسِ ﴿٤﴾ ٱلَّذِى يُوَسْوِسُ فِى صُدُورِ ٱلنَّاسِ ﴿٥﴾ مِنَ ٱلْجِنَّةِ وَٱلنَّاسِ ﴿٦﴾
    </p>
    <p style="font-family:'Times New Roman';color:white;text-align:center;font-size:20px;">
        Say, "I seek refuge in the Lord of mankind, (1) The Sovereign of mankind. (2) The God of mankind, (3) From the evil of the retreating whisperer - (4) Who whispers [evil] into the breasts of mankind - (5) From among the jinn and mankind." (6) 

    </p>
        <br>
  </div>
  </body>