<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p style="text-align: center;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Surah Masad</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">The Tafseer of This Surah</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Adnan</p></td></tr>
  </table></a></p>
  <hr>


<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
One morning the prophet climbed Mount Safa and called all the people to make a very important announcement and said “If I told you there was an enemy behind the mountain, would you believe me?”
<br><br>
The people replied, “Yes”
<br><br>
The prophet then said “If there was a punishment coming to the disbelievers, would you believe me?”
<br><br>
After he said this, only some believed him while others who already knew he was telling the truth refused to believe him out of arrogance. But Abu Lahab, the prophet's uncle from his fathers side, spoke out and said he hoped the prophet would “perish”.
<br><br>
Abu Lahab hated the prophet as well as his wife. Abu Lahab would dump trash on the prophet while he was praying and Abu Lahab's wife would place thorns on the floor so the prophet would bleed. Abu Lahab's real name was Abd al-'Uzzā, but Lahab in Arabic means bright. He was given this nickname due to his very white skin. 
<br><br>
Because of Abu Lahab’s actions, Allah revealed surah Masad. 
<br><br>
What we can learn from this is that if he curses or disrespects the prophet and especially the religion itself, they will be punished on the day of judgment. 

    </p>
    <br><br>
    <p style="font-family:arabic;color:white;text-align:center;font-size:25px;direction:rtl">
        بِسْمِ ٱللَّهِ ٱلرَّحْمَـٰنِ ٱلرَّحِيمِ<br>
تَبَّتْ يَدَآ أَبِى لَهَبٍۢ وَتَبَّ ﴿١﴾ مَآ أَغْنَىٰ عَنْهُ مَالُهُۥ وَمَا كَسَبَ ﴿٢﴾ سَيَصْلَىٰ نَارًۭا ذَاتَ لَهَبٍۢ ﴿٣﴾ وَٱمْرَأَتُهُۥ حَمَّالَةَ ٱلْحَطَبِ ﴿٤﴾ فِى جِيدِهَا حَبْلٌۭ مِّن مَّسَدٍۭ ﴿٥﴾
    </p>
    <p style="font-family:'Times New Roman';color:white;text-align:center;font-size:20px;">
May the hands of Abu Lahab be ruined, and ruined is he. (1) His wealth will not avail him or that which he gained. (2) He will [enter to] burn in a Fire of [blazing] flame (3) And his wife [as well] - the carrier of firewood. (4) Around her neck is a rope of [twisted] fiber. (5) 

    </p>

        <br>
  </div>
  </body>