<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p style="text-align: center;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Surah Nasr</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">The Tafseer of This Surah</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Adnan</p></td></tr>
  </table></a></p>
  <hr>


<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
    In the early prophet hood, Muslims were weak, tortured, and only short surahs were revealed. This led them to be kicked out of Makkah, causing them to migrate to Medina for many years.
<br><br>
    In Medina, Muslims grew strong, long surahs started being revealed, and muslims stopped being tortured. Many people started to convert to Islam.
    <br><br>
    After the muslims started getting stronger, they had to battle with the people of makkah. The battle of Badr, and the battle of Uhud. Then, the muslims marched in and the idol worshippers surrendered because they knew how strong they had become. Then the idol worshippers converted to islam. 
    <br><br>
    Surah Nasr is the last whole medeni surah revealed in the entire quran. In this surah, Allah predicts everything that happens. He says help and victory will come in ayah 1, which it did. And he says many people will convert to islam ayah 2, which it did. He also hints at the prophet's death, which did happen soon after the revelation of this surah.
    <br><br>
    We can see how Allah will help the Muslims against the enemies through this surah and tafseer. 
    
    </p>
    <br><br>
    <p style="font-family:arabic;color:white;text-align:center;font-size:25px;direction:rtl">
        بِسْمِ ٱللَّهِ ٱلرَّحْمَـٰنِ ٱلرَّحِيمِ<br>
        إِذَا جَآءَ نَصْرُ ٱللَّهِ وَٱلْفَتْحُ ﴿١﴾ وَرَأَيْتَ ٱلنَّاسَ يَدْخُلُونَ فِى دِينِ ٱللَّهِ أَفْوَاجًۭا ﴿٢﴾ فَسَبِّحْ بِحَمْدِ رَبِّكَ وَٱسْتَغْفِرْهُ ۚ إِنَّهُۥ كَانَ تَوَّابًۢا ﴿٣﴾
    </p>
    <p style="font-family:'Times New Roman';color:white;text-align:center;font-size:20px;">
        When the victory of Allah has come and the conquest, (1) And you see the people entering into the religion of Allah in multitudes, (2) Then exalt [Him] with praise of your Lord and ask forgiveness of Him. Indeed, He is ever Accepting of repentance. (3) 

    </p>

        <br>
  </div>
  </body>