<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p style="text-align: center;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Surah Kafiroon</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">The Tafseer of This Surah</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Adnan</p></td></tr>
  </table></a></p>
  <hr>


<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
    The prophet at one point was able to convert many people to islam. But, this made the disbelievers mad. They were mad because the prophet converted their families to islam and people stopped worshiping the idols, making the rest of the disbelievers look foolish. 
<br><br>
So, they came up with an idea. They asked the prophet “Worship idols for one year, and we will worship Allah in the next. Whichever one is better is the one we will worship. Of Course the prophet did not agree. 
<br><br>
So Allah revealed surah Kafiroon to help the prophet respond to the disbelievers.

    </p>
    <br><br>
    <p style="font-family:arabic;color:white;text-align:center;font-size:25px;direction:rtl">
        بِسْمِ ٱللَّهِ ٱلرَّحْمَـٰنِ ٱلرَّحِيمِ<br>
        إِذَا جَآءَ نَصْرُ ٱللَّهِ وَٱلْفَتْحُ ﴿١﴾ وَرَأَيْتَ ٱلنَّاسَ يَدْخُلُونَ فِى دِينِ ٱللَّهِ أَفْوَاجًۭا ﴿٢﴾ فَسَبِّحْقُلْ يَـٰٓأَيُّهَا ٱلْكَـٰفِرُونَ ﴿١﴾ لَآ أَعْبُدُ مَا تَعْبُدُونَ ﴿٢﴾ وَلَآ أَنتُمْ عَـٰبِدُونَ مَآ أَعْبُدُ ﴿٣﴾ وَلَآ أَنَا۠ عَابِدٌۭ مَّا عَبَدتُّمْ ﴿٤﴾ وَلَآ أَنتُمْ عَـٰبِدُونَ مَآ أَعْبُدُ ﴿٥﴾ لَكُمْ دِينُكُمْ وَلِىَ دِينِ ﴿٦﴾
    </p>
    <p style="font-family:'Times New Roman';color:white;text-align:center;font-size:20px;">
        Say, "O disbelievers, (1) I do not worship what you worship. (2) Nor are you worshippers of what I worship. (3) Nor will I be a worshipper of what you worship. (4) Nor will you be worshippers of what I worship. (5) For you is your religion, and for me is my religion." (6) 

    </p>

        <br>
  </div>
  </body>