<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p style="text-align: center;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Surah Kawthar</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">The Tafseer of This Surah</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Adnan</p></td></tr>
  </table></a></p>
  <hr>


<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
    As we all know, the prophet out of all people including all the other prophets was the most tested. One of these tests was his two children, Qasim and Abdullah dying before 10 years old. This made the prophet very sad and depressed.
<br><br>
    On top of that, his uncles would celebrate because they hated him and were happy that the prophet would have no legacy.
    <br><br>
    So Allah revealed surah kawthar to help with his sadness and depression and to reassure that his legacy would continue. 
    
    </p>
    <br><br>
    <p style="font-family:arabic;color:white;text-align:center;font-size:25px;direction:rtl">
        بِسْمِ ٱللَّهِ ٱلرَّحْمَـٰنِ ٱلرَّحِيمِ<br>
        إِنَّآ أَعْطَيْنَـٰكَ ٱلْكَوْثَرَ ﴿١﴾ فَصَلِّ لِرَبِّكَ وَٱنْحَرْ ﴿٢﴾ إِنَّ شَانِئَكَ هُوَ ٱلْأَبْتَرُ ﴿٣﴾
    </p>
    <p style="font-family:'Times New Roman';color:white;text-align:center;font-size:20px;">
        Indeed, We have granted you, [O Muhammad], al-Kawthar. (1) So pray to your Lord and sacrifice [to Him alone]. (2) Indeed, your enemy is the one cut off. (3) 

    </p>

        <br>
  </div>
  </body>