<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p style="text-align: center;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Death</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">The Destroyer of Pleasures</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Zeeshan</p></td></tr>
  </table></a></p>
  <hr>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
    The prophet ﷺ said “Remember often the destroyer of pleasures: death” (tirmidhi 2307). It is very important to remember death because every soul will face death and return to Allah (Quran 29:57). And the place we end up in will be the place we will stay in for eternity. If we remember the destroyer of pleasures frequently, we can forget all the worldly delusion and focus on what's important to avoid بئس المهاد the worst resting place. So this article will be descriptions of death and the day of judgement from the Quran.
    <br><br>
    To start off, picture yourself on your deathbed. And as you're about to die, you see the angels of death, either with bright faces saying salam (Quran 16:32) or with dark and scary faces. And you beg Allah saying رَبِّ ٱرْجِعُونِ My Lord, send me back so that I might do righteousness which I left behind! (Quran 23:99-100) And then as Allah tells us in Surah Qiyamah: No! When the soul has reached the collar bones (26) And it is said, "Who will cure [him]?" (27) And the dying one is certain that it is the [time of] separation (28) And the leg is wound about the leg, (29) To your Lord, that Day, will be the procession. (30). And as your soul leaves your body, your eyes start to follow your soul (bulugh 538). No doctor or family member around you can cure you. You are then placed in a shroud, a simple piece of white cloth that you will be wrapped in despite the amount of money you had in this world.
    <br>
    <img style="width:30%;" src="https://cdn.discordapp.com/attachments/761736282459734048/1128510209665544242/shroud.png?ex=65e7d208&is=65d55d08&hm=280c155ec8ec41d86591c7855c3fcebaa9f27384be82c38be4d9a10404b69522&">
    <br>
    And then you are taken to a far place and you are left alone in a deep hole. Your family and wealth have all left you. The angels come and question you and your grave will either be comfortable and expansive or crushing depending on your answers.
    <br><br>
    After some time, you will hear the blowing of the trumpet and everyone is resurrected. And one of the many descriptions Allah gives of this day is in Surah Infitar: When the sky breaks apart (1) And when the stars fall, scattering, (2) And when the seas are erupted (3) And when the [contents of] graves are scattered, (4) A soul will [then] know what it has put forth and kept back. (5). Imagine at that scary moment you recall all of your bad deeds and you feel regret for everything you have done, whether it is missing out on praying, backbiting, etc. Take a moment to imagine how badly you would wish to come back to this world for even an extra day just to seek repentance and do good deeds instead.
    <br><br>
    And now you can stop imagining. You are still in this world and you still have the time to seek repentance and do righteousness. So take advantage of this time because there will be a day where you will wish to come back to this moment. I hope this short description scared you (in a way that would motivate you to do good). InshaAllah I will be writing articles on Jannah and Jahannam soon. May Allah gather us together in Jannah and save us from Jahannam.
</p>
  <br>
  </div>
  </body>