<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p style="text-align: center;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Anti-Islam Influencers</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">And Their Dangers</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Ilyas</p></td></tr>
  </table></a></p>
  <hr>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
    It seems that throughout history there’s never been a shortage of people dedicating pretty much their whole livelihood making foolish arguments to attack Islam by, but it DEFINITELY seems like we’ve hit a gold rush recently
<br><br>
    But what makes these people dangerous isn’t that they’re right, but that their foolish arguments sometimes don't sound so foolish when they’re alone.. SOMETIMES.
<br><br>    
    But being serious, anyone who has ever watched one of their videos will know exactly what I mean. Shaytaan uses these people as a tool and these tools feed on people stuck in times of jahiliyyah or weak iman. To people who aren't educated or aren’t putting in the effort to look into the reality of the situations being mentioned, these people can come off as scarily convincing and can weaken the faith of the audience to a point that’s far enough to god forbid even lead them to leaving Islam. However, even the littlest amount of research can be enough to open up your eyes. These people have been proven on multiple occasions to take things from weak sources, random websites or just terribly out of context, but because you’re only watching videos from their side, you would never know the truth and once again, shaytan will just use them to drag you into deeper and deeper levels of jahiliyyah.
<br><br>
    Now you may be saying that the same thing probably applies vice versa to muslim influencers as well.. But generally speaking, no. And if you really want to see for yourself that I’m telling the truth, just watch any debate between a “notable” anti-islamist vs any notable and well-educated Islamic influencer:
<br><br>
    - Apuss vs Daniel Haqiqatjou
    <br>
    - Aaron Ra vs Saboor Ahmed
    <br>
    - David Wood vs Mohammed Hijab
    <br>
    - David Wood, Sam Shamoun and Anthony Rogers vs the absolute chad Uthman ibn Farooq
<br><br>
    And what's ironic about these live, intellectual debates is that the same people who look so confident and knowledgeable when they’re sitting at home behind their cameras with their out of context lines, cut clips , and one-way debates are never the ones to post them.
</p>
  <br>
  </div>
  </body>