<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
  </style>
  
  <body>
  <div class="container">
    <p style="text-align: center;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Hiccups</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Why They Happen and How to Cure Them</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Zeeshan</p></td></tr>
  </table></a></p>
  <hr>
    <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 20px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Introduction</p>
    <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
        Hiccups happen to everyone once in a while, and they can be quite annoying. This sparks the question of why they happen, and of course how we can stop them. Many people say that hiccups happen for a specific reason and you need to watch a horror movie upside down while holding your breath with salt on your tongue while you get pinched, but the reality is that there are many natural causes and the cures are simple and may not work for everyone all the time.</p>
        <br>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Why They Happen</p>
    <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
        Hiccups actually occur because of some disturbance to the nerves of the diaphragm, which is an organ that regulates our breathing. This means that the diaphragm receives signals to sometimes breathe in a funny way. The "hiccup" sound is a result of the vocal cord closing after this sudden movement of the diaphragm. These not normal nerve signals can happen from extreme emotions or excessive eating or even from eardrum disturbances, which are completely normal and pose no big threat to us.</p>
  
  
  <br>
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">How To Cure Them</p>
    <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
        The ideal way to cure hiccups is different from person to person, but what works for me 99% of the time is drinking some water. Do not buy drugs to cure your hiccups. Save your money from the summer job you got after reading Rayyan's article.
</p>  
  <br>
  
  <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">Conclusion</p>
    <p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
        I hope this article answered some of your curious questions that you must've asked yourself when you get the hiccups. In short, they're caused from breathing disturbances and can be cured with drinking water. May Allah make us from those of knowledge and gather us together in جنات الفردوس and drink from Kawthar and see the Prophet ﷺ.   
  <br>
  </div>
  </body>