<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p style="text-align: center;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Ashura</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">And its Significance</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Zeeshan</p></td></tr>
  </table></a></p>
  <hr>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;line-height:25px;">
    Muharram marks the first month of the hijri calendar. It is the third consecutive holy month after Dhul Hijjah. What's a better way to start this year than to have the sins of the previous year wiped? You can achieve this by fasting on the 10th of Muharram, as stated by the prophet ﷺ in Tirmidhi 752. This is an excellent opportunity if we were not able to take full advantage of Dhul Hijjah.

    <br><br>

    In fact, this fast was never abandoned by the prophet ﷺ (Nasai 2416). Furthermore, before fasting in Ramadan was made mandatory, fasting on ashura was mandatory (Bukhari 4502). It became optional after Ramadan was made mandatory. In fact, the Quraysh used to also fast on ashura during the jahiliyyah period (Bukhari 4504). In addition, when the Muslims moved to Madinah, they found the Jews there fasting on ashura as well (Bukhari 4680).
    
    <br><br> 
    
    So why is ashura so important that the Muslims, Pagans, and Jews fasted on it? The main significance of this day is that Allah saved the Bani Israel and Musa AS (Bukhari 4680) by miraculously splitting the sea for Musa AS and his people to cross. This day is so important, so let's reflect on the lessons we can learn from the story of the splitting of the sea. Firstly, we can learn to have trust in Allah in all situations that seem helpless. When Musa AS and his people reached the water, his companions thought they would surely be defeated (Quran 26:61). But Musa AS remembered his Lord and comforted himself with the hope that Allah will certainly guide them (Quran 26:62). And then Allah gave Musa AS the command to strike the sea with his staff and it split, causing them to cross and the army of firawn to drown (Quran 26:63-66). From this we also learn that Allah will also save whoever has firm faith in him, even when it seems impossible.
    
    <br><br>
        
    So on this day of great victory for the Muslims, let us remember throughout this year to have hope in Allah, and to stand firmly as a Muslim. May Allah help us and save all the suffering Muslims around the world.
</p>
  <br>
  </div>
  </body>