<style>
    body { background-color:#2f3c5c; padding:0px; margin:0px; height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset;}
    .container { height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;  }
    a { text-decoration: none; }
    @font-face {
    font-family: arabic;
    src: url(/assets/arabic.ttf);
  }
  </style>
  
  <body>
  <div class="container">
    <p style="text-align: center;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">The Entertainment Industry</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Slowly Taking Over Our Lives</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Rayyan</p></td></tr>
  </table></a></p>
  <hr>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">
Introduction
</p>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
Whether you are tired from a long day of work or exhausted from school, turning on the TV and watching your favorite film is one of the best ways to relax. They create memories and teach lessons that people still follow today. However, the effects of the industry can be detrimental. The harm that some of these films cause is breathtaking and unanticipated for some people, due to the fact that they wouldn't think watching movies would harm them.
</p>
<br>

<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">
Time Consuming
</p>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
Although you don't want to admit it, watching any form of entertainment takes up most of your day, especially during the mid-winter break. What would you be able to accomplish if you didn't spend so much time watching films? You could try getting your mind right by exercising or meditating. You can even get ahead of your schoolwork by completing your homework or project ahead of time. If you want some other form of recreation, you can read an entertaining book or improve one of your talents such as art. Unfortunately, watching TV or any source of entertainment on the internet for too long directly hinders your accomplishments. I could be getting work done so much faster and have time for my body to fully relax if I wasn't relaxing in front of my screen too much. My sleep schedule would be much better and I would be physically and mentally healthy. In short, you should think about the time that you are wasting the next time you watch videos or movies for the purpose of entertainment because time is valuable and unretrievable.
</p>
<br>

<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">
Bad Behavior
</p>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
When you are watching films or other videos, do you realize what behavior the particular film is encouraging? When we watch these classic movies, it shows kids that are practically our age doing things that aren't supposed to be normalized. A prime example of this would be the classic Home Alone. Now, many of us have watched this movie and gained many laughs from it, but one important part of it that we don't realize is how the main character acts towards his parents. Given that he was under tons of stress, he behaved that way; however, many viewers were influenced by it. Another example would be the comedy film series Diary of a Wimpy Kid. I am a personal fan of this series, but one particular film mentions lessons that we shouldn't support, such as "always lowering expectations" or "not being good at something you don't like." The movie was used for entertainment purposes, but many kids and young adults were influenced by it and followed these rules. There is also a specific scene that shows how kids are willing to do anything to become popular, which changes how they act in front of people, how they work in school, and how they make decisions by themselves. Since kids who watched this were young, they didn't know any better than to copy this behavior. Kids see what people do in the movies and choose to follow it. An example of this would be in 2016 when there were reports of multiple people disguised as evil clowns. This hoax started because many horror movies depicted that, such as The Purge and IT. Sergeant Mel Sutherland describes the impact of the clown craze in the article titled "Creepy Clown Craze Sweeps the Globe." The clown craze in 2016 took the U.S. by storm along with the UK (Sutherland). This shows just how massive this event was, and it all took place because of these movies portraying it. That's just one of the many instances where people were negatively affected by movies. Movies that originate from the 90's show teens doing crazy things that we shouldn't even think about. So just take the actions committed in movies with a grain of salt before deciding you want to be like your favorite character from a show.
</p>
<br>

<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">
Bad Eyesight and Obesity
</p>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
Now, all entertainment doesn't lead to a deficiency of eyesight or obesity, but the entertainment that is focused on screens and other electronic devices definitely has an effect on your eyesight and your physical health. An article titled "Obesity Prevention Source," showed research conducted by Harvard, in which it is proven that watching television for extensive amounts of time increases the chances someone has of obesity. Screen time can affect obesity as well as your eyesight. An article titled "Is Screen Time Really Bad for Our Eyes?" which was medically reviewed by UMPC Susquehanna observes that blue light is released when screens are turned on (Susquehanna). This blue light damages the cells (particularly ones sensitive to light) in the retina(a layer of nerves at the back of your eye) (Susquehanna). One thing you might notice is that after quarantine, the eyesight of many people has gotten worse, causing people to wear glasses or contacts. This is because of the time we spend on our screens. Since we have no choice because of the current situation, limiting the screen-time we CAN control is extremely important and valuable. If you want perfect vision and a healthy body, try not to stay on the screens, watching an excessive number of films just for enjoyment.
</p>
<br>

<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 25px; text-align: center;">
Conclusion
</p>
<p style="font-family: helvetica; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0; color: white; font-size: 20px; text-align: center;">
Although there are many positive outcomes from watching films of the entertainment industry (enjoyment, invaluable memories, etc), the drawbacks outweigh the positive outcomes by a landslide. Remember the progressive harm that the entertainment industry can cause you before going on the movie marathon that you were planning on the weekend. Some harm that is done to you can never be fixed. Limiting time spent watching films produced by the entertainment industry can help you in ways that you can never imagine.
</p>
<br>

  </div>
  </body>