<style>
</style>
<body style="background-image:url(https://media.istockphoto.com/id/1467769199/vector/seamless-geometric-pattern-in-authentic-arabian-style.jpg?s=612x612&w=0&k=20&c=9ugXvv9OMlF2mffGrPwwzLX8RLjxHIdIG-daAz5zU2A=)">
<p style="margin:0;text-align:center;"><img src="/logoooo.png" style="margin:0;height:125px;"></p>
<div style="width:80%;border-radius:10px;border:3px solid gold;margin:auto;background-color:white;box-shadow:0px 0px 20px black;"><br><p style="font-size:20px;color:black;font-family:helvetica;text-align:center;"><img src="https://png.pngtree.com/png-vector/20230310/ourmid/pngtree-islamic-calligraphy-writing-bismillah-vector-png-image_6643235.png" style="height:50px;"><br><br>Assalamualaikum! Welcome to Noor institute for spreading Islamic knowledge. Here, you will find engaging talks, interesting articles, beneficial classes, and informative brochures.</p><br></div>
<br>
<table style="width:75%;margin:auto;"><tr>
<td style="width:calc(100% / 4 )">
<div style="width:90%;border-radius:10px;border:3px solid gold;margin:auto;background-color:white;box-shadow:0px 0px 10px black;"><p style="font-size:20px;color:black;font-family:helvetica;text-align:center;">Articles<br><img src="/image(1).png" style="width:75px;"></p></div>
</td>
<td style="width:calc(100% / 4 )">
<div style="width:90%;border-radius:10px;border:3px solid gold;margin:auto;background-color:white;box-shadow:0px 0px 10px black;"><p style="font-size:20px;color:black;font-family:helvetica;text-align:center;">Classes<br><img src="/classes.png" style="width:75px;"></p></div>
</td>
<td style="width:calc(100% / 4 )"><div style="width:90%;border-radius:10px;border:3px solid gold;margin:auto;background-color:white;box-shadow:0px 0px 10px black;"><p style="font-size:20px;color:black;font-family:helvetica;text-align:center;">Talks<br><img src="/talks.png" style="width:75px;"></p></div>
</td>
<td style="width:calc(100% / 4 )">
<div style="width:90%;border-radius:10px;border:3px solid gold;margin:auto;background-color:white;box-shadow:0px 0px 10px black;"><p style="font-size:20px;color:black;font-family:helvetica;text-align:center;">Brochures<br><img src="/brochure.png" style="width:75px;"></p></div>
</td>
</tr></table>
</body>