<style>
    body {background-color:#2f3c5c;box-shadow: 0 0 40px black inset;margin:0;padding:0; width:100%; height:100%;}
    @font-face {
      font-family: arabic;
      src: url(/assets/arabic.ttf);
    }
    td {width:50%;vertical-align: top;}
    .english {color:white;font-family: helvetica;margin:10px;font-size: 20px;text-align: center;}
    .arabic {direction:rtl;color:white;font-family: arabic;margin:10px;font-size: 20px;text-align: center;}
</style>
<body>
<div style="margin:0;overflow-x: hidden; overflow-y: auto; height:100%; width:100%;">
<p style="text-align:center;"><audio controls><source src="https://cdn.discordapp.com/attachments/1192566022511804586/1200184966701658203/New_Recording.m4a?ex=65ea2c5a&is=65d7b75a&hm=b0032da15ea3094ac5a58e1c497a5b36422b369eb83b88f7579244e97ede9705&"></audio></p>
<table style="width:100%;">
<tr>
<td>
<p class="english">
Indeed, Allah confers blessing upon the Prophet, and His angels [ask Him to do so]. O you who have believed, ask [Allah to confer] blessing upon him and ask [Allah to grant him] peace. (56) Indeed, those who abuse Allah and His Messenger - Allah has cursed them in this world and the Hereafter and prepared for them a humiliating punishment. (57) And those who harm believing men and believing women for [something] other than what they have earned have certainly born upon themselves a slander and manifest sin. (58)</p>
</td>
<td>
<p class="arabic">
إِنَّ ٱللَّهَ وَمَلَـٰٓئِكَتَهُۥ يُصَلُّونَ عَلَى ٱلنَّبِىِّ ۚ يَـٰٓأَيُّهَا ٱلَّذِينَ ءَامَنُوا۟ صَلُّوا۟ عَلَيْهِ وَسَلِّمُوا۟ تَسْلِيمًا ﴿٥٦﴾ إِنَّ ٱلَّذِينَ يُؤْذُونَ ٱللَّهَ وَرَسُولَهُۥ لَعَنَهُمُ ٱللَّهُ فِى ٱلدُّنْيَا وَٱلْءَاخِرَةِ وَأَعَدَّ لَهُمْ عَذَابًۭا مُّهِينًۭا ﴿٥٧﴾ وَٱلَّذِينَ يُؤْذُونَ ٱلْمُؤْمِنِينَ وَٱلْمُؤْمِنَـٰتِ بِغَيْرِ مَا ٱكْتَسَبُوا۟ فَقَدِ ٱحْتَمَلُوا۟ بُهْتَـٰنًۭا وَإِثْمًۭا مُّبِينًۭا ﴿٥٨﴾
</p>
</td>
</tr>
</table>
</div>
</body>