<style>
    body {background-color:#2f3c5c;box-shadow: 0 0 40px black inset;margin:0;padding:0; width:100%; height:100%;}
    @font-face {
      font-family: arabic;
      src: url(/assets/arabic.ttf);
    }
    td {width:50%;vertical-align: top;}
    .english {color:white;font-family: helvetica;margin:10px;font-size: 20px;text-align: center;}
    .arabic {direction:rtl;color:white;font-family: arabic;margin:10px;font-size: 20px;text-align: center;}
</style>
<body>
<div style="margin:0;overflow-x: hidden; overflow-y: auto; height:100%; width:100%;">
<p style="text-align:center;"><audio controls><source src="/assets/nuh.mp3"></audio></p>
<table style="width:100%;">
<tr>
<td>
<p class="english">
Indeed, We sent Noah to his people, [saying], "Warn your people before there comes to them a painful punishment." (1) He said, "O my people, indeed I am to you a clear warner, (2) [Saying], 'Worship Allah, fear Him and obey me. (3) Allah will forgive you of your sins and delay you for a specified term. Indeed, the time [set by] Allah, when it comes, will not be delayed, if you only knew.' " (4) He said, "My Lord, indeed I invited my people [to truth] night and day. (5) But my invitation increased them not except in flight. (6) And indeed, every time I invited them that You may forgive them, they put their fingers in their ears, covered themselves with their garments, persisted, and were arrogant with [great] arrogance. (7) Then I invited them publicly. (8) Then I announced to them and [also] confided to them secretly (9) And said, 'Ask forgiveness of your Lord. Indeed, He is ever a Perpetual Forgiver. (10) He will send [rain from] the sky upon you in [continuing] showers (11) And give you increase in wealth and children and provide for you gardens and provide for you rivers. (12) What is [the matter] with you that you do not attribute to Allah [due] grandeur (13) While He has created you in stages? (14) Do you not consider how Allah has created seven heavens in layers (15) And made the moon therein a [reflected] light and made the sun a burning lamp? (16) And Allah has caused you to grow from the earth a [progressive] growth. (17) Then He will return you into it and extract you [another] extraction. (18) And Allah has made for you the earth an expanse (19) That you may follow therein roads of passage.' " (20) Noah said, "My Lord, indeed they have disobeyed me and followed him whose wealth and children will not increase him except in loss. (21) And they conspired an immense conspiracy. (22) And said, 'Never leave your gods and never leave Wadd or Suwa' or Yaghuth and Ya'uq and Nasr. (23) And already they have misled many. And, [my Lord], do not increase the wrongdoers except in error." (24) Because of their sins they were drowned and put into the Fire, and they found not for themselves besides Allah [any] helpers. (25) And Noah said, "My Lord, do not leave upon the earth from among the disbelievers an inhabitant. (26) Indeed, if You leave them, they will mislead Your servants and not beget except [every] wicked one and [confirmed] disbeliever. (27) My Lord, forgive me and my parents and whoever enters my house a believer and the believing men and believing women. And do not increase the wrongdoers except in destruction." (28) 
</td>
<td>
<p class="arabic">
إِنَّآ أَرْسَلْنَا نُوحًا إِلَىٰ قَوْمِهِۦٓ أَنْ أَنذِرْ قَوْمَكَ مِن قَبْلِ أَن يَأْتِيَهُمْ عَذَابٌ أَلِيمٌۭ ﴿١﴾ قَالَ يَـٰقَوْمِ إِنِّى لَكُمْ نَذِيرٌۭ مُّبِينٌ ﴿٢﴾ أَنِ ٱعْبُدُوا۟ ٱللَّهَ وَٱتَّقُوهُ وَأَطِيعُونِ ﴿٣﴾ يَغْفِرْ لَكُم مِّن ذُنُوبِكُمْ وَيُؤَخِّرْكُمْ إِلَىٰٓ أَجَلٍۢ مُّسَمًّى ۚ إِنَّ أَجَلَ ٱللَّهِ إِذَا جَآءَ لَا يُؤَخَّرُ ۖ لَوْ كُنتُمْ تَعْلَمُونَ ﴿٤﴾ قَالَ رَبِّ إِنِّى دَعَوْتُ قَوْمِى لَيْلًۭا وَنَهَارًۭا ﴿٥﴾ فَلَمْ يَزِدْهُمْ دُعَآءِىٓ إِلَّا فِرَارًۭا ﴿٦﴾ وَإِنِّى كُلَّمَا دَعَوْتُهُمْ لِتَغْفِرَ لَهُمْ جَعَلُوٓا۟ أَصَـٰبِعَهُمْ فِىٓ ءَاذَانِهِمْ وَٱسْتَغْشَوْا۟ ثِيَابَهُمْ وَأَصَرُّوا۟ وَٱسْتَكْبَرُوا۟ ٱسْتِكْبَارًۭا ﴿٧﴾ ثُمَّ إِنِّى دَعَوْتُهُمْ جِهَارًۭا ﴿٨﴾ ثُمَّ إِنِّىٓ أَعْلَنتُ لَهُمْ وَأَسْرَرْتُ لَهُمْ إِسْرَارًۭا ﴿٩﴾ فَقُلْتُ ٱسْتَغْفِرُوا۟ رَبَّكُمْ إِنَّهُۥ كَانَ غَفَّارًۭا ﴿١٠﴾ يُرْسِلِ ٱلسَّمَآءَ عَلَيْكُم مِّدْرَارًۭا ﴿١١﴾ وَيُمْدِدْكُم بِأَمْوَ ٰلٍۢ وَبَنِينَ وَيَجْعَل لَّكُمْ جَنَّـٰتٍۢ وَيَجْعَل لَّكُمْ أَنْهَـٰرًۭا ﴿١٢﴾ مَّا لَكُمْ لَا تَرْجُونَ لِلَّهِ وَقَارًۭا ﴿١٣﴾ وَقَدْ خَلَقَكُمْ أَطْوَارًا ﴿١٤﴾ أَلَمْ تَرَوْا۟ كَيْفَ خَلَقَ ٱللَّهُ سَبْعَ سَمَـٰوَ ٰتٍۢ طِبَاقًۭا ﴿١٥﴾ وَجَعَلَ ٱلْقَمَرَ فِيهِنَّ نُورًۭا وَجَعَلَ ٱلشَّمْسَ سِرَاجًۭا ﴿١٦﴾ وَٱللَّهُ أَنۢبَتَكُم مِّنَ ٱلْأَرْضِ نَبَاتًۭا ﴿١٧﴾ ثُمَّ يُعِيدُكُمْ فِيهَا وَيُخْرِجُكُمْ إِخْرَاجًۭا ﴿١٨﴾ وَٱللَّهُ جَعَلَ لَكُمُ ٱلْأَرْضَ بِسَاطًۭا ﴿١٩﴾ لِّتَسْلُكُوا۟ مِنْهَا سُبُلًۭا فِجَاجًۭا ﴿٢٠﴾ قَالَ نُوحٌۭ رَّبِّ إِنَّهُمْ عَصَوْنِى وَٱتَّبَعُوا۟ مَن لَّمْ يَزِدْهُ مَالُهُۥ وَوَلَدُهُۥٓ إِلَّا خَسَارًۭا ﴿٢١﴾ وَمَكَرُوا۟ مَكْرًۭا كُبَّارًۭا ﴿٢٢﴾ وَقَالُوا۟ لَا تَذَرُنَّ ءَالِهَتَكُمْ وَلَا تَذَرُنَّ وَدًّۭا وَلَا سُوَاعًۭا وَلَا يَغُوثَ وَيَعُوقَ وَنَسْرًۭا ﴿٢٣﴾ وَقَدْ أَضَلُّوا۟ كَثِيرًۭا ۖ وَلَا تَزِدِ ٱلظَّـٰلِمِينَ إِلَّا ضَلَـٰلًۭا ﴿٢٤﴾ مِّمَّا خَطِيٓـَٔـٰتِهِمْ أُغْرِقُوا۟ فَأُدْخِلُوا۟ نَارًۭا فَلَمْ يَجِدُوا۟ لَهُم مِّن دُونِ ٱللَّهِ أَنصَارًۭا ﴿٢٥﴾ وَقَالَ نُوحٌۭ رَّبِّ لَا تَذَرْ عَلَى ٱلْأَرْضِ مِنَ ٱلْكَـٰفِرِينَ دَيَّارًا ﴿٢٦﴾ إِنَّكَ إِن تَذَرْهُمْ يُضِلُّوا۟ عِبَادَكَ وَلَا يَلِدُوٓا۟ إِلَّا فَاجِرًۭا كَفَّارًۭا ﴿٢٧﴾ رَّبِّ ٱغْفِرْ لِى وَلِوَ ٰلِدَىَّ وَلِمَن دَخَلَ بَيْتِىَ مُؤْمِنًۭا وَلِلْمُؤْمِنِينَ وَٱلْمُؤْمِنَـٰتِ وَلَا تَزِدِ ٱلظَّـٰلِمِينَ إِلَّا تَبَارًۢا ﴿٢٨﴾
</p>
</td>
</tr>
</table>
</div>
</body>