<style>
    body {background-color:#2f3c5c;box-shadow: 0 0 40px black inset;margin:0;padding:0; width:100%; height:100%;}
    @font-face {
      font-family: arabic;
      src: url(/assets/arabic.ttf);
    }
    td {width:50%;vertical-align: top;}
    .english {color:white;font-family: helvetica;margin:10px;font-size: 15px;text-align: center;}
    .arabic {direction:rtl;color:white;font-family: arabic;margin:10px;font-size: 15px;text-align: center;}
</style>
<body>
<div style="margin:0;overflow-x: hidden; overflow-y: auto; height:100%; width:100%;">
<p style="margin:20px;color:white;font-family:helvetica;text-align:center;font-size:20px;">In these ayahs from Surah Saffat, Allah describes the story of Nuh and Ibrahim, alayhimussalam, including the story of Ibrahim when he was about to sacrifice his son Ismail alayhissalam. We should remember this story because it is the day we celebrate Eid Al-Adha.</p>
<p style="text-align:center;"><audio controls><source src="https://cdn.discordapp.com/attachments/761736282459734048/1123359293119414312/eid.mp3?ex=65e789de&is=65d514de&hm=4d282dc798fac7f2194ed153f771ad5531aa4e5d5b0034b862ad14de859d8907&"></audio></p>
<table style="width:100%;">
<tr>
<td>
<p class="english">
And Noah had certainly called Us, and [We are] the best of responders. (75) And We saved him and his family from the great affliction. (76) And We made his descendants those remaining [on the earth] (77) And left for him [favorable mention] among later generations: (78) "Peace upon Noah among the worlds." (79) Indeed, We thus reward the doers of good. (80) Indeed, he was of Our believing servants. (81) Then We drowned the disbelievers. (82) And indeed, among his kind was Abraham, (83) When he came to his Lord with a sound heart (84) [And] when he said to his father and his people, "What do you worship? (85) Is it falsehood [as] gods other than Allah you desire? (86) Then what is your thought about the Lord of the worlds?" (87) And he cast a look at the stars (88) And said, "Indeed, I am [about to be] ill." (89) So they turned away from him, departing. (90) Then he turned to their gods and said, "Do you not eat? (91) What is [wrong] with you that you do not speak?" (92) And he turned upon them a blow with [his] right hand. (93) Then the people came toward him, hastening. (94) He said, "Do you worship that which you [yourselves] carve, (95) While Allah created you and that which you do?" (96) They said, "Construct for him a furnace and throw him into the burning fire." (97) And they intended for him a plan, but We made them the most debased. (98) And [then] he said, "Indeed, I will go to [where I am ordered by] my Lord; He will guide me. (99) My Lord, grant me [a child] from among the righteous." (100) So We gave him good tidings of a forbearing boy. (101) And when he reached with him [the age of] exertion, he said, "O my son, indeed I have seen in a dream that I [must] sacrifice you, so see what you think." He said, "O my father, do as you are commanded. You will find me, if Allah wills, of the steadfast." (102) And when they had both submitted and he put him down upon his forehead, (103) We called to him, "O Abraham, (104) You have fulfilled the vision." Indeed, We thus reward the doers of good. (105) Indeed, this was the clear trial. (106) And We ransomed him with a great sacrifice, (107) And We left for him [favorable mention] among later generations: (108) "Peace upon Abraham." (109) Indeed, We thus reward the doers of good. (110) Indeed, he was of Our believing servants. (111) And We gave him good tidings of Isaac, a prophet from among the righteous. (112) And We blessed him and Isaac. But among their descendants is the doer of good and the clearly unjust to himself. (113)
</p>
</td>
<td>
<p class="arabic">
وَلَقَدْ نَادَىٰنَا نُوحٌۭ فَلَنِعْمَ ٱلْمُجِيبُونَ ﴿٧٥﴾ وَنَجَّيْنَـٰهُ وَأَهْلَهُۥ مِنَ ٱلْكَرْبِ ٱلْعَظِيمِ ﴿٧٦﴾ وَجَعَلْنَا ذُرِّيَّتَهُۥ هُمُ ٱلْبَاقِينَ ﴿٧٧﴾ وَتَرَكْنَا عَلَيْهِ فِى ٱلْءَاخِرِينَ ﴿٧٨﴾ سَلَـٰمٌ عَلَىٰ نُوحٍۢ فِى ٱلْعَـٰلَمِينَ ﴿٧٩﴾ إِنَّا كَذَ ٰلِكَ نَجْزِى ٱلْمُحْسِنِينَ ﴿٨٠﴾ إِنَّهُۥ مِنْ عِبَادِنَا ٱلْمُؤْمِنِينَ ﴿٨١﴾ ثُمَّ أَغْرَقْنَا ٱلْءَاخَرِينَ ﴿٨٢﴾ ۞ وَإِنَّ مِن شِيعَتِهِۦ لَإِبْرَ ٰهِيمَ ﴿٨٣﴾ إِذْ جَآءَ رَبَّهُۥ بِقَلْبٍۢ سَلِيمٍ ﴿٨٤﴾ إِذْ قَالَ لِأَبِيهِ وَقَوْمِهِۦ مَاذَا تَعْبُدُونَ ﴿٨٥﴾ أَئِفْكًا ءَالِهَةًۭ دُونَ ٱللَّهِ تُرِيدُونَ ﴿٨٦﴾ فَمَا ظَنُّكُم بِرَبِّ ٱلْعَـٰلَمِينَ ﴿٨٧﴾ فَنَظَرَ نَظْرَةًۭ فِى ٱلنُّجُومِ ﴿٨٨﴾ فَقَالَ إِنِّى سَقِيمٌۭ ﴿٨٩﴾ فَتَوَلَّوْا۟ عَنْهُ مُدْبِرِينَ ﴿٩٠﴾ فَرَاغَ إِلَىٰٓ ءَالِهَتِهِمْ فَقَالَ أَلَا تَأْكُلُونَ ﴿٩١﴾ مَا لَكُمْ لَا تَنطِقُونَ ﴿٩٢﴾ فَرَاغَ عَلَيْهِمْ ضَرْبًۢا بِٱلْيَمِينِ ﴿٩٣﴾ فَأَقْبَلُوٓا۟ إِلَيْهِ يَزِفُّونَ ﴿٩٤﴾ قَالَ أَتَعْبُدُونَ مَا تَنْحِتُونَ ﴿٩٥﴾ وَٱللَّهُ خَلَقَكُمْ وَمَا تَعْمَلُونَ ﴿٩٦﴾ قَالُوا۟ ٱبْنُوا۟ لَهُۥ بُنْيَـٰنًۭا فَأَلْقُوهُ فِى ٱلْجَحِيمِ ﴿٩٧﴾ فَأَرَادُوا۟ بِهِۦ كَيْدًۭا فَجَعَلْنَـٰهُمُ ٱلْأَسْفَلِينَ ﴿٩٨﴾ وَقَالَ إِنِّى ذَاهِبٌ إِلَىٰ رَبِّى سَيَهْدِينِ ﴿٩٩﴾ رَبِّ هَبْ لِى مِنَ ٱلصَّـٰلِحِينَ ﴿١٠٠﴾ فَبَشَّرْنَـٰهُ بِغُلَـٰمٍ حَلِيمٍۢ ﴿١٠١﴾ فَلَمَّا بَلَغَ مَعَهُ ٱلسَّعْىَ قَالَ يَـٰبُنَىَّ إِنِّىٓ أَرَىٰ فِى ٱلْمَنَامِ أَنِّىٓ أَذْبَحُكَ فَٱنظُرْ مَاذَا تَرَىٰ ۚ قَالَ يَـٰٓأَبَتِ ٱفْعَلْ مَا تُؤْمَرُ ۖ سَتَجِدُنِىٓ إِن شَآءَ ٱللَّهُ مِنَ ٱلصَّـٰبِرِينَ ﴿١٠٢﴾ فَلَمَّآ أَسْلَمَا وَتَلَّهُۥ لِلْجَبِينِ ﴿١٠٣﴾ وَنَـٰدَيْنَـٰهُ أَن يَـٰٓإِبْرَ ٰهِيمُ ﴿١٠٤﴾ قَدْ صَدَّقْتَ ٱلرُّءْيَآ ۚ إِنَّا كَذَ ٰلِكَ نَجْزِى ٱلْمُحْسِنِينَ ﴿١٠٥﴾ إِنَّ هَـٰذَا لَهُوَ ٱلْبَلَـٰٓؤُا۟ ٱلْمُبِينُ ﴿١٠٦﴾ وَفَدَيْنَـٰهُ بِذِبْحٍ عَظِيمٍۢ ﴿١٠٧﴾ وَتَرَكْنَا عَلَيْهِ فِى ٱلْءَاخِرِينَ ﴿١٠٨﴾ سَلَـٰمٌ عَلَىٰٓ إِبْرَ ٰهِيمَ ﴿١٠٩﴾ كَذَ ٰلِكَ نَجْزِى ٱلْمُحْسِنِينَ ﴿١١٠﴾ إِنَّهُۥ مِنْ عِبَادِنَا ٱلْمُؤْمِنِينَ ﴿١١١﴾ وَبَشَّرْنَـٰهُ بِإِسْحَـٰقَ نَبِيًّۭا مِّنَ ٱلصَّـٰلِحِينَ ﴿١١٢﴾ وَبَـٰرَكْنَا عَلَيْهِ وَعَلَىٰٓ إِسْحَـٰقَ ۚ وَمِن ذُرِّيَّتِهِمَا مُحْسِنٌۭ وَظَالِمٌۭ لِّنَفْسِهِۦ مُبِينٌۭ ﴿١١٣﴾
</p>
</td>
</tr>
</table>
</div>
</body>