<body style="height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset; margin: 0; padding: 0; background-color: #2f3c5c;">
<div style="height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;">
  <p style="text-align: center;"><a href="/pages/articles/2t.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">The Sacred Month of Rajab</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Planting Seeds for Ramadan</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Nuraz</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="/pages/articles/2s.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Surah Takathur Tafsir</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Rivalry in Worldly Matters</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Nuraz</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="/pages/articles/2r.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Seeking Knowledge</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Its Importance</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Rizwan</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="/pages/articles/friday.pdf" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Friday Sunnahs</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Brochure</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Adnan</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="/pages/articles/salawat.pdf" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Salawat</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Brochure</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Ishaq</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="/pages/articles/dates.pdf" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Dates</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Brochure</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Adnan</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="/pages/articles/fridayy.pdf" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Things to do on Friday</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Brochure</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Jihan</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="/pages/articles/2q.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Treatment of Orphans</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Joying a Yateem</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Nuraz</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="/pages/articles/2p.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Tawhid</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">And its Types</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Nuraz</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="/pages/articles/2o.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">The 4 Rivers of Jannah</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Anhar Al Jannah</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Nuraz</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="/pages/articles/2n.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Forbearance</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Characteristics of the Prophet</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Zeeshan</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="/pages/articles/2m.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Loving the Youth</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Characteristics of the Prophet</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Nuraz</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="/pages/articles/2l.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Grudges</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Learn to Let Go of Them</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Nuraz</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="/pages/articles/honey.pdf" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Honey in Islam</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Brochure</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Ameer</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="/pages/articles/2k.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">The Art of Hobbies</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">An Islamic Perspective</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Nuraz</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="/pages/articles/hygiene.pdf" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Hygiene in Islam</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Brochure</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Abdurrahman</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/2j.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Surah Yusuf</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Summary</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Sr. Houria</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/2i.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">True Righteousness</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">In Islam</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Sr. Houria</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/2h.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Find π</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Using Trig</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Adnan and Zeeshan</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/2g.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Sadaqah</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">The Benefits of Giving</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Nuraz</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/2f.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Self-Esteem</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">In Islam</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Nuraz</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/2e.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Niyyah</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">The Perfect Intention</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Nuraz</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/2d.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Reward for Obedience</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">4:69 Explanation</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Zeeshan</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="https://fityah.institute/math.pdf" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Why 0⁰ ≠ 1</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">A Mathematical Proof</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Adnan and Zeeshan</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/2c.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Recite what is Easy</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">73:20 Explanation</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Zeeshan</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/2b.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Seeing Allah's Face</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">The Greatest Joy</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Dr. Houria Abdelrehem</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/2a.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">The Awliya of Allah</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Who Are They?</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Dr. Houria Abdelrehem</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/1z.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Effects of Sins</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Sins make the Face Ugly</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Dr. Houria Abdelrehem</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/1y.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Sacred Months</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">The Significance</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Dr. Houria Abdelrehem</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/1x.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Seeking Knowledge</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Importance and Benefits</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Dr. Houria Abdelrehem</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/1w.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Guard your Heart</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">By Remembering Allah</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Dr. Houria Abdelrehem</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/1v.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">The 3 D's</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Of the Deen</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Nuraz</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/1u.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Istighfar</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Solution to every Problem</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Dr. Houria Abdelrehem</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/1t.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Reminder to be Grateful</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">For Allah's Blessings</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Nuraz</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/1s.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">The Believer is...</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">3 Hadith Parables</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Zeeshan</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/1r.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Ashouraa</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Salvation of the Oppressed</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Dr. Houria Abdelrehem</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/1q.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Haste in the Quran</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">What makes you Rush?</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Zeeshan</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/1p.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Spend Whatever You Can</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Spending Is Not Only Money</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Dr. Houria Abdelrehem</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/1o.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Tips for School Success</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Time Management, Study Habits, Self-Care</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Ishaq</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/1n.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">The Ummah Today</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Speech Competition 2024</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Ilyas's group</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/1m.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Duas for Forgiveness</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">From the Quran and Sunnah</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Zeeshan</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/1l.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Shukr: Gratefulness</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Speech Competition 2024</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Adnan, Adyan, and Zeeshan</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/1k.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Welcoming Rajab</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Significance and Bidahs</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Zeeshan</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/1j.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Qualities of the Prophet</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Halaqah 2 Summary</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Taught by Br. Luai</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/1i.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Miracles of the Prophet</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Halaqah 1 Summary</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Taught by Br. Luai</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/1h.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Story of Dawud and Jalut</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Trust in Allah (Nuraz's First Khutbah 11/17/23)</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Nuraz</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/1g.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Achieving Ihsan</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Spoken Word</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Zeeshan</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/1f.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">I Dream of a Day</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Spoken Word</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Zaman</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/1e.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Allah's Mercy</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Spoken Word</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Emam</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/1b.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Surah Araf</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">And Its Significance</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Rayyan</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/1a.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Struggle & Emerge</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Overcoming Weakness in Islam</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Azhar (Contributer)</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/z.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">The Entertainment Industry</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Slowly Taking Over Our Lives</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Rayyan</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/y.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Ashura</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">And its Significance</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Zeeshan</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/w.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Anti-Islam Influencers</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">And Their Dangers</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Ilyas</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/v.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Death</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">The Destroyer of Pleasures</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Zeeshan</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/p.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Come Aboard with Us</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">The Unbreakable Love of a Father</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Shaykh Salah</p></td></tr>
  </table></a></p>
  <hr>
  <p style="text-align: center;"><a href="articles/o.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Isra & Miraj</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">A Summary of Events</p></td></tr>
    <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Ilyas</p></td></tr>
  </table></a></p>
  <hr>
<p style="text-align: center;"><a href="articles/h.html" style="text-decoration:none;"><table style="width:100%;margin: 0px;">
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Days To Fast</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">List of Voluntary Fasts</p></td></tr>
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Adnan</p></td></tr>
</table></a></p>
<hr>
<p style="text-align: center;"><a href="articles/g.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Surah Duha</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Shaykh Salah's Reflections</p></td></tr>
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Shaykh Salah</p></td></tr>
</table></a></p>
<hr>
<p style="text-align: center;"><a href="articles/f.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Parts of a Date</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">In the Quran</p></td></tr>
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Zeeshan</p></td></tr>
</table></a></p>
<hr>
<p style="text-align: center;"><a href="articles/e.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Sirat As-Sayf</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">An Interview with the Founders, Uncle Najee and Auntie Rahma</p></td></tr>
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">By Ilyas and Adnan</p></td></tr>
</table></a></p>
<hr>
<p style="text-align: center;"><a href="articles/d.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Salah: The Key To Success</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Article On The Importance Of The 5 Daily Prayers</p></td></tr>
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by our honorable classmate Emam</p></td></tr>
</table></a></p>
<hr>
<p style="text-align: center;"><a href="articles/a.html" style="text-decoration:none;"><table style="width:100%;margin:0px;">
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:30px; margin:0;">Get $1,000,000 for $1!!!</p><p style="font-size: 20px; color:white;font-family:helvetica;text-align:center; margin:0;">Phrases with Unimaginable Rewards</p></td></tr>
  <tr><td><p style="color:white;font-family:helvetica;text-align:center;font-size:15px;">Written by Zeeshan</p></td></tr>
</table></a></p>
</div>
</body>
