
<head>
  <style>
    @font-face {
      font-family: arabic;
      src: url(/assets/arabic.ttf);
    }
  table {width:100%; margin:0;height:50%;}
  td {width:50%;height:100%;}
  a {color:white;}
  </style>
  </head>
  <body style="height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset; margin: 0; padding: 0; background-color: #2f3c5c;">
    <div style="height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;">
<img style="margin:0;width:100%" src="https://fityah.institute/assets/ramadan.png">
  <hr>
  <p style="text-align:center;">
  <a style="color:white; font-family:helvetica; font-size:15px; margin:5px;">Jump To:</a>
  <a style="color:white; background-color:#263457; padding:5px; font-family:monospace;border-radius:3px; padding: 5px; text-decoration:none;" href="#news">News</a>
  <a style="color:white; background-color:#263457; padding:5px; font-family:monospace;border-radius:3px; padding: 5px; text-decoration:none;" href="#about">About</a>
  <a style="color:white; background-color:#263457; padding:5px; font-family:monospace;border-radius:3px; padding: 5px; text-decoration:none;" href="#contact">Contact</a>
  <a style="color:white; background-color:#263457; padding:5px; font-family:monospace;border-radius:3px; padding: 5px; text-decoration:none;" href="#support">Support</a>
  </p>
  <hr style="margin-bottom:0">
  <p style="font-size: 30px; color: white; text-align: center; font-family: helvetica; margin-bottom:10px;" id="news"><b>News</b></p>
    <p style="text-align: center; font-family: helvetica; font-size: 20px; color: white; margin-top: 0px;">📌 <a href="https://fityah.institute/pages/sat.html">Enroll in our SAT course before seats are full!</a><br>📌 Fityah Trivyah #19 is out! Try it <a style="color:white;" href="/pages/trivia.html">here</a>!<br>📌 <a href="https://fityah.institute/pages/quran/guessinggame.html">Try our new guessing game here</a><br>📌 Alhamdulillah, we raised enough money to fund our project. Progress and results will be posted soon.</p>
    <p style="font-size: 30px; color: white; text-align: center; font-family: helvetica; margin-bottom:10px;" id="about"><b>About Us</b></p>
    <p style="text-align: center; font-family: helvetica; font-size: 20px; color: white; margin-top: 0px;">Welcome to the Fityah Institute! Here you will find beneficial talks, classes, Quran videos, articles, and reminders. Our names comes from Surah Kahf where Allah describes the companions of the cave as Fityah, or youth. Our goal is to spread knowledge of Islam with each other.</p>
    <p style="font-size: 30px; color: white; text-align: center; font-family: helvetica; margin-bottom:10px;" id="contact"><b>Contact Us</b></p>
    <p style="text-align: center; font-family: helvetica; font-size: 20px; color: white; margin-top: 0px;">Use the contact form below or email us at <a href="mailto:staff@fityah.institute">staff@fityah.institute</a><p>
<table style="padding:0;margin:0;height:250px">
    <tr style="padding:0;margin:0;">
    <td style="padding:0;margin:0;"><div style="height:100%;">
    <form id="myForm" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSd56S025m_4qVBGbyrgvxAHlkqBqyL4TomXvOXI3XS54YGP6A/formResponse" target="dummyframe" style="margin:0; height:100%;">
      <p style="text-align: center;margin:0;">
      <textarea style="background-color:#1e263b;width:90%;height:calc(100% - 50px);color:white;margin:0;border:1px solid yellow;" id="messageInput" name="entry.1877994090" placeholder="Type Your Message Here"></textarea></p>
      <p style="text-align: center;margin:0;">
        <button id="submitButton" type="submit" style="background-color: #263457; color: white; border: none; font-size: 25px; padding: 0px; width:90%;height:50px;margin:0;" onclick="submitForm()">Send</button>
      </p>
    </form>
    
    <script>
      function submitForm() {
        var submitButton = document.getElementById('submitButton');
        submitButton.innerHTML = 'Sending...';
        submitButton.style.backgroundColor = '#ff9800'; // Change to the desired color
        submitButton.disabled = true;
    
        document.getElementById('myForm').submit();
    
        setTimeout(function() {
          submitButton.innerHTML = 'Sent';
          submitButton.style.backgroundColor = 'green'; // Change to the desired color
          setTimeout(function() {
            submitButton.innerHTML = 'Send';
            submitButton.style.backgroundColor = '#263457'; // Revert back to the original color
            submitButton.disabled = false;
            document.getElementById('messageInput').value = '';
          }, 1000);
        }, 2000);
      }
    </script></div>
</td>
<td><div style="background-color:#1e263b;height:100%;width:90%;border-radius:10px;overflow-x:hidden;overflow-y:auto;border:1px solid yellow;">
<div style="background-color:#EBCB8B;margin:auto;margin-top:5px;margin-bottom:5px;width:60%;border-radius:3px;"><p style="text-align: center; font-family: helvetica; font-size: 15px; color: #2f3c5c;margin:0px;"><b>Form Responses</b></p></div>
<hr style="margin:0;">
<p style="text-align: left; font-family: helvetica; font-size: 15px; color: white;margin:5px;">
  <u>Input</u>: I received your newsletter. Mashallah I am looking forward to more ❤️
  <br><u>Response</u>: Jazak Allahu Khayran!</p>
<hr style="margin:0;">
<p style="text-align: left; font-family: helvetica; font-size: 15px; color: white;margin:5px;">
  <u>Input</u>: Are you planning to partake in MIST InshaaAllah?
  <br><u>Response</u>: Yessir in sha Allah</p>
<hr style="margin:0;">
<p style="text-align: left; font-family: helvetica; font-size: 15px; color: white;margin:5px;">
  <u>Input</u>: How do you spell poshlets?
  <br><u>Response</u>: There is a difference of opinion on whether it is spelled postulates or poshlets so ask your local math teacher.</p>
  <hr style="margin:0;">
  <p style="text-align: left; font-family: helvetica; font-size: 15px; color: white;margin:5px;">
  <u>Input</u>: Salam Admins, Hope the site does well and grows. Ameen
  <br><u>Response</u>: Thank you brother!</p>
  <hr style="margin:0;">
<p style="text-align: left; font-family: helvetica; font-size: 15px; color: white;margin:5px;">
<u>Input</u>: can u guys post my article
<br><u>Response</u>: Yes we can. Send it to our email or through our contact form and we will approve it and post it.</p>
<hr style="margin:0;">
<p style="text-align: left; font-family: helvetica; font-size: 15px; color: white;margin:5px;">
  <u>Input</u>: when is the next talk or article or quran video its been so long
<br><u>Response</u>: We're working on it</p>
<hr style="margin:0;">
<p style="text-align: left; font-family: helvetica; font-size: 15px; color: white;margin:5px;"><u>Input</u>: you guys should add an answer section for the contact form
  <br>
  <u>Response</u>: Jazaka Allahu Khayran for the suggestion!
  </p>
</div></td>
</tr>
</table>
  <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
      <p style="font-size: 30px; color: white; text-align: center; font-family: helvetica; margin-bottom:10px;" id="support"><b>Our Supporters</b></p>
<table style="width:100%;height:auto;">
<tr>
<td style="width:calc(100% / 4);margin:0;"><a href="https://t.me/+UzGyVstJgwXTiy4r" style="text-decoration:none;" target="_blank"><p style="font-size: 15px; color: white; text-align: center; font-family: helvetica; margin:0px;">Our Sponsor<br><b>Taqwa Institute</b></p><p style="margin:0;text-align:center;"><img src="https://fityah.institute/assets/taqwa.jpeg" style="width:95%;border-radius:10px;"></p></a></td>
<td style="width:calc(100% / 4);margin:0;"><a href="https://itvusa.tv/" style="text-decoration:none;" target="_blank"><p style="font-size: 15px; color: white; text-align: center; font-family: helvetica; margin:0px;">Media Partner<br><b>ITV USA</b></p><p style="margin:0;text-align:center;"><img src="https://fityah.institute/assets/itv.jpg" style="width:95%;border-radius:10px;"></p></a></td>
<td style="width:calc(100% / 4);margin:0;"><a href="https://al-falahfoundationnewyork.org/" style="text-decoration:none;" target="_blank"><p style="font-size: 15px; color: white; text-align: center; font-family: helvetica; margin:0px;">Charity Organization<br><b>Al-Falah Foundation</b></p><p style="margin:0;text-align:center;"><img src="https://fityah.institute/assets/falah.jpg" style="width:95%;border-radius:10px;"></p></a></td>
<td style="width:calc(100% / 4);margin:0;"><a href="https://almamoor.org/" style="text-decoration:none;" target="_blank"><p style="font-size: 15px; color: white; text-align: center; font-family: helvetica; margin:0px;">Our School<br><b>Al-Mamoor School</b></p><p style="margin:0;text-align:center;"><img src="https://fityah.institute/assets/mamoor.jpg" style="width:95%;border-radius:10px;"></p></a></td>
</tr>
</table>
    <br>
    </div>
  </body>