<style>
    body {background-color:#2f3c5c; height:100%;box-shadow: 0 0 40px black inset;margin:0;width:100%;}
    .option:hover {background-color:#263457}
  </style>
  <body>
    <div style="height:100%;overflow-y: hidden;">
  <div style="height:100%; overflow-y:auto;">
    <br id="question">
    <p style="text-align: center; font-family: helvetica; font-size: 30px; color: white; margin: 0px;margin-bottom:5px;">Fityah Trivyah #14</p>
    <p style="text-align: center; font-family: helvetica; font-size: 20px; color: white; margin: 0px;">Which Islamic field is about belief or creed?</p><br>
        <a style="text-decoration:none;color:white;" href="#b"><div class="option" style="margin:auto; width:50%; border: 1px solid white;border-radius:5px;margin-bottom:5px"><p style="margin:10px;text-align:center; color:white;font-family:helvetica;">Aqeedah</p></div></a>
        <a style="text-decoration:none;color:white;" href="#a"><div class="option" style="margin:auto; width:50%; border: 1px solid white;border-radius:5px;margin-bottom:5px"><p style="margin:10px;text-align:center; color:white;font-family:helvetica;">Fiqh</p></div></a>
        <a style="text-decoration:none;color:white;" href="#a"><div class="option" style="margin:auto; width:50%; border: 1px solid white;border-radius:5px;margin-bottom:5px"><p style="margin:10px;text-align:center; color:white;font-family:helvetica;">Seerah</p></div></a>
        <a style="text-decoration:none;color:white;" href="#a"><div class="option" style="margin:auto; width:50%; border: 1px solid white;border-radius:5px;margin-bottom:5px"><p style="margin:10px;text-align:center; color:white;font-family:helvetica;">Tafseer</p></div></a>
      </div>
    <div style="height:100%;" id="a">
  <br><br><p style="text-align: center; font-family: helvetica; font-size: 40px; color: #BF616A; margin: 0px;margin-bottom:5px;">Incorrect</p>
    <a href="#question" style="text-decoration:none;"><p style="text-align: center; font-family: helvetica; font-size: 25px; color: #BF616A; margin: 0px;">Try Again</p></a>
    </div>
    <div style="height:100%;" id="b">
  <br><br><p style="text-align: center; font-family: helvetica; font-size: 40px; color: #A3BE8C; margin: 0px;margin-bottom:5px;">Correct</p>
  <a href="https://fityah.institute" style="text-decoration:none;"><p style="text-align: center; font-family: helvetica; font-size: 25px; color: #A3BE8C; margin: 0px;">Go Back Home</p></a>
    </div>
    </div>
  </body>
  