
<style>
  a {text-decoration: none;}
  td {width: 33%}
  img {border-radius:10px;}
  @font-face {
      font-family: arabic;
      src: url(/assets/arabic.ttf);
    }
    table {width:100%;margin-top:20px;margin-bottom:20px;}
    td {font-size:20px;color:white;font-family:helvetica;text-align:center;}
  </style>
  
  <body style="height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset; margin: 0; padding: 0; background-color: #2f3c5c;">
  <div style="height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;">
    <a href="https://www.youtube.com/embed/_eIWQgsiqwM"><table><tr>
      <td style="width:30%;">Dhariyat<br>(The Winds)</td>
      <td style="width:20%;">56-60</td>
      <td style="width:50%;">Our Purpose</td>
    </tr></table></a><hr>
    <a href="https://www.youtube.com/embed/wm5GzOaxukA"><table><tr>
      <td style="width:30%;">Al-Isra<br>(Night Journey)</td>
      <td style="width:20%;">9-15</td>
      <td style="width:50%;">Quran's Guidance</td>
    </tr></table></a><hr>
    <a href="https://media.publit.io/file/maryam.mp4"><table><tr>
      <td style="width:30%;">Maryam<br>(Mary)</td>
      <td style="width:20%;">41-50</td>
      <td style="width:50%;">Ibrahim & his father</td>
    </tr></table></a><hr>
    <a href="https://www.youtube.com/embed/IN1Dt23N-g0"><table><tr>
      <td style="width:30%;">Al-Ahzab<br>(The Confederates)</td>
      <td style="width:20%;">23</td>
      <td style="width:50%;">Among the believers...</td>
    </tr></table></a><hr>
    <a href="https://www.youtube.com/embed/uE6Bgf-q_YY"><table><tr>
      <td style="width:30%;">Al-Ankabut<br>(The Spider)</td>
      <td style="width:20%;">64-69</td>
      <td style="width:50%;">Reality of the Dunya</td>
    </tr></table></a><hr>
    <a href="https://poshlet.publit.io/file/IMG-1566-5.mp4"><table><tr>
      <td style="width:30%;">Fussilat<br>(Explained)</td>
      <td style="width:20%;">37-40</td>
      <td style="width:50%;">Imitation</td>
    </tr></table></a><hr>
    <a href="https://www.youtube.com/embed/-YOv9raptoU"><table><tr>
      <td style="width:30%;">Al-Baqarah<br>(The Cow)</td>
      <td style="width:20%;">281</td>
      <td style="width:50%;">Last Ayah Revealed</td>
    </tr></table></a><hr>
    <a href="/pages/quran/nuh.html"><table><tr>
      <td style="width:30%;">Nuh<br>(Prophet Noah)</td>
      <td style="width:20%;">1-28</td>
      <td style="width:50%;">Sheikh Mustafa Abdelrehem</td>
    </tr></table></a><hr>
    <a href="https://www.youtube.com/embed/zvRosNaMnbQ"><table><tr>
      <td style="width:30%;">Al-Hajj<br>(The Pilgrimage)</td>
      <td style="width:20%;">5-7</td>
      <td style="width:50%;">Proof of Resurrection</td>
    </tr></table></a><hr>
    <a href="https://www.youtube.com/embed/keANB2wXGeo"><table><tr>
      <td style="width:30%;">Az-Zumar<br>(The Groups)</td>
      <td style="width:20%;">53-55</td>
      <td style="width:50%;">Allah's Mercy</td>
    </tr></table></a><hr>
    <a href="https://www.youtube.com/embed/8WvHvwvdDsM"><table><tr>
      <td style="width:30%;">Al-Qamar<br>(The Moon)</td>
      <td style="width:20%;">1-55</td>
      <td style="width:50%;">Entire Surah</td>
    </tr></table></a><hr>
    <a href="https://www.youtube.com/embed/-_BrvCZCn84"><table><tr>
      <td style="width:30%;">Al-Muminoon<br>(The Believers)</td>
      <td style="width:20%;">12-16</td>
      <td style="width:50%;">Stages of Life</td>
    </tr></table></a><hr>
    <a href="https://www.youtube.com/embed/xj952kFWO4w"><table><tr>
      <td style="width:30%;">Ali Imran<br>(Family of Imran)</td>
      <td style="width:20%;">96-97</td>
      <td style="width:50%;">Hajj</td>
    </tr></table></a><hr>
    <a href="https://media.publit.io/file/IMG-0746-0.mp4"><table><tr>
      <td style="width:30%;">Al-Araf<br>(The Heights)</td>
      <td style="width:20%;">27</td>
      <td style="width:50%;">O children of Adam</td>
    </tr></table></a><hr>
    <a href="https://www.youtube.com/embed/fb9g0Z9vQZE"><table><tr>
      <td style="width:30%;">Fussilat<br>(Explained)</td>
      <td style="width:20%;">37-38</td>
      <td style="width:50%;">Prostrate to the Creator</td>
    </tr></table></a><hr>
    <a href="https://www.youtube.com/embed/O3prAQrvJhE"><table><tr>
      <td style="width:30%;">Fussilat<br>(Explained)</td>
      <td style="width:20%;">30</td>
      <td style="width:50%;">Death for the believers</td>
    </tr></table></a><hr>
    <a href="https://www.youtube.com/embed/8hEcHS9Oe94?si=qPK3nunqjFs_eyuC&amp;start=4860"><table><tr>
      <td style="width:30%;">Fussilat<br>(Explained)</td>
      <td style="width:20%;">1-44</td>
      <td style="width:50%;">Taraweeh</td>
    </tr></table></a><hr>
    <a href="https://www.youtube.com/embed/oJwSMIG5C14"><table><tr>
      <td style="width:30%;">Al-Ghashiyah<br>(The Overwhelming)</td>
      <td style="width:20%;">17-26</td>
      <td style="width:50%;">Look at Allah's Creations</td>
    </tr></table></a><hr>
    <a href="https://fityah.institute/pages/quran/ahzab.html"><table><tr>
      <td style="width:30%;">Al-Ahzab<br>(The Confederates)</td>
      <td style="width:20%;">56-58</td>
      <td style="width:50%;">Sending Salawat</td>
    </tr></table></a><hr>
    <a href="https://www.youtube.com/embed/8zlt8t0re3M"><table><tr>
      <td style="width:30%;">Al-Qiyamah<br>(The Resurrection)</td>
      <td style="width:20%;">1-40<br>(Full)</td>
      <td style="width:50%;">Death and Resurrection</td>
    </tr></table></a><hr>
    <a href="https://www.youtube.com/embed/Sv95z5GNZUg"><table><tr>
    <td style="width:30%;">Al-Anam<br>(The Cattle)</td>
    <td style="width:20%;">95-96</td>
    <td style="width:50%;">Allah's Power</td>
  </tr></table></a><hr>
    <a href="https://www.youtube.com/embed/hu6lCDSnAL8"><table><tr>
    <td style="width:30%;">Al-Ghafir<br>(The Most Forgiving)</td>
    <td style="width:20%;">39</td>
    <td style="width:50%;">This Life is Temporary</td>
  </tr></table></a><hr>
    <a href="https://www.youtube.com/embed/zfM-f9_Shc0"><table><tr>
    <td style="width:30%;">Al-Anbiya<br>(The Prophets)</td>
    <td style="width:20%;">87-88</td>
    <td style="width:50%;">Story of Yunus</td>
  </tr></table></a><hr>
  <a href="https://www.youtube.com/embed/S4yb4aAtYzQ"><table><tr>
    <td style="width:30%;">Al-Baqarah<br>(The Cow)</td>
    <td style="width:20%;">214</td>
    <td style="width:50%;">Everyone Will Face Hardships</td>
  </tr></table></a><hr>
  <a href="https://www.youtube.com/embed/gloftWgpLo4"><table><tr>
    <td style="width:30%;">An-Noor<br>(Light)</td>
    <td style="width:20%;">45</td>
    <td style="width:50%;">Types of Creatures</td>
  </tr></table></a><hr>
  <a href="https://fityah.institute/pages/quran/saffat.html"><table><tr>
    <td style="width:30%;">As-Saffat<br>(The Rankers)</td>
    <td style="width:20%;">75-113</td>
    <td style="width:50%;">Story of Eid Al-Adha</td>
  </tr></table></a><hr>
  <a href="https://www.youtube.com/embed/zn-TNCrw9BI"><table><tr>
    <td style="width:30%;">Al-Baqarah<br>(The Cow)</td>
    <td style="width:20%;">177</td>
    <td style="width:50%;">Righteousness Summarized</td>
  </tr></table></a><hr>
  <a href="https://www.youtube.com/embed/LJeguAiIHsM"><table><tr>
    <td style="width:30%;">An-Nahl<br>(The Bee)</td>
    <td style="width:20%;">177</td>
    <td style="width:50%;">Allah's Creations</td>
  </tr></table></a><hr>
  <a href="https://fityah.institute/pages/quran/kahf.html"><table><tr>
    <td style="width:30%;">Al-Kahf<br>(The Cave)</td>
    <td style="width:20%;">1-31</td>
    <td style="width:50%;">The Youth of the Cave</td>
  </tr></table></a><hr>
  <a href="https://www.youtube.com/embed/AvmAkDYLTJw"><table><tr>
    <td style="width:30%;">Ar-Rahman<br>(The Most Gracious)</td>
    <td style="width:20%;">1-21</td>
    <td style="width:50%;">Queens Borough Hall Event<br>Explanation by Ilyas</td>
  </tr></a></table>
  
  </div></body>
  