


<style>
  p {color:white;text-align:center;font-size:15px;font-family:helvetica;margin:10px; vertical-align: top;}
  a {text-decoration:underline;color:white;}
  a:hover {color:white;}
  iframe {border-radius:5px;width:100%;height:100%;border:none;}
  table {width:100%;border-collapse: collapse;}
  td {border: 0px solid white; vertical-align: top;width:20%;}
  hr {margin:0;}
  @font-face {
  font-family: arabic;
  src: url(https://fityah.institute/assets/arabic.ttf);
}
  </style>
  <body style="height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset; margin: 0; padding: 0; background-color: #2f3c5c;">
  <div style="height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;">
<br>
  <p style="font-size: 30px; color: white; text-align: center; font-family: helvetica; margin-bottom:0px;"><b>Ramadan Reflections</b></p>
    <br><p style="text-align: center; font-family: helvetica; font-size: 20px; color: white; margin: 0px;">Ramadan is the month in which the Quran was revealed. Therefore, one of the most important things we should do is gain a connection to the Quran by learning and pondering its meanings. This Ramadan, we will dedicate this page for us to share short, meaningful reflections from every juz. Please share your reflections with us through our <a href="mailto:staff@fityah.institute">email</a> or our <a href="https://fityah.institute/pages/home.html#contact">contact form</a>.</p>
    <br>
    <table>
    <tr>
    <td><p style="text-align:center;background-color:#263457;margin:3px;line-height:25px;font-family:monospace;border-radius:3px;"><a href="#1" style="text-decoration:none;">Day 1</a></p></td>
    <td><p style="text-align:center;background-color:#263457;margin:3px;line-height:25px;font-family:monospace;border-radius:3px;"><a href="#2" style="text-decoration:none;">Day 2</a></p></td>
    <td><p style="text-align:center;background-color:#263457;margin:3px;line-height:25px;font-family:monospace;border-radius:3px;"><a href="#3" style="text-decoration:none;">Day 3</a></p></td>
    <td><p style="text-align:center;background-color:#263457;margin:3px;line-height:25px;font-family:monospace;border-radius:3px;"><a href="#4" style="text-decoration:none;">Day 4</a></p></td>
    <td></td>
    </tr>
    </table>
    <br>
<hr>
<br>
<div style="margin:auto;background-color:#EBCB8B;width:50%;border-radius:5px;">
  <p style="font-size: 30px; color: #2f3c5c; text-align: center; font-family: helvetica; margin-bottom:0px;" id="4"><b>Day 4</b></p>
      <p style="text-align: center; font-family: helvetica; font-size: 15px; color: #2f3c5c; margin: 0px;"><b>Ali Imran 93 to An-Nisa 23</b></p>
      </div>
      <br>
<p style="font-family:arabic;direction:rtl;font-size:20px;margin:0;">
وَلَيْسَتِ ٱلتَّوْبَةُ لِلَّذِينَ يَعْمَلُونَ ٱلسَّيِّـَٔاتِ حَتَّىٰٓ إِذَا حَضَرَ أَحَدَهُمُ ٱلْمَوْتُ قَالَ إِنِّى تُبْتُ ٱلْـَٔـٰنَ
</p>
<p style="font-size:20px;margin:0;"><b>But repentance is not [accepted] of those who [continue to] do evil deeds up until, when death comes to one of them, he says, "Indeed, I have repented now,"</b></p>
<p style="text-align: center; font-family: helvetica; font-size: 15px; color: white; margin: 0px;">We know that Allah is the most Forgiving. But sometimes we take that as an excuse to commit more sins. We may have a bad habit and think about repenting later while continuing the sin now. However, we do not know when death will come and the doors of forgiveness are closed for us. Let us take this Ramadan as a chance to stop all our bad habits and repent sincerely.</p>
<br>
<hr>
<br>
<div style="margin:auto;background-color:#EBCB8B;width:50%;border-radius:5px;">
  <p style="font-size: 30px; color: #2f3c5c; text-align: center; font-family: helvetica; margin-bottom:0px;" id="3"><b>Day 3</b></p>
      <p style="text-align: center; font-family: helvetica; font-size: 15px; color: #2f3c5c; margin: 0px;"><b>Al-Baqarah 253 to Ali Imran 92</b></p></div><br>
      <p style="font-family:arabic;direction:rtl;font-size:20px;margin:0;">
        وَيُحَذِّرُكُمُ ٱللَّهُ نَفْسَهُۥ وَٱللَّهُ رَءُوفٌۢ بِٱلْعِبَادِ
                <p style="font-size:20px;margin:0;"><b>And Allah warns you of Himself, and Allah is Kind to [His] servants.</b></p>
        <p style="text-align: center; font-family: helvetica; font-size: 15px; color: white; margin: 0px;">In this ayah, Allah profoundly warns us about himself about himself (and his punishment), and he immediately tells us that he is kind to his servants. Al-Hasan Al-Basri said it is out of his kindness that he warns us. He warns us of his punishment so that we can avoid it. Therefore, we need to be grateful for guidance. Furthermore, this part of the ayah shows us the balance that a believer must have between fear and hope. Fear Allah and don't lose hope in his mercy.</p>
        <br>
      <p style="font-family:arabic;direction:rtl;font-size:20px;margin:0;">
        قُلْ إِن كُنتُمْ تُحِبُّونَ ٱللَّهَ فَٱتَّبِعُونِى يُحْبِبْكُمُ ٱللَّهُ وَيَغْفِرْ لَكُمْ ذُنُوبَكُمْ        </p>
        <p style="font-size:20px;margin:0;"><b>Say, [O Muhammad], "If you should love Allah, then follow me, [so] Allah will love you and forgive you your sins."</b></p>
        <p style="text-align: center; font-family: helvetica; font-size: 15px; color: white; margin: 0px;">In this ayah, Allah tells us that if we truly love him, then we should follow his messenger (SAW). And if we do so, Allah will love us and on top of that forgive us. This is how important and rewarding it is to follow the sunnah, since the prophet (SAW) is meant to be our only rolemodel, not any celebrity. As we are in Ramadan, let's try to increase in our sunnah actions, especially reviving lost sunnahs. Also, stay away from any innovations.</p>
        <br><hr>
<br>
<div style="margin:auto;background-color:#EBCB8B;width:50%;border-radius:5px;">
  <p style="font-size: 30px; color: #2f3c5c; text-align: center; font-family: helvetica; margin-bottom:0px;" id="2"><b>Day 2</b></p>
      <p style="text-align: center; font-family: helvetica; font-size: 15px; color: #2f3c5c; margin: 0px;"><b>Al-Baqarah 142 to Al-Baqarah 252</b></p></div><br>
<p style="font-family:arabic;direction:rtl;font-size:20px;margin:0;">
فَٱسْتَبِقُوا۟ ٱلْخَيْرَ ٰتِ
</p>
<p style="font-size:20px;margin:0;"><b>So race to [all that is] good.</b></p>
<p style="text-align: center; font-family: helvetica; font-size: 15px; color: white; margin: 0px;">In this ayah, Allah urges us to race and compete with each other in good. Especially as we enter Ramadan, it is important that we keep this in mind. We tend to focus on who has higher grades, salary, etc. However, we forget what really matters, which is our relationships with Allah. This Ramadan and onwards, let us encourage each other to do more good deeds. Rush to do a good deed, no matter how small.</p>
<br>
<hr>
<br>
<div style="margin:auto;background-color:#EBCB8B;width:50%;border-radius:5px;">
  <p style="font-size: 30px; color: #2f3c5c; text-align: center; font-family: helvetica; margin-bottom:0px;" id="1"><b>Day 1</b></p>
      <p style="text-align: center; font-family: helvetica; font-size: 15px; color: #2f3c5c; margin: 0px;"><b>Al-Fatihah 1 to Al-Baqarah 141</b></p></div><br>
<p style="font-family:arabic;direction:rtl;font-size:20px;margin:0;">
غَيْرِ ٱلْمَغْضُوبِ عَلَيْهِمْ وَلَا ٱلضَّآلِّينَ
</p>
<p style="font-size:20px;margin:0;"><b>not of those who have evoked [Your] anger or of those who are astray.</b></p>
<p style="text-align: center; font-family: helvetica; font-size: 15px; color: white; margin: 0px;">Whenever we recite Surah Al-Fatihah, we ask Allah to not be among those who earned his anger, which are those that have knowledge but don't act on it, nor of those that are lost, which are those that act without having knowledge. It is our responsibility to have the correct intention and seek knowledge. We must then act upon that knowledge. We should also not do innovations without any knowledge.</p>
<br>

  </div>
  </body>
  