<style>
    p {color:white;text-align:center;font-size:15px;font-family:helvetica;margin:10px; vertical-align: top;}
    a {text-decoration:underline;color:white;}
    a:hover {color:white;}
    iframe {border-radius:5px;width:100%;height:100%;border:none;}
    hr {margin:0;}
    </style>
    <body style="height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset; margin: 0; padding: 0; background-color: #2f3c5c;">
    <div style="height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;">
    <br>
  <p style="color:white;font-family:helvetica;font-size:30px;margin:0;"><b>Fityah SAT Course</b></p>
  <br>
  <p style="color:white;font-family:helvetica;font-size:20px;margin:0;">At Fityah, we always aim to assist our youth in their endeavors. Many of our members will be taking the SAT this year, a test crucial to college admissions. For this reason, we decided to offer a 30 day course, in which students will be taught from a highly qualified tutor. We guarantee that you will score above a 1400 with our course (no money back guarantee). Our test prep is better than any other test prep because of the level of individual attention and high quality instruction, all for a measly price with flexible timings. We even offer merit-based scholarships as well as financial aid.</p>
  <br>
  <table style="margin:0;width:100%;"><tr>
  <td style="width:25%;"><p style="margin:0;width:100%;text-align:center;"><img style="margin:0;width:100%;"src="https://fityah.institute/assets/ray.png"></p></td>
  <td style="width:75%;"><p style="color:white;font-family:helvetica;font-size:20px;margin:0;"><u>Our Tutor</u><br>Rayyan Rahman is a rising junior at Brooklyn Tech. As the co-founder of Fityah, he is always looking for ways to benefit the Fityah. He has extensive experience tutoring for various exams, ranging from school admissions tests, to the SHSAT, to various regents.</p>
  </td>
  </tr></table>
  <br>
  <table style="margin:0;width:100%;"><tr>
  <td style="width:calc(100% / 3);"><p style="color:white;font-family:helvetica;font-size:15px;margin:0;"><i>"Rayyan helped me get a score that I was happy with on the SHSAT."</i><br>- Zeeshan</p></td>
  <td style="width:calc(100% / 3);"><p style="color:white;font-family:helvetica;font-size:15px;margin:0;"><i>"Rayyan is the guy I go to for homework help. He explains thoroughly and simply."</i><br>- Ahnaf</p></td>
  <td style="width:calc(100% / 3);"><p style="color:white;font-family:helvetica;font-size:15px;margin:0;"><i>"Rayyan is a great tutor. He helped me do good on all my regents"</i><br>- Adnan</p></td>
  </tr></table>
  <br>
  <p style="color:white;font-family:helvetica;font-size:20px;margin:0;">What are you waiting for? Enroll before November 1st!</p><br>
  <a target="_blank" href="https://discord.gg/qVqhKd6V" style="text-decoration:none;"><p style="color:#2f3c5c;font-family:helvetica;font-size:25px;background-color:#EBCB8B;width:50%;margin:auto;border-radius:10px;box-shadow:0px 0px 20px black;"><br><b>Enroll now for FREE!</b><br><br></p></a>
  <br>
  <p style="color:white;font-family:helvetica;font-size:20px;margin:0;">By enrolling, you agree to follow the rules:</p>
  <p style="color:white;font-family:helvetica;font-size:15px;margin:0;">- No disturbances will be tolerated<br>- You must try to join every class<br>- Participation when called on is necessary<br>- Cameras must be on unless excused by teacher<br>- Put in effort so the course actually benefits you</p>
  <br>
  </div>
    </body>