<style>
  a {text-decoration: none;}
  p {text-align: center; color: white; font-family: helvetica; margin:5px;}
  img {border-radius:10px;}
  hr {margin:0;}
  </style>
  
  <body style="height: 100%; overflow: hidden; box-shadow: 0 0 40px black inset; margin: 0; padding: 0; background-color: #2f3c5c;">
  <div style="height: 100%; width:100%; margin: 0; overflow-x: hidden; overflow-y: auto;">
    <br>
    <table style="margin:auto; width:90%;">
      <tr>
        <td style="width:50%;"><a href="https://www.youtube.com/embed/2Ckiw_1uPkg"><p style="font-family: monospace; font-size:20px;">Episode 14</p><p style="font-size: 25px;">Husn Addhann</p><p>In this episode, Ameer delves into the idea of Husn Addhann, or having good thoughts, along with its benefits. This includes thinking good about other people and thinking good of Allah.</p></a></td>
        <td style="width:50%;"><a href="https://www.youtube.com/embed/2Ckiw_1uPkg"><p style="text-align:center;"><img src="/pages/talks/ep14.png" style="width:90%;"></p></a></td>
      </tr>
    </table>
    <br>
    <hr>
    <br>
    <table style="margin:auto; width:90%;">
      <tr>
        <td style="width:50%;"><a href="https://www.youtube.com/embed/5nsnl6g1sJ8"><p style="font-family: monospace; font-size:20px;">Episode 13</p><p style="font-size: 25px;">Ash-Shakoor</p><p>In this episode, Ishaq explains the name of Allah Ash-Shakoor, which means the most appreciative. This talk gives insightful examples of Allah's appreciation and how we should show appreciation.</p></a></td>
        <td style="width:50%;"><a href="https://www.youtube.com/embed/5nsnl6g1sJ8"><p style="text-align:center;"><img src="/pages/talks/ep13.jpg" style="width:90%;"></p></a></td>
      </tr>
    </table>
    <br>
    <hr>
    <br>
    <table style="margin:auto; width:90%;">
      <tr>
        <td style="width:50%;"><a href="https://www.youtube.com/embed/AvBuYVzq3kc"><p style="font-family: monospace; font-size:20px;">Episode 12</p><p style="font-size: 25px;">Back to School Advice</p><p>In this episode, Adnan gives advice for going back to school. He delves into intention, tawakkul, memory, procrastination, and good company.</p></a></td>
        <td style="width:50%;"><a href="https://www.youtube.com/embed/AvBuYVzq3kc"><p style="text-align:center;"><img src="/pages/talks/ep12.jpg" style="width:90%;"></p></a></td>
      </tr>
    </table>
    <br>
    <hr>
    <br>
    <table style="margin:auto; width:90%;">
      <tr>
        <td style="width:50%;"><a href="https://media.publit.io/file/episode11.mp4"><p style="font-family: monospace; font-size:20px;">Episode 11</p><p style="font-size: 25px;">Duas of Musa</p><p>In this episode, Zeeshan talks about 4 duas made by Musa AS from the Quran and how we can implement them.</p></a></td>
        <td style="width:50%;"><a href="https://media.publit.io/file/episode11.mp4"><p style="text-align:center;"><img src="/pages/talks/ep11.png" style="width:90%;"></p></a></td>
      </tr>
    </table>
    <br>
    <hr>
    <br>
    <table style="margin:auto; width:90%;">
      <tr>
        <td style="width:50%;"><a href="https://www.youtube.com/embed/DGUOccUr0IA"><p style="font-family: monospace; font-size:20px;">Episode 10</p><p style="font-size: 25px;">Barakah</p><p>In this episode, Ishaq explains what is barakah, with examples from the life of the prophet SAW, and he explains how we can gain barakah in our lives.</p></a></td>
        <td style="width:50%;"><a href="https://www.youtube.com/embed/DGUOccUr0IA"><p style="text-align:center;"><img src="/pages/talks/ep10.jpg" style="width:90%;"></p></a></td>
      </tr>
    </table>
    <br>
    <hr>
    <br>
    <table style="margin:auto; width:90%;">
      <tr>
        <td style="width:50%;"><a href="https://www.youtube.com/embed/BUtljtFZfr0"><p style="font-family: monospace; font-size:20px;">Episode 9</p><p style="font-size: 25px;">Surah Sajdah</p><p>In this episode, Adnan, Ilyas, Ajyan, Ahnaf, Emam, and Zeeshan explain the entire Surah Sajdah, which was taught to us by Sr. Houria</p></a></td>
        <td style="width:50%;"><a href="https://www.youtube.com/embed/BUtljtFZfr0"><p style="text-align:center;"><img src="/pages/talks/ep9.png" style="width:90%;"></p></a></td>
      </tr>
    </table>
    <br>
    <hr>
    <br>
    <table style="margin:auto; width:90%;">
      <tr>
        <td style="width:50%;"><a href="https://www.youtube.com/embed/qLRzOyaa9oY"><p style="font-family: monospace; font-size:20px;">Episode 8</p><p style="font-size: 25px;">Laylatul Qadr</p><p>This episode is a Khutbah by Zeeshan about the significance of Laylatul Qadr and how we should spend it.</p></a></td>
        <td style="width:50%;"><a href="https://www.youtube.com/embed/qLRzOyaa9oY"><p style="text-align:center;"><img src="/pages/talks/ep8.jpg" style="width:90%;"></p></a></td>
      </tr>
    </table>
    <br>
    <hr>
    <br>
    <table style="margin:auto; width:90%;">
      <tr>
        <td style="width:50%;"><a href="https://www.youtube.com/embed/Rld2wRiwi-c"><p style="font-family: monospace; font-size:20px;">Episode 7</p><p style="font-size: 25px;">Surah Luqman 12-19</p><p>This episode is the continuation of the explanation of Surah Luqman, from ayah 12-19.</p></a></td>
        <td style="width:50%;"><a href="https://www.youtube.com/embed/Rld2wRiwi-c"><p style="text-align:center;"><img src="/pages/talks/ep7.jpg" style="width:90%;"></p></a></td>
      </tr>
    </table>
    <br>
    <hr>
    <br>
    <table style="margin:auto; width:90%;">
      <tr>
        <td style="width:50%;"><a href="https://www.youtube.com/embed/Ieqw86GsY0o"><p style="font-family: monospace; font-size:20px;">Episode 6</p><p style="font-size: 25px;">Reality of Provisions</p><p>This episode is a short story that teaches us important lessons about provisions.</p></a></td>
        <td style="width:50%;"><a href="https://www.youtube.com/embed/Ieqw86GsY0o"><p style="text-align:center;"><img src="/pages/talks/ep6.png" style="width:90%;"></p></a></td>
      </tr>
    </table>
    <br>
    <hr>
    <br>
    <table style="margin:auto; width:90%;">
      <tr>
        <td style="width:50%;"><a href="https://www.youtube.com/embed/4Pwb4UOLF_U"><p style="font-family: monospace; font-size:20px;">Episode 5</p><p style="font-size: 25px;">Surah Luqman 1-11</p><p>This is part 1 of Surah Luqman where we explain the first 11 ayahs of Surah Luqman.</p></a></td>
        <td style="width:50%;"><a href="https://www.youtube.com/embed/4Pwb4UOLF_U"><p style="text-align:center;"><img src="/pages/talks/ep5.jpg" style="width:90%;"></p></a></td>
      </tr>
    </table>
    <br>
    <hr>
    <br>
    <table style="margin:auto; width:90%;">
      <tr>
        <td style="width:50%;"><a href="https://www.youtube.com/embed/D-kU9JNaHtE"><p style="font-family: monospace; font-size:20px;">Episode 4</p><p style="font-size: 25px;">Parables in the Quran</p><p>In this episode, Zeeshan, Ahnaf, and Rayyan present 3 parables from the Quran with lessons in them.</p></a></td>
        <td style="width:50%;"><a href="https://www.youtube.com/embed/D-kU9JNaHtE"><p style="text-align:center;"><img src="/pages/talks/ep4.jpg" style="width:90%;"></p></a></td>
      </tr>
    </table>
    <br>
    <hr>
    <br>
    <table style="margin:auto; width:90%;">
      <tr>
        <td style="width:50%;"><a href="https://www.youtube.com/embed/gMNRpR871_4"><p style="font-family: monospace; font-size:20px;">Episode 3</p></a><a href="https://www.youtube.com/embed/gMNRpR871_4"><p style="font-size: 25px;">Rain</p></a><a href="https://www.youtube.com/embed/gMNRpR871_4"><p>This is a presentation made by Adnan and Zeeshan on things we should do when it rains, including making dua, being grateful, standing outside, and reflecting.</p></a></td>
        <td style="width:50%;"><a href="https://www.youtube.com/embed/gMNRpR871_4"><p style="text-align:center;"><img src="/pages/talks/ep3.png" style="width:90%;"></p></a></td>
      </tr>
    </table>
    <br>
    <hr>
    <br>
  <table style="margin:auto; width:90%;">
    <tr>
      <td style="width:50%;"><a href="https://www.youtube.com/embed/bRVCzP1ws4I"><p style="font-family: monospace; font-size:20px;">Episode 2</p></a><a href="https://www.youtube.com/embed/bRVCzP1ws4I"><p style="font-size: 25px;">Miracles of The Quran</p></a><a href="https://www.youtube.com/embed/bRVCzP1ws4I"><p>This is a portion of a Khutbah by Ilyas on some of the scientific miracles in The Quran.</p></a></td>
      <td style="width:50%;"><a href="https://www.youtube.com/embed/bRVCzP1ws4I"><p style="text-align:center;"><img src="/pages/talks/ep2.png" style="width:90%;"></p></a></td>
    </tr>
  </table>
    <br>
    <hr>
    <br>
  <table style="margin:auto; width:90%;">
    <tr>
      <td style="width:50%;"><a href="https://www.youtube.com/embed/kzVZZWJLRF8"><p style="font-family: monospace; font-size:20px;">Episode 1</p></a><a href="https://www.youtube.com/embed/kzVZZWJLRF8"><p style="font-size: 25px;">Walk or Run?</p></a><a href="https://www.youtube.com/embed/kzVZZWJLRF8"><p>In this video, we answer the question of if we should walk or run to the masjid when we're late.</p></a></td>
      <td style="width:50%;"><a href="https://www.youtube.com/embed/kzVZZWJLRF8"><p style="text-align:center;"><img src="/pages/talks/ep1.jpg" style="width:90%;"></p></a></td>
    </tr>
  </table>
    <br>
  </div>
  </body>